{% extends "layouts/base.html" %}

{% block title %} On-Demand - Add Programs {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 1.5fr 3fr 2fr 1fr;
    gap: 10px;
  }

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
  }

  .form-check {
    display: flex;
    align-items: center;
    gap: 3.5em; /* Adjust the gap as needed */
  }

  .form-check-label {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .form-check-input {
    flex-shrink: 0;
  }

  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
  }

  .btn {
    width: 100%;
    box-sizing: border-box;
  }

  .program-poster {
    width: 15%;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
  }

  .program-content {
    overflow: hidden;
  }

  .common-div {
      overflow-x: auto;
      border: 1px solid #ccc;
      padding: 10px;
      overflow-y: scroll;
      contain: strict;
      overscroll-behavior: contain;
  }
  .column-div-1 {
      width: 27%;
  }
  .column-div-2 {
      width: 27%;
      margin-left: 1%;
  }

  .column-div-3 {
      width: 27%;
      margin-left: 1%;
  }

  .column-div-4 {
      width: 14%;
      margin-left: 1%;
  }
</style>
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row min-vh-80 h-100">
      <div class="col-12">
        <form method="POST" action="/addprograms" id="process-form" enctype="multipart/form-data">
          <!-- Add Programs Area -->
          {% if html_program_add_message %}
            <div id="html_program_add_message">
              <button type="submit" name="action" value="program_add_cancel" class="btn bg-gradient-primary my-2 mb-2" style="width: 27%; margin-right: 10px;" {% if html_done_generate_flag or html_season_episode_manual_flag %}disabled{% endif %}>Cancel / Clear</button>
              {{ html_program_add_message }}
            </div>
            <hr>
          {% endif %}
          <div class="row" {% if html_program_search_results or html_season_episode_manual_flag or html_video_manual_flag or html_done_generate_flag or html_stream_link_override_movie_flag or html_season_episodes or html_video_season_episodes %}hidden{% else %}style="height: 75vh;"{% endif %}>
            <!-- Search Fields -->
            <div class="common-div column-div-1">
              <hr>
              <h4 style="text-align: center;">Search Selections
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Searching-for-Movies-and-Shows" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>
              </h4>
              <hr>
              <div style="margin-top: 8px;">
                <label for="program_add"><b>Search / Manual Term</b></label>
                <input type="text" id="program_add" name="program_add" placeholder="i.e., Golden Girls" value="{{ html_program_add_prior }}" style="width: 99%;"{% if html_done_generate_flag or html_season_episode_manual_flag %}disabled{% endif %}>
              </div>
              <div style="margin-top: 8px;">
                <label for="num_results"><b>Number of Results</b></label>
                <input type="text" id="num_results" name="num_results" value="{{ html_num_results }}" placeholder="i.e., 9" title="{{ html_num_results }}" style="width: 98%;">
              </div>
              <hr>
              <div>
                <button type="submit" name="action" value="program_add_search" class="btn bg-gradient-primary my-2 mb-2" style="width: 98%;" {% if html_done_generate_flag or html_season_episode_manual_flag %}disabled{% endif %}>Search Movies & Shows</button>
                <button type="submit" name="action" value="program_add_search_videos" class="btn bg-gradient-primary my-2 mb-2" style="width: 98%;" {% if html_done_generate_flag or html_season_episode_manual_flag or html_search_videos_disabled %}disabled{% endif %}>Search Videos</button>
              </div>
            </div>
            <!-- Provider Fields -->
            <div class="common-div column-div-2">
              <hr>
              <h4 style="text-align: center;">New & Updated On My Providers
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Searching-for-Movies-and-Shows" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>
              </h4>
              <hr>
              <div style="margin-top: 8px;">
                <label for="date_new"><b>Check Date</b></label>
                <input type="date" id="date_new" name="date_new" value="{{ html_date_new_default }}" style="width: 98%;" {% if html_done_generate_flag or html_season_episode_manual_flag %}disabled{% endif %}>
              </div>
              <div style="margin-top: 8px;">
                <label for="provider_status"><b>Provider Status</b>
                  <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Settings:-Provider-Groups" target="_blank">
                    <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                  </a>
                </label>
                <select class="select2" name="provider_status" id="provider_status" style="width: 98%;">
                  {% for provider_status_item in html_provider_statuses %}
                      <option value="{{ provider_status_item }}" {% if provider_status_item == html_provider_status %}selected{% endif %}>{{ provider_status_item }}</option>
                  {% endfor %}
                </select>
              </div>
              <hr>
              <div>
                <button type="submit" name="action" value="program_new_search" class="btn bg-gradient-primary my-2 mb-2" style="width: 98%;" {% if html_done_generate_flag or html_season_episode_manual_flag %}disabled{% endif %}>Selected Date</button>
                <button type="submit" name="action" value="program_new_today" class="btn bg-gradient-primary my-2 mb-2" style="width: 98%;" {% if html_done_generate_flag or html_season_episode_manual_flag %}disabled{% endif %}>Today</button>
              </div>
            </div>
            <!-- Manual Fields -->
            <div class="common-div column-div-3">
              <hr>
              <h4 style="text-align: center;">Manual Selections
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Adding-Manual-Movies,-Shows,-and-Videos" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>
              </h4>
              <hr>
              <div style="margin-top: 8px;">
                <label for="release_year"><b>Release Year</b></label>
                <input type="text" id="release_year" name="release_year" placeholder="i.e., 2024" style="width: 98%;">
              </div>
              <div style="margin-top: 8px;">
                <label for="program_type"><b>Program Type</b></label>
                <select class="select2" name="program_type" id="program_type" style="width: 98%;">
                  {% for program_type_item in html_program_types %}
                      <option value="{{ program_type_item }}" {% if program_type_item == html_program_type_default %}selected{% endif %} style="width: auto; min-width: 100%;">{{ program_type_item }}</option>
                  {% endfor %}
                </select>
              </div>
              <hr>
              <div>
                <button type="submit" name="action" value="program_add_manual" class="btn bg-gradient-primary my-2 mb-2" style="width: 98%;" {% if html_done_generate_flag or html_season_episode_manual_flag %}disabled{% endif %}>Add Manual</button>
              </div>
            </div>
            <!-- Search Options -->
            <div class="common-div column-div-4">
              <hr>
              <h4 style="text-align: center;">Options
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Settings:-Search-Defaults" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>
              </h4>
              <hr>
              <h6 style="text-align: center;">General</h6>
              <div style="margin-top: 8px;">
                <label for="hide_bookmarked"><b>Hide Bookmarked</b></label>
                <div class="form-check form-switch ps-0 is-filled" style="margin-left: 2.7em;">
                  <input type="checkbox" class="form-check-input" id="hide_bookmarked" name="hide_bookmarked"{% if html_hide_bookmarked == "On" %}checked{% endif %}>
                </div>
              </div>
              <hr>
              <h6 style="text-align: center;">Movies & Shows</h6>
              <div style="margin-top: 8px;">
                <label for="country_code"><b>Country Code</b></label>
                <select class="select2" name="country_code" id="country_code" style="width: 98%;">
                  {% if html_country_code == "US" %}
                    <option value="US" selected>US</option>
                  {% else %}
                    <option value="US">US</option>
                  {% endif %}
                  {% for country_code_item in html_valid_country_codes %}
                      <option value="{{ country_code_item }}" {% if country_code_item == html_country_code %}selected{% endif %}>{{ country_code_item }}</option>
                  {% endfor %}
                </select>
              </div>
              <div style="margin-top: 8px;">
                <label for="language_code"><b>Language Code</b></label>
                <select class="select2" name="language_code" id="language_code" style="width: 98%;">
                  {% for language_code_item in html_valid_language_codes %}
                      <option value="{{ language_code_item }}" {% if language_code_item == html_language_code %}selected{% endif %}>{{ language_code_item }}</option>
                  {% endfor %}
              </select>
              </div>
              <hr>
              <div>
                <button type="submit" name="action" value="search_defaults_save" class="btn bg-gradient-primary my-2 mb-2" style="width: 98%;" {% if html_done_generate_flag or html_season_episode_manual_flag %}disabled{% endif %}>Save Default</button>
                <button type="submit" name="action" value="program_add_cancel" class="btn bg-gradient-primary my-2 mb-2" style="width: 98%;" {% if html_done_generate_flag or html_season_episode_manual_flag %}disabled{% endif %}>Cancel / Clear</button>
              </div>
            </div>
          </div>
          <!-- Display search results -->
          <div class="text-center">
            {% if html_program_search_results %}
              <div style="margin-right: 70px;">
                {% if html_program_add_filter_panel == 'on' %}
                  <div>
                    <button type="submit" name="action" value="program_add_resort_filter_movie" class="btn bg-gradient-primary w-15 my-2 mb-2">Only Movies</button>
                    <button type="submit" name="action" value="program_add_resort_filter_show" class="btn bg-gradient-primary w-15 my-2 mb-2">Only Shows</button>
                    <button type="submit" name="action" value="program_add_resort_filter_video" class="btn bg-gradient-primary w-15 my-2 mb-2" {% if html_search_videos_disabled %}disabled{% endif %}>Only Videos</button>
                  </div>
                {% endif %}
                {% if html_program_add_resort_panel == 'on' %}
                  <div>
                    <button type="submit" name="action" value="program_add_resort_alpha" class="btn bg-gradient-primary w-25 my-2 mb-2">Resort Results Alphabetically</button>
                  </div>
                {% endif %}
              </div>
              {% if html_program_add_filter_panel == 'on' or html_program_add_resort_panel == 'on' %}
              <hr>
              {% endif %}
              {% for program in html_program_search_results %}
                <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
                  <div class="form-check form-switch ps-0 is-filled" style="margin-right: 5px;">
                    <input type="checkbox" class="form-check-input program-checkbox" id="select_program_search_result_{{ loop.index }}" name="select_program_search_result_{{ loop.index }}" style="transform: translateY(-50%); position: relative; top: 50%;" onclick="checkCheckboxes()">
                  </div>
                  <button type="submit" name="action" class="btn bg-gradient-secondary w-55 my-2 mb-2" value="program_search_result_{{ loop.index }}" style="margin-left: 10px;">
                    <img src="{{ program.poster }}" class="program-poster" alt="Poster">
                    <div class="program-content">
                      <div style="font-size: 2em;">{{ program.title }} ({{ program.release_year }}) | {{ program.object_type }}</div>
                      <hr>
                      <div style="text-align: left; text-transform: none; font-weight: normal; font-size: 1.25em;">{{ program.short_description }}</div>
                      <div style="text-align: left; text-transform: none; font-weight: normal; font-size: 0.9em;">IMDB: {{ program.score }} / 10.0</div>
                      <div class="row">
                        <div class="col-12 my-1"></div>
                      </div>
                      <div style="text-align: center; text-transform: none; font-weight: normal; font-size: 1.3em;">
                        <hr style="display: inline-block; width: calc(50% - 90px); margin: 0 10px; vertical-align: middle;">
                        <b>Available On</b>
                        <hr style="display: inline-block; width: calc(50% - 90px); margin: 0 10px; vertical-align: middle;">
                      </div>                    
                      <div style="display: flex; flex-wrap: wrap; align-items: center;">
                        {% for icon in program.offers_list %}
                          <img src="{{ icon }}" style="width: 55px; height: 55px; margin-right: 5px; margin-top: 5px; object-fit: contain;">
                        {% endfor %}
                      </div>
                    </div>
                  </button>
                  <button type="submit" name="action" class="btn bg-gradient-secondary w-5 my-2 mb-2" value="hide_program_search_result_{{ loop.index }}" style="margin-left: 10px;">Hide</button>
                  <!-- Spacer row -->
                  <div class="row">
                    <div class="col-12 my-2"></div>
                  </div>
                </div>
              {% endfor %}
              <hr>
              <div id="floating-buttons" style="position: sticky; bottom: 0; padding: 10px; display: none; margin-right: 70px;">
                <button type="submit" name="action" value="program_search_result_selected" class="btn bg-gradient-primary w-25 my-2 mb-2">Bookmark All Selected</button>
                <button type="submit" name="action" value="hide_program_search_result_selected" class="btn bg-gradient-primary w-25 my-2 mb-2">Hide All Selected</button>
              </div>        
            {% endif %}
          </div>
          <!-- Get manual episodes -->
          <div>
            {% if html_season_episode_manual_flag %}
              <label for="last_season_number">Last Season Number:</label>
              <input type="number" id="last_season_number" name="last_season_number" placeholder="i.e., 1, 2, 3, etc..." style="width: calc(30%);" oninput="generateEpisodeInputs()" min="1">
              <div id="episode_inputs"></div>
              <hr>
              <button type="submit" name="action" value="season_episode_manual_next" class="btn bg-gradient-primary w-25 my-2 mb-2" id="season_episode_manual_next" disabled onclick="allowNavigation_season_episode_manual()">Next...</button>
              <hr>
              <script>
                let allowNavigate_season_episode_manual = false;

                function allowNavigation_season_episode_manual() {
                  allowNavigate_season_episode_manual = true;
                }

                window.onbeforeunload = function() {
                  if (!allowNavigate_season_episode_manual) {
                    return "WARNING: No episodes will be created if you navigate away now. Please finish filling out the fields!";
                  }
                };

                function generateEpisodeInputs() {
                  const lastSeasonNumber = document.getElementById('last_season_number').value;
                  const episodeInputsDiv = document.getElementById('episode_inputs');
                  episodeInputsDiv.innerHTML = ''; // Clear previous inputs

                  for (let i = 1; i <= lastSeasonNumber; i++) {
                    const label = document.createElement('label');
                    label.setAttribute('for', `season_episode_number_${i}`);
                    label.textContent = `Number of Episodes for Season ${i}:`;

                    const input = document.createElement('input');
                    input.type = 'number';
                    input.id = `season_episode_number_${i}`;
                    input.name = `season_episode_number_${i}`;
                    input.placeholder = 'i.e., 1, 2, 3, etc...';
                    input.style.width = 'calc(30%)';
                    input.min = '1';
                    input.oninput = checkAllInputsFilled;

                    episodeInputsDiv.appendChild(label);
                    episodeInputsDiv.appendChild(input);
                    episodeInputsDiv.appendChild(document.createElement('br'));
                  }

                  checkAllInputsFilled(); // Re-check all inputs after generating new ones
                }

                function checkAllInputsFilled() {
                  const lastSeasonNumber = document.getElementById('last_season_number').value;
                  let allFilled = true;

                  for (let i = 1; i <= lastSeasonNumber; i++) {
                    const input = document.getElementById(`season_episode_number_${i}`);
                    if (!input.value || input.value <= 0) {
                      allFilled = false;
                      break;
                    }
                  }

                  document.getElementById('season_episode_manual_next').disabled = !allFilled;
                }
              </script>
            {% endif %}
          </div>
          <!-- Get manual videos -->
          <div>
            {% if html_video_manual_flag %}
              <label for="number_of_videos">Number of Videos in Group:</label>
              <input type="number" id="number_of_videos" name="number_of_videos" placeholder="i.e., 1, 2, 3, etc..." style="width: calc(30%);" oninput="checkAllInputsFilledVideos()" min="1">
              <hr>
              <button type="submit" name="action" value="video_manual_next" class="btn bg-gradient-primary w-25 my-2 mb-2" id="video_manual_next" disabled onclick="allowNavigation_video_manual()">Next...</button>
              <hr>
              <script>
                let allowNavigate_video_manual = false;

                function allowNavigation_video_manual() {
                  allowNavigate_video_manual = true;
                }

                window.onbeforeunload = function() {
                  if (!allowNavigate_video_manual) {
                    return "WARNING: No videos will be created if you navigate away now. Please finish filling out the fields!";
                  }
                };

                function checkAllInputsFilledVideos() {
                  const numberOfVideos = document.getElementById('number_of_videos').value;
                  let allFilled = true;

                  if (!numberOfVideos || numberOfVideos <= 0) {
                    allFilled = false;
                  }

                  document.getElementById('video_manual_next').disabled = !allFilled;
                }
              </script>
            {% endif %}
          </div>
          <!-- Bookmark Section -->
          <div>
            {% if html_done_generate_flag %}
              <label for="field_title"><b>Title:</b></label>
              <input type="text" id="field_title" name="field_title" value="{{ html_title_selected }}" placeholder="A 'Title' is required..." style="width: 30%; margin-right: 10px;" title="{{ html_title_selected }}">
              <label for="field_release_year"><b>Release Year:</b></label>
              <input type="text" id="field_release_year" name="field_release_year" value="{{ html_release_year_selected }}" placeholder="Enter year (i.e., 2024)" style="width: 10%; margin-right: 10px;" title="{{ html_release_year_selected }}">
              <label for="field_bookmark_action"><b>Bookmark Action:</b>
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Bookmark-Actions" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>
              </label>
              <select class="select2" name="field_bookmark_action" id="field_bookmark_action" style="width: 15%;">
                {% for html_bookmark_action in html_bookmark_actions %}
                  <option {% if html_bookmark_action_selected == html_bookmark_action %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_bookmark_action }}</option>
                {% endfor %}
              </select>
              <button class="btn bg-gradient-primary my-2 mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#labelPanel" aria-expanded="true" aria-controls="labelPanel" style="width: 10%; margin-right: 10px; margin-left: 10px;">
                Labels
              </button>
              <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Settings:-Labels" target="_blank">
                <i class="material-icons opacity-10" style="position: relative; top: 3px; left: -5px;">help_outline</i>
              </a>
              <div class="collapse" id="labelPanel">
                <div class="content-placeholder">
                  <div class="grid-container dynamic-bg" style="text-align: center; position: sticky; top: 0; z-index: 10;">
                    <div class="grid-item"><h6>Assign</h6></div>
                    <div class="grid-item"><h6>Label</h6></div>
                  </div>
                  {% for item in html_webpage_label_maps %}
                    <input type="hidden" name="webpage_label_id_{{ loop.index }}" id="webpage_label_id_{{ loop.index }}" value="{{ item.webpage_label_id }}">
                    <div class="grid-container">
                      <div class="grid-item">
                        <div class="form-check form-switch ps-0 is-filled">
                          <input type="checkbox" id="webpage_label_active_{{ loop.index }}" name="webpage_label_active_{{ loop.index }}" class="form-check-input" {% if item.webpage_label_active == 'On' %}checked{% endif %}>
                        </div>
                      </div>
                      <div class="grid-item">
                        <input type="text" id="webpage_label_name_{{ loop.index }}" name="webpage_label_name_{{ loop.index }}" value="{{ item.webpage_label_name }}" readonly style="background-color: #d1cdcde5;" title="{{ item.webpage_label_name }}">
                      </div>
                    </div>
                  {% endfor %}
                </div>    
              </div>
              <hr>
            {% endif %}
          </div>
          <!-- Selected Movie Options -->
          <div>
            {% if html_stream_link_override_movie_flag %}
            <h4>OPTIONAL: Movie Settings
              <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Basic-Selections" target="_blank">
                <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
              </a>
            </h4>
            <ul>
              <li>Mark the movie as 'watched' by unchecking.</li>
              <li>Override any potentially generated Stream Link/File by entering an address. NOTE: This is required for manual programs and Stream Files.</li>
              <li>If desired, select a 'Special Action' such as making the selection a Stream File (STRM) 
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Special-Actions-%E2%80%90-Stream-Files" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>
                or picking a preferred Streaming Service.</li>
            </ul>
            <div class="grid-container dynamic-bg" style="text-align: center; position: sticky; top: 0; z-index: 10;">
              <div class="grid-item"><h6>Watched / Unwatched</h6></div>
              <div class="grid-item"><h6>Stream Link/File Override</h6></div>
              <div class="grid-item"><h6>Special Action
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Special-Actions" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>
              </h6></div>
            </div>
            <div class="grid-container" style="text-align: center;">
              <div class="grid-item">
                <div class="form-check form-switch ps-0 is-filled">
                  <input type="checkbox" class="form-check-input" id="status_movie" name="status_movie" checked>
                </div>
              </div>
              <div class="grid-item">
                <input type="text" id="stream_link_override_movie" name="stream_link_override_movie" placeholder="i.e., https://link_to_website.com/path_to_streamlink">
              </div>
              <div class="grid-item">
                <select name="special_action_movie" id="special_action_movie" style="width: 100%; max-width: 100%;">
                  {% for html_special_action in html_special_actions %}
                    <option {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <hr>
            {% endif %}
          </div>
          <!-- Selected Show Options -->
          <div>
            {% if html_season_episodes %}
              <h4 for="select_episodes">OPTIONAL: Episode Settings
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Basic-Selections" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>
              </h4>
              <ul>
                <li>Mark episodes as 'watched' by unchecking.</li>
                <li>Override any potentially generated Stream Link/File by entering an address. NOTE: This is required for manual programs and Stream Files.</li>
                <li>If desired, select a 'Special Action' such as making the selection a Stream File (STRM) 
                  <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Special-Actions-%E2%80%90-Stream-Files" target="_blank">
                    <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                  </a>
                  or picking a preferred Streaming Service.</li>
                <li>Add a prefix to Stream Link/File file names for tracking purposes (i.e., [DUB] vs. [SUB]) by entering a value.</li>
              </ul>
              <div class="grid-container dynamic-bg" style="text-align: center; position: sticky; top: 0; z-index: 10;">
                <div class="grid-item"><h6>Watched / Unwatched</h6></div>
                <div class="grid-item"><h6>Stream Link/File Override</h6></div>
                <div class="grid-item"><h6>Special Action
                  <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Special-Actions" target="_blank">
                    <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                  </a>
                </h6></div>
                <div class="grid-item"><h6>Episode Prefix</h6></div>
              </div>
              <div class="grid-container" style="text-align: center;">
                <div class="grid-item">
                  <div class="form-check form-switch ps-0 is-filled">
                    <label class="form-check-label text-body text-truncate w-80 mb-0" for="check_all_global" style="font-weight: bold; font-size: 1.2em;">All Episodes</label>
                    <input type="checkbox" class="form-check-input" id="check_all_global" onclick="toggleAllCheckboxes(this)" checked>
                  </div>
                </div>
                <div class="grid-item">
                  <hr style="border: 3px solid; width: 100%;">
                </div>
                <div class="grid-item">
                  <select name="global_special_action" id="global_special_action" onchange="toggleAllDropdowns(this)" style="width: 100%; max-width: 100%;">
                    {% for html_special_action in html_special_actions %}
                      <option {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="grid-item">
                  <input type="text" id="global_episode_prefix" name="global_episode_prefix" placeholder="i.e., (SUB), (DUB)" oninput="toggleAllTextBoxes(this)">
                </div>
              </div>
              {% set processed_seasons = {} %}
              {% for item in html_season_episodes %}
                {% set season = item.season_episode.split('E')[0] %}
                {% if season not in processed_seasons %}
                  {% set processed_seasons = processed_seasons.update({season: True}) %}
                  <div class="grid-container" style="text-align: center;">
                    <div class="grid-item">
                      <div class="form-check form-switch ps-0 is-filled">
                        <label class="form-check-label text-body text-truncate w-80 mb-0" for="check_all_{{ season }}" style="font-weight: bold; font-size: 1.1em;">All {{ season }}</label>
                        <input type="checkbox" class="form-check-input" id="check_all_{{ season }}" onclick="toggleSeasonCheckboxes('{{ season }}', this)" checked>
                      </div>
                    </div>
                    <div class="grid-item">
                      <hr style="border: 3px solid; width: 100%;">
                    </div>
                    <div class="grid-item">
                      <select name="season_special_action_{{ season }}" id="season_special_action_{{ season }}" class="{{ season }}" onchange="toggleSeasonDropdowns('{{ season }}', this)" style="width: 100%; max-width: 100%;">
                        {% for html_special_action in html_special_actions %}
                          <option {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="grid-item">
                      <input type="text" id="season_episode_prefix_{{ season }}" name="season_episode_prefix_{{ season }}" placeholder="i.e., (SUB), (DUB)" class="{{ season }}" oninput="toggleSeasonTextBoxes('{{ season }}', this)">
                    </div>
                  </div>
                {% endif %}
                <input type="hidden" name="field_season_episode_{{ loop.index }}" id="field_season_episode_{{ loop.index }}" value="{{ item.season_episode }}">
                <div class="grid-container">
                  <div class="grid-item">
                    <div class="form-check form-switch ps-0 is-filled">
                      <label class="form-check-label text-body text-truncate w-80 mb-0" for="field_status_{{ loop.index }}">{{ item.season_episode }}</label>
                      <input type="checkbox" class="form-check-input episode-checkbox {{ season }}" id="field_status_{{ loop.index }}" name="field_status_{{ loop.index }}" checked>
                    </div>
                  </div>
                  <div class="grid-item">
                    <input type="text" id="field_stream_link_override_{{ loop.index }}" name="field_stream_link_override_{{ loop.index }}" value="{{ item.stream_link_override }}" placeholder="i.e., https://link_to_website.com/path_to_streamlink">
                  </div>
                  <div class="grid-item">
                    <select name="field_special_action_{{ loop.index }}" id="field_special_action_{{ loop.index }}" class="{{ season }}" style="width: 100%; max-width: 100%;">
                      {% for html_special_action in html_special_actions %}
                        <option {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="grid-item">
                    <input type="text" id="field_episode_prefix_{{ loop.index }}" name="field_episode_prefix_{{ loop.index }}" value="{{ item.season_episode_prefix }}" placeholder="i.e., (SUB), (DUB)" class="{{ season }}">
                  </div>
                </div>
              {% endfor %}
              <hr>
            {% endif %}
          </div>
          <!-- Selected Video Group Options -->
          <div>
            {% if html_video_season_episodes %}
              <h4 for="select_episodes">REQUIRED: Video Settings
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Basic-Selections" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>
              </h4>
              <ul>
                <li>Mark videos as 'watched' by unchecking.</li>
                <li>Replace the generic placeholder names for the videos.</li>
                <li>Input a 'Stream Link Override' by entering an address.</li>
                <li>If desired, select a 'Special Action' such as making the selection a Stream File (STRM) 
                  <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Special-Actions-%E2%80%90-Stream-Files" target="_blank">
                    <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                  </a>
                  or SLM Stream 
                  <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Special-Actions-%E2%80%90-SLM-Streams" target="_blank">
                    <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                  </a>
                  .</li>
              </ul>
              <div class="grid-container dynamic-bg" style="text-align: center; position: sticky; top: 0; z-index: 10;">
                <div class="grid-item"><h6>Watched / Unwatched</h6></div>
                <div class="grid-item"><h6>Video Name</h6></div>
                <div class="grid-item"><h6>Stream Link/File Override</h6></div>
                <div class="grid-item"><h6>Special Action
                  <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Special-Actions" target="_blank">
                    <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                  </a>
                </h6></div>
              </div>
              {% for item in html_video_season_episodes %}
                <input type="hidden" name="field_episode_prefix_{{ loop.index }}" id="field_episode_prefix_{{ loop.index }}" value="{{ item.season_episode_prefix }}">
                <div class="grid-container">
                  <div class="grid-item">
                    <div class="form-check form-switch ps-0 is-filled">
                      <input type="checkbox" class="form-check-input" id="field_status_{{ loop.index }}" name="field_status_{{ loop.index }}" checked>
                    </div>
                  </div>
                  <div class="grid-item">
                    <input type="text" id="field_season_episode_{{ loop.index }}" name="field_season_episode_{{ loop.index }}" value="{{ item.season_episode }}" placeholder="i.e., Unique Video Name 01">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="field_stream_link_override_{{ loop.index }}" name="field_stream_link_override_{{ loop.index }}" value="{{ item.stream_link_override }}" placeholder="i.e., https://link_to_website.com/path_to_streamlink">
                  </div>
                  <div class="grid-item">
                    <select name="field_special_action_{{ loop.index }}" id="field_special_action_{{ loop.index }}" style="width: 100%; max-width: 100%;">
                      {% for html_special_action in html_special_actions %}
                        <option {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              {% endfor %}
              <hr>
            {% endif %}
          </div>
          <!-- Display Done / Generate Stream Link/File Buttons -->
          {% if html_done_generate_flag %}
            <div id="floating-buttons" style="position: sticky; bottom: 0; padding: 10px;">
              <button type="submit" name="action" value="program_add_done" class="btn bg-gradient-primary w-25 my-2 mb-2" onclick="allowNavigation_done_generate()">Done</button>
              <button type="submit" name="action" value="program_add_generate" class="btn bg-gradient-primary w-25 my-2 mb-2" onclick="allowNavigation_done_generate()">Generate Stream Links/Files</button>
            </div>
            <hr>
            <h4 style="text-align: center;" for="log-output">Live Process Log (While Running)</h4>
            <pre style="white-space: pre; overflow-x: auto; border: 1px solid #ccc; padding: 10px; height: 400px; overflow-y: scroll;">
              <div id="log-output" style="text-align: left; white-space: pre-wrap;"></div>
            </pre>
            <hr>
            <script>
              let allowNavigate_done_generate = false;
        
              function allowNavigation_done_generate() {
                allowNavigate_done_generate = true;
              }
        
              window.onbeforeunload = function() {
                if (!allowNavigate_done_generate) {
                  return "WARNING: Do not navigate away before selecting 'Done' or 'Generate Stream Links/Files' as your program may not be saved correctly.";
                }
              };
            </script>
          {% endif %}
        </form>
      </div>
    </div>
    <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loadingModalLabel">Processing</h5>
          </div>
          <div class="modal-body">
            Please wait while the process completes...
          </div>
        </div>
      </div>
    </div>

    <!-- {% include 'includes/footer.html' %} -->

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Live Log -->
<script>
  document.getElementById('process-form').addEventListener('submit', function(event) {
    const logOutput = document.getElementById("log-output");
    logOutput.innerHTML = ""; // Clear previous log content

    // Show the modal
    const loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'), {
      backdrop: 'static',
      keyboard: false
    });
    loadingModal.show();

    // Disable all navigation links
    document.querySelectorAll('a').forEach(element => {
      element.setAttribute('disabled', 'true');
      element.addEventListener('click', function(event) {
        event.preventDefault();
      });
    });

    setTimeout(() => {
      const eventSource = new EventSource("/stream_log");
      eventSource.onmessage = function(event) {
        logOutput.innerHTML = event.data + "<br>" + logOutput.innerHTML;
      };
      eventSource.onerror = function() {
        eventSource.close();
      };
    }, 0); // Delay to ensure the process starts before streaming logs
  });
</script>
<!-- "All" and "Season" Controls for "Watched/Unwatched Status" and "Special Actions" -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const allCheckbox = document.getElementById('check_all_global');
    const seasonCheckboxes = document.querySelectorAll('[id^="check_all_"]');
    const episodeCheckboxes = document.querySelectorAll('.episode-checkbox');
    const allDropdown = document.getElementById('global_special_action');
    const seasonDropdowns = document.querySelectorAll('select[id^="season_special_action_"]');
    const episodeDropdowns = document.querySelectorAll('select[id^="field_special_action_"]');
    const allTextBox = document.getElementById('global_episode_prefix');
    const seasonTextBoxes = document.querySelectorAll('input[id^="season_episode_prefix_"]');
    const episodeTextBoxes = document.querySelectorAll('input[id^="field_episode_prefix_"]');

    // Initialize dropdowns to null
    allDropdown.value = '';
    seasonDropdowns.forEach(dropdown => dropdown.value = '');

    allCheckbox.addEventListener('change', (event) => toggleAllCheckboxes(event.target));
    seasonCheckboxes.forEach(checkbox => checkbox.addEventListener('change', (event) => toggleSeasonCheckboxes(event.target.id.replace('check_all_', ''), event.target)));
    episodeCheckboxes.forEach(checkbox => checkbox.addEventListener('change', () => {
      updateSeasonCheckboxes();
      updateAllCheckbox();
    }));
    allDropdown.addEventListener('change', (event) => {
      toggleAllDropdowns(event.target);
      allDropdown.value = ''; // Reset to null after propagating
    });
    seasonDropdowns.forEach(dropdown => dropdown.addEventListener('change', (event) => {
      toggleSeasonDropdowns(event.target.className, event.target);
      event.target.value = ''; // Reset to null after propagating
    }));
    allTextBox.addEventListener('input', (event) => {
      toggleAllTextBoxes(event.target);
    });
    seasonTextBoxes.forEach(textbox => textbox.addEventListener('input', (event) => {
      toggleSeasonTextBoxes(event.target.id.replace('season_episode_prefix_', ''), event.target);
    }));

    function toggleAllCheckboxes(source) {
      episodeCheckboxes.forEach(checkbox => checkbox.checked = source.checked);
      updateSeasonCheckboxes();
      updateAllCheckbox();
    }

    function toggleSeasonCheckboxes(season, source) {
      document.querySelectorAll('.' + season).forEach(checkbox => checkbox.checked = source.checked);
      updateSeasonCheckboxes();
      updateAllCheckbox();
    }

    function updateSeasonCheckboxes() {
      seasonCheckboxes.forEach(seasonCheckbox => {
        const season = seasonCheckbox.id.replace('check_all_', '');
        const checkboxes = document.querySelectorAll('.' + season);
        seasonCheckbox.checked = Array.from(checkboxes).some(checkbox => checkbox.checked);
      });
    }

    function updateAllCheckbox() {
      allCheckbox.checked = Array.from(seasonCheckboxes).some(checkbox => checkbox.checked);
    }

    function toggleAllDropdowns(source) {
      episodeDropdowns.forEach(dropdown => dropdown.value = source.value);
    }

    function toggleSeasonDropdowns(season, source) {
      document.querySelectorAll('select.' + season).forEach(dropdown => dropdown.value = source.value);
    }

    function toggleAllTextBoxes(source) {
      episodeTextBoxes.forEach(textbox => textbox.value = source.value);
    }

    function toggleSeasonTextBoxes(season, source) {
      document.querySelectorAll('input.' + season).forEach(textbox => textbox.value = source.value);
    }
  });
</script>
<!-- Make "All" buttons visible in program selection -->
<script>
  function checkCheckboxes() {
    var checkboxes = document.querySelectorAll('.program-checkbox');
    var floatingButtons = document.getElementById('floating-buttons');
    var atLeastOneChecked = false;

    checkboxes.forEach(function(checkbox) {
      if (checkbox.checked) {
        atLeastOneChecked = true;
      }
    });

    if (atLeastOneChecked) {
      floatingButtons.style.display = 'block';
    } else {
      floatingButtons.style.display = 'none';
    }
  }
</script>
<!-- Background Color of Header Labels -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const darkModeToggle = document.getElementById('dark-version');

    // Function to update the background color of the specific grid-container
    function updateGridContainerBackground() {
      const bodyStyle = getComputedStyle(document.body);
      const bodyBgColor = bodyStyle.backgroundColor;

      // Apply the background color to the specific grid-container
      document.querySelectorAll('.dynamic-bg').forEach(container => {
        container.style.backgroundColor = bodyBgColor;
      });
    }

    // Initial update of the grid-container background color
    updateGridContainerBackground();

    // Listen for changes to the dark mode toggle
    if (darkModeToggle) {
      darkModeToggle.addEventListener('change', function () {
        updateGridContainerBackground();
      });
    }
  });
</script>
<!-- Remember Expand / Collapsed Status-->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    function applyCollapseState(sectionId) {
      var section = document.getElementById(sectionId);
      var isExpanded = localStorage.getItem(sectionId + '_expanded') === 'true';
      if (isExpanded) {
        section.classList.add('show');
        loadContent(sectionId); // Load content if initially expanded
      }
    }

    function saveCollapseState(sectionId) {
      var section = document.getElementById(sectionId);
      var isExpanded = section.classList.contains('show');
      localStorage.setItem(sectionId + '_expanded', isExpanded);
    }

    function loadContent(sectionId) {
      var contentElement = document.getElementById(sectionId);
      var contentPlaceholder = contentElement.querySelector('.content-placeholder');

      if (contentPlaceholder && contentPlaceholder.innerHTML.trim() === '') {
        fetch('/get-content?section=' + sectionId)
          .then(response => response.text())
          .then(data => {
            contentPlaceholder.innerHTML = data;
          })
          .catch(error => console.error('Error loading content:', error));
      }
    }

    applyCollapseState('labelPanel');

    ['shown.bs.collapse', 'hidden.bs.collapse'].forEach(eventName => {
      document.getElementById('labelPanel').addEventListener(eventName, function() {
        saveCollapseState('labelPanel');
        if (eventName === 'shown.bs.collapse') {
          loadContent('labelPanel');
        }
      });
    });
  });
</script>
{% endblock javascripts %}
