{% extends "layouts/base.html" %}

{% block title %} Controls - Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

</style>
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row min-vh-80 h-100">
      <div class="col-12">
        <form method="POST" action="/settings">
          <h4 id="advanced_experimental_anchor">Manage Editions, Extensions, and Add-Ons</h4>
          <p><div id="html_advanced_experimental_message"><b>{{ html_advanced_experimental_message }}</b></div></p>
          <!-- Manage Editions -->
          <h5>Editions
            <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-General-%E2%80%90-Settings:-Editions" target="_blank">
              <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
            </a>
          </h5>
          <div class="form-check form-switch ps-0 is-filled">
            <div class="settings-box" style="width: 98%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
              <input type="checkbox" class="form-check-input ms-auto" id="channels_dvr_integration" name="channels_dvr_integration" {% if html_slm_channels_dvr_integration %}checked{% endif %}>
              <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="channels_dvr_integration"><b>Channels DVR Integration</b></label>
              <p><em>Users of Channels DVR have tightly controlled integrations between it and this program. For those who are not Channels DVR users or have a special use case, you have the option to turn this off. Doing so will hide everything related to Channels DVR (including mentions of it in text and logos), reverting this program into ‘Streaming Library Manager Solo Edition’. As should be expected, any actions that try to connect to Channels DVR are disabled.</em></p>
            </div>
            <div class="settings-box" style="width: 98%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
              <input type="checkbox" class="form-check-input ms-auto" id="media_players_integration" name="media_players_integration" {% if html_slm_media_players_integration %}checked{% endif %}>
              <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="media_players_integration"><b>Media Players Integration</b></label>
              <p><em>Instead of using ‘Streaming Library Manager Solo Edition’, some users have access to other programs that can launch Stream Links/Files, such as Infuse. For these users, checking this box will change everything to 'Streaming Library Manager for Media Players', granting all of the regular Stream Link/File functionality without the tight integrations into Channels DVR. It should be noted that this option cannot be selected if the 'Channels DVR Integration' is also on; only one or the other or neither can be active.</em></p>
            </div>
          </div>
          <!-- Manage Extensions -->
          <h5 style="margin-top: 10px;">Extensions
            <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-General-%E2%80%90-Settings:-Extensions-and-Add%E2%80%90Ons" target="_blank">
              <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
            </a>
          </h5>
          <div class="form-check form-switch ps-0 is-filled">
            <div class="settings-box" style="width: 98%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
              <input type="checkbox" class="form-check-input ms-auto" id="stream_link_file_manager" name="stream_link_file_manager" {% if html_slm_stream_link_file_manager %}checked{% endif %}>
              <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="stream_link_file_manager"><b>On-Demand: Stream Link/File Manager Extension [SLM]</b>
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Installation-and-Setup" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>
              </label>
              <p><em>On-Demand movies, TV shows, and videos can be made available to stream without having to keep track of their sources by using ‘Stream Links’ and ‘Stream Files’. The Stream Link/File Manager Extension makes this possible by allowing users to simply ‘bookmark’ this content and letting the program handle the ‘where’ and ‘how’ questions. For users who are not consuming any on-demand media, they can turn this off.</em></p>
            </div>
            <div class="settings-box" style="width: 98%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
              <input type="checkbox" class="form-check-input ms-auto" id="playlist_manager" name="playlist_manager" {% if html_slm_playlist_manager %}checked{% endif %}>
              <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="playlist_manager"><b>Linear: Playlist Manager Extension [PLM]</b>
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-PLM-%E2%80%90-Installation-and-Setup" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>
              </label>
              <p><em>There are many sources for linear content including places like OTA (over-the-air with an antenna), TVE (TV Everywhere, i.e., streaming websites for cable stations), FAST (Free Ad-Supported Streaming Television, i.e., Pluto, Plex, Tubi), and plenty more. The Playlist Manger Extension allows users to bring all these disparate sources together into one unified front in order to eliminate repetition and resolve all other issues associated with just being able to consume the content. For users who are not integrating linear content like this, they can turn this feature off.</em></p>
            </div>
            <div class="settings-box" style="width: 98%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
              <input type="checkbox" class="form-check-input ms-auto" id="media_tools_manager" name="media_tools_manager" {% if html_slm_media_tools_manager %}checked{% endif %}>
              <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="media_tools_manager"><b>Tools: Media Tools Manager Extension [MTM]</b>
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-MTM-%E2%80%90-Installation-and-Setup" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>
              </label>
              <p><em>With so many shows, movies, videos, stations, and more available, keeping track and managing them all can be quite difficult. Even using this program can add layers of concerns, considerations, and questions. To resolve this quandary and quagmire is the tools included with the Media Tools Manager Extension. It is not recommended to turn this off as it will limit the functionality of this program—notably around Automation—however, it is still up the end-user whether they want these features available.</em></p>
            </div>
          </div>
          <!-- Manage Add-Ons -->
          {% if html_slm_channels_dvr_integration %}
            <h5 style="margin-top: 10px;">Add-Ons
              <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-General-%E2%80%90-Settings:-Extensions-and-Add%E2%80%90Ons" target="_blank">
                <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
              </a>
            </h5>
            <div class="form-check form-switch ps-0 is-filled">
              {% if html_slm_channels_dvr_integration %}
                <div class="settings-box" style="width: 98%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
                  <input type="checkbox" class="form-check-input ms-auto" id="channels_prune" name="channels_prune" {% if html_channels_prune == "On" %}checked{% endif %}>
                  <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="channels_prune"><b>'Prune' function in Channels DVR</b></label>
                  <p><em>When on, this program will initiate a delete in Channels DVR for any missing personal media, not just Stream Links/Files. You may decide that you do not want this to run automatically.</em></p>
                </div>
                <div class="settings-box" style="width: 98%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
                  <input type="checkbox" class="form-check-input ms-auto" id="channels_labels" name="channels_labels" {% if html_channels_labels == "On" %}checked{% endif %}>
                  <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="channels_labels"><b>Update 'Labels' in Channels DVR</b>
                    <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Settings:-Labels" target="_blank">
                      <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                    </a>
                  </label>
                  <p><em>When on, this program will update the labels for the generated Stream Links/Files (or an equivalent assemblage like a TV Show or Video Group) in Channels DVR. Keep this off if you are managing labels for Stream Links/Files in Channels DVR directly. If you want to migrate to using SLM to maintain labels, it is recommended to first import labels and label assignments from Channels DVR in the 'Manage Providers' area. Please note that this function does not impact labels for non-SLM created/managed content (i.e., recordings, personal files, self-imported Stream Links/Files, etc...).</em></p>
                </div>
              {% endif %}          
            </div>
          {% endif %}
          <div style="display: flex; margin-top: 10px; width: 98%;">
            <button type="submit" name="action" value="channels_dvr_integration_save" class="btn bg-gradient-primary w-20 my-2 mb-2" style="margin-right: 5px;">Save</button>
            <button type="submit" name="action" value="channels_dvr_integration_cancel" class="btn bg-gradient-primary w-20 my-2 mb-2" style="margin-left: 5px;">Cancel</button>
          </div>
          <hr>
          <h4 id="settings_articles_anchor">Articles for Sorting
            <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-General-%E2%80%90-Settings:-Articles-for-Sorting" target="_blank">
              <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
            </a>
          </h4>
          <div style="margin-bottom: 10px;">
            <em>Enter or remove articles that should be ignored while sorting alphabetically.</em>
          </div>
          <div>
            <input name="settings_articles" id="settings_articles" placeholder="Add articles..." value="{{ html_settings_articles | join(',') }}" style="width: 98%;">
          </div>
          <div style="display: flex; margin-top: 10px; width: 98%;">
            <button type="submit" name="action" value="settings_articles_save" class="btn bg-gradient-primary w-20 my-2 mb-2" style="margin-right: 5px;">Save</button>
            <button type="submit" name="action" value="settings_articles_cancel" class="btn bg-gradient-primary w-20 my-2 mb-2" style="margin-left: 5px;">Cancel</button>
          </div>
          <hr>
          {% if html_slm_channels_dvr_integration or html_slm_media_players_integration %}
            <!-- Channels URL -->
            {% if html_slm_channels_dvr_integration %}
              <h4 id="channels_url_anchor">Channels URL
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-General-%E2%80%90-Settings:-Channels-URL" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>
              </h4>
              <p>Channel URL currently set to <b>{{ html_channels_url }}</b></p>
              <input type="text" id="channels_url" name="channels_url" value="{{ html_channels_url_prior }}" style="width: calc(55%);" title="{{ html_channels_url_prior }}">
              <button type="submit" name="action" value="channels_url_test" class="btn bg-gradient-primary w-10 my-2 mb-2">Test</button>
              <button type="submit" name="action" value="channels_url_scan" class="btn bg-gradient-primary w-10 my-2 mb-2">Scan</button>
              <button type="submit" name="action" value="channels_url_save" class="btn bg-gradient-primary w-10 my-2 mb-2">Save</button>
              <button type="submit" name="action" value="channels_url_cancel" class="btn bg-gradient-primary w-10 my-2 mb-2">Cancel</button>
              <p><em>WARNING: Do not use 'https' as it may cause Channels functions to fail.</em></p>
              <p><div id="html_channels_url_message">{{ html_channels_url_message }}</div></p>
              <hr>
            {% endif %}
            <!-- Stream Link/Files and Media Base Directory -->
            <h4 id="channels_directory_anchor">Stream Links/Files and Media Base Directory
              <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-General-%E2%80%90-Settings:-Channels-Directory" target="_blank">
                <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
              </a>
            </h4>
            <p>The 'Stream Links/Files and Media Base Directory' is currently set to: <b><span id="channels_directory">{{ html_channels_directory }}</span></b></p>
            <p><div id="html_channels_directory_message">{{ html_channels_directory_message }}</div></p>
            <input type="text" id="current_directory" name="current_directory" value="{{ html_current_directory }}" readonly style="width: calc(65%); background-color: #d1cdcde5;" title="{{ html_current_directory }}">
            <button type="submit" name="action" value="channels_directory_nav_up" class="btn bg-gradient-primary w-10 my-2 mb-2">Nav Up</button>
            <button type="submit" name="action" value="channels_directory_save" class="btn bg-gradient-primary w-10 my-2 mb-2">Select</button>
            <button type="submit" name="action" value="channels_directory_cancel" class="btn bg-gradient-primary w-10 my-2 mb-2">Reset</button>
            <ul id="subdirectories">
              <div class="settings-box" style="width: calc(50%); display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; height: 150px; overflow-y: scroll; overflow-x: auto;"> 
                {% for subdir in html_subdirectories %}
                  <button type="submit" name="action" value="channels_directory_nav_{{ loop.index }}" class="btn btn-link" style="display: block; margin: 0px 0;">{{ subdir }}</button>
                {% endfor %}
              </div>
            </ul>
            <input type="text" id="manual-path" name="channels_directory_manual_path" placeholder="Enter a path to manually navigate to... (i.e., 'D:\', '\\server\share', or '//server/share')" style="width: calc(65%);">
            <button type="submit" name="action" value="channels_directory_manual_go" class="btn bg-gradient-primary w-10 my-2 mb-2">Navigate</button>
            <hr>
          {% endif %}
        </form>
      </div>
    </div>
    
    <!-- {% include 'includes/footer.html' %} -->

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Directory Navigator -->
<script>
  async function select_channels_directory(action) {
      const currentDirectory = document.getElementById('current_directory').value;
      const manualPath = document.getElementById('channels_directory_manual_path').value;
      const response = await fetch('/settings', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({ current_directory: currentDirectory, action: action, new_directory: manualPath })
      });
      const data = await response.json();
      if (response.ok) {
          document.getElementById('current_directory').value = data.current_directory;
          const subdirectoriesList = document.getElementById('subdirectories');
          subdirectoriesList.innerHTML = '';
          data.subdirectories.forEach((subdir, index) => {
              const li = document.createElement('li');
              li.innerText = `${subdir}`;
              li.onclick = () => select_channels_directory(`channels_directory_nav_${index + 1}`);
              subdirectoriesList.appendChild(li);
          });
      } else {
          alert(data.error);
      }
  }
</script>
<!-- Anchor Control -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const anchorId = "{{ html_settings_anchor_id }}";
      if (anchorId) {
          window.location.hash = anchorId;
      }
  });
</script>
<!-- Tagify | Articles for Sorting -->
<script>
  var input = document.querySelector('#settings_articles');
  new Tagify(input, {
    whitelist: {{ html_base_articles | tojson }},
    enforceWhitelist: false,
    dropdown: { enabled: 0 }
  });
</script>
{% endblock javascripts %}
