{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row min-vh-80 h-100">
      <div class="col-12">
        <form method="POST" action="/home" id="process-form" enctype="multipart/form-data">
          <!-- Logo -->
          {% if html_slm_channels_dvr_integration %}
            <img src="/static/assets/img/slm_logo_v2.png" alt="Streaming Library Manager Logo" style="width: 65%; height: auto;">
          {% else %}
            <img src="/static/assets/img/slm_logo_v2_solo_edition.png" alt="Streaming Library Manager Logo" style="width: 65%; height: auto;">
          {% endif %}
          <!-- Notifications -->
          <h4>Notifications</h4>
          <pre style="white-space: pre; overflow-x: auto; border: 1px solid #ccc; padding: 10px; height: 400px; overflow-y: scroll;">
            {%- for line in html_notifications %}
  {{ line }}
            {%- endfor %}
          </pre>
          <hr>
        </form>
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
