{% extends "layouts/base.html" %}

{% block title %} Modify Programs {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .grid-container {
    display: grid;
    grid-template-columns: 1.5fr 3fr 3fr 2fr 1fr 1fr;
    gap: 10px;
  }

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
  }

  .form-check {
    display: flex;
    align-items: center;
    gap: 3.5em; /* Adjust the gap as needed */
  }

  .form-check-label {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .form-check-input {
    flex-shrink: 0;
  }

  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
  }

  .btn {
    width: 100%;
    box-sizing: border-box;
  }
</style>
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row min-vh-80 h-100">
      <div class="col-12">
        <form method="POST" action="/modifyprograms" id="process-form" enctype="multipart/form-data">
          <!-- Select Program Section -->
          <h4>Select a Program...</h4>
          <select class="select2" name="title" id="title_select" style="width: calc(30%);" onchange="setEntryId()">
            {% for item in html_sorted_bookmarks %}
                <option value="{{ item.title }} ({{ item.release_year }}) | {{ item.object_type }}" data-entry-id="{{ item.entry_id }}" 
                    {% if item.entry_id == html_entry_id_selected %}selected{% endif %}>
                    {{ item.title }} ({{ item.release_year }}) | {{ item.object_type }}
                </option>
            {% endfor %}
          </select>
          <input type="hidden" name="entry_id" id="entry_id">
          <button type="submit" name="action" value="program_modify_edit" style="width: calc(13%);" class="btn bg-gradient-primary my-2 mb-2" {% if html_edit_flag or html_sorted_bookmarks|length == 0 %}disabled{% endif %}>Edit</button>
          <button type="submit" name="action" value="program_modify_delete" style="width: calc(13%);" class="btn bg-gradient-primary my-2 mb-2" {% if html_edit_flag or html_sorted_bookmarks|length == 0 %}disabled{% endif %}>Delete</button>
          <button type="submit" name="action" value="program_modify_available" style="width: calc(13%);" class="btn bg-gradient-primary my-2 mb-2" {% if html_edit_flag or html_sorted_bookmarks|length == 0 %}disabled{% endif %}>Check Availability</button>
          <button type="submit" name="action" value="program_modify_generate" style="width: calc(13%);" class="btn bg-gradient-primary my-2 mb-2" {% if html_edit_flag or html_sorted_bookmarks|length == 0 %}disabled{% endif %}>Generate Stream Links</button>
          <button type="submit" name="action" value="program_modify_show_hidden" style="width: calc(13%);" class="btn bg-gradient-primary my-2 mb-2" {% if html_edit_flag or html_sorted_bookmarks|length == 0 %}disabled{% endif %}>Show Hidden</button>
          <p><div id="html_program_modify_message">{{ html_program_modify_message }}</div></p>
          <hr>
          <!-- Check Availability Section -->
          {% if html_offer_icons_flag %}
            <div style="text-align: center; text-transform: none; font-weight: normal; font-size: 1.3em;">
              <hr style="display: inline-block; width: calc(50% - 90px); margin: 0 10px; vertical-align: middle;">
              <b>Available On</b>
              <hr style="display: inline-block; width: calc(50% - 90px); margin: 0 10px; vertical-align: middle;">
            </div>                    
            <div style="display: flex; flex-wrap: wrap; align-items: center;">
              {% for icon in html_offer_icons %}
                <img src="{{ icon }}" style="width: 55px; height: 55px; margin-right: 5px; margin-top: 5px; object-fit: contain;">
              {% endfor %}
            </div>
          {% endif %}
          <!-- Bookmark Section -->
          {% if html_edit_flag %}
            <label for="field_title">Title:</label>
            <input type="text" id="field_title" name="field_title" value="{{ html_title_selected }}" placeholder="A 'Title' is required..." style="width: calc(40%);" title="{{ html_title_selected }}">
            <label for="field_release_year">Release Year:</label>
            <input type="text" id="field_release_year" name="field_release_year" value="{{ html_release_year_selected }}" placeholder="Enter year (i.e., 2024)" style="width: calc(15%);" title="{{ html_release_year_selected }}">
            <label for="field_bookmark_action">Bookmark Action:</label>
            <select class="select2" name="field_bookmark_action" id="field_bookmark_action">
              {% for html_bookmark_action in html_bookmark_actions %}
                <option {% if html_bookmark_action_selected == html_bookmark_action %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_bookmark_action }}</option>
              {% endfor %}
            </select>
            <hr>
          {% endif %}
          <!-- START: Looping for Bookmarks Statuses Selected -->
          <div class="container-fluid">
            <input type="hidden" name="field_object_type" id="field_object_type" value="{{ html_object_type_selected }}">
            {% if html_object_type_selected == 'MOVIE' %}
            <div class="grid-container" style="text-align: center;">
              <div class="grid-item"><h6>Watched / Unwatched</h6></div>
              <div class="grid-item"><h6>Current Stream Link</h6></div>
              <div class="grid-item"><h6>Stream Link Override</h6></div>
              <div class="grid-item"><h6>Special Action</h6></div>
            </div>
            {% endif %}
            {% if html_object_type_selected == 'SHOW' %}
            <div class="grid-container" style="text-align: center;">
              <div class="grid-item"><h6>Watched / Unwatched</h6></div>
              <div class="grid-item"><h6>Current Stream Link</h6></div>
              <div class="grid-item"><h6>Stream Link Override</h6></div>
              <div class="grid-item"><h6>Special Action</h6></div>
              <div class="grid-item"><h6>Episode Prefix</h6></div>
              <div class="grid-item"><h6>Action</h6></div>
            </div>
            <div class="grid-container" style="text-align: center;">
              <div class="grid-item">
                <div class="form-check form-switch ps-0 is-filled">
                  <label class="form-check-label text-body text-truncate w-80 mb-0" for="check_all_global" style="font-weight: bold; font-size: 1.2em;">All Episodes</label>
                  <input type="checkbox" class="form-check-input" id="check_all_global" onclick="toggleAllCheckboxes(this)" checked>
                </div>
              </div>
              <div class="grid-item">
                <hr style="border: 3px solid; width: 100%;">
              </div>
              <div class="grid-item">
                <hr style="border: 3px solid; width: 100%;">
              </div>
              <div class="grid-item">
                <select name="global_special_action" id="global_special_action" onchange="toggleAllDropdowns(this)" style="width: 100%; max-width: 100%;">
                  {% for html_special_action in html_special_actions %}
                    <option {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="grid-item">
                <input type="text" id="global_episode_prefix" name="global_episode_prefix" placeholder="i.e., (SUB), (DUB)" oninput="toggleAllTextBoxes(this)">
              </div>
              <div class="grid-item">
                <hr style="border: 3px solid; width: 100%;">
              </div>
            </div>
            {% endif %}
            {% set processed_seasons = {} %}
            {% for item in html_bookmarks_statuses_selected %}
              <!-- MOVIE: Edit Section -->
              {% if html_object_type_selected == 'MOVIE' %}
              <div class="grid-container">
                <div class="grid-item">
                  <div class="form-check form-switch ps-0 is-filled">
                    <input type="checkbox" id="field_status_{{ loop.index }}" name="field_status_{{ loop.index }}" class="form-check-input" {% if item.status|lower == 'unwatched' %}checked{% endif %}>
                  </div>
                </div>
                <div class="grid-item">
                  <input type="text" value="{{ item.stream_link }}" readonly style="background-color: #d1cdcde5;" title="{{ item.stream_link }}">
                </div>
                <div class="grid-item">
                  <input type="text" id="field_stream_link_override_{{ loop.index }}" name="field_stream_link_override_{{ loop.index }}" value="{{ item.stream_link_override }}" placeholder="i.e., https://link_to_website.com/path_to_streamlink" title="{{ item.stream_link_override }}">
                </div>
                <div class="grid-item">
                  <select name="field_special_action_{{ loop.index }}" id="field_special_action_{{ loop.index }}" style="width: 100%; max-width: 100%;">
                    {% for html_special_action in html_special_actions %}
                      <option {% if html_special_action == item.special_action %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              {% endif %}
              <!-- SHOW: Edit Section -->
              {% if html_object_type_selected == 'SHOW' %}
              {% set season = item.season_episode.split('E')[0] %}
              {% if season not in processed_seasons %}
                {% set processed_seasons = processed_seasons.update({season: True}) %}
                <div class="grid-container" style="text-align: center;">
                  <div class="grid-item">
                    <div class="form-check form-switch ps-0 is-filled">
                      <label class="form-check-label text-body text-truncate w-80 mb-0" for="check_all_{{ season }}" style="font-weight: bold; font-size: 1.1em;">All {{ season }}</label>
                      <input type="checkbox" class="form-check-input" id="check_all_{{ season }}" onclick="toggleSeasonCheckboxes('{{ season }}', this)" checked>
                    </div>
                  </div>
                  <div class="grid-item">
                    <hr style="border: 3px solid; width: 100%;">
                  </div>
                  <div class="grid-item">
                    <hr style="border: 3px solid; width: 100%;">
                  </div>
                  <div class="grid-item">
                    <select name="season_special_action_{{ season }}" id="season_special_action_{{ season }}" class="{{ season }}" onchange="toggleSeasonDropdowns('{{ season }}', this)" style="width: 100%; max-width: 100%;">
                      {% for html_special_action in html_special_actions %}
                        <option {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="grid-item">
                    <input type="text" id="season_episode_prefix_{{ season }}" name="season_episode_prefix_{{ season }}" placeholder="i.e., (SUB), (DUB)" class="{{ season }}" oninput="toggleSeasonTextBoxes('{{ season }}', this)">
                  </div>
                  <div class="grid-item">
                    <hr style="border: 3px solid; width: 100%;">
                  </div>
                </div>
              {% endif %}
              <input type="hidden" name="field_season_episode_{{ loop.index }}" id="field_season_episode_{{ loop.index }}" value="{{ item.season_episode }}">
              <div class="grid-container">
                <div class="grid-item">
                  <div class="form-check form-switch ps-0 is-filled">
                    <label class="form-check-label text-body text-truncate w-80 mb-0" for="field_status_{{ loop.index }}">{{ item.season_episode }}</label>
                    <input type="checkbox" id="field_status_{{ loop.index }}" name="field_status_{{ loop.index }}" class="form-check-input episode-checkbox {{ season }}" {% if item.status|lower == 'unwatched' %}checked{% endif %}>
                  </div>
                </div>
                <div class="grid-item">
                  <input type="text" value="{{ item.stream_link }}" readonly style="background-color: #d1cdcde5;" title="{{ item.stream_link }}">
                </div>
                <div class="grid-item">
                  <input type="text" id="field_stream_link_override_{{ loop.index }}" name="field_stream_link_override_{{ loop.index }}" value="{{ item.stream_link_override }}" placeholder="i.e., https://link_to_website.com/path_to_streamlink" title="{{ item.stream_link_override }}">
                </div>
                <div class="grid-item">
                  <select name="field_special_action_{{ loop.index }}" id="field_special_action_{{ loop.index }}" class="{{ season }}" style="width: 100%; max-width: 100%;">
                    {% for html_special_action in html_special_actions %}
                      <option {% if html_special_action == item.special_action %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="grid-item">
                  <input type="text" id="field_episode_prefix_{{ loop.index }}" name="field_episode_prefix_{{ loop.index }}" value="{{ item.season_episode_prefix }}" placeholder="i.e., (SUB), (DUB)" class="{{ season }}" title="{{ item.season_episode_prefix }}">
                </div>
                <div class="grid-item">
                  <button type="submit" name="action" value="program_modify_delete_episode_{{ loop.index }}" class="btn bg-gradient-primary my-2 mb-2" onclick="allowNavigation_save_cancel()">Delete</button>
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- END: Looping for Bookmarks Statuses Selected -->
          <!-- SHOWS: Add Episodes -->
          {% if html_object_type_selected == 'SHOW' %}
            <hr>
            <h6>Add Episode</h6>
            <label for="program_modify_add_episode_season">Season Number:</label>
            <input type="text" id="program_modify_add_episode_season" name="program_modify_add_episode_season" placeholder="i.e., 1, 2, 3..." style="width: calc(5%);">
            <label for="program_modify_add_episode_episode">Episode Number:</label>
            <input type="text" id="program_modify_add_episode_episode" name="program_modify_add_episode_episode" placeholder="i.e., 1, 2, 3..." style="width: calc(5%);">
            <label for="program_modify_add_episode_episode_prefix">Episode Prefix:</label>
            <input type="text" id="program_modify_add_episode_episode_prefix" name="program_modify_add_episode_episode_prefix" placeholder="i.e., (SUB), (DUB)" style="width: calc(10%);">
            <label for="program_modify_add_episode_stream_link_override">Stream Link Override:</label>
            <input type="text" id="program_modify_add_episode_stream_link_override" name="program_modify_add_episode_stream_link_override" placeholder="i.e., https://link_to_website.com/path_to_streamlink" style="width: calc(25%);">
            <label for="program_modify_add_episode_special_action">Special Action:</label>
            <select name="program_modify_add_episode_special_action" id="program_modify_add_episode_special_action" style="width: calc(10%);">
              {% for html_special_action in html_special_actions %}
                <option {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
              {% endfor %}
            </select>
            <button type="submit" name="action" value="program_modify_add_episode" class="btn bg-gradient-primary w-20 my-2 mb-2" onclick="allowNavigation_save_cancel()">Add Episode</button>
          {% endif %}
          <!-- Save / Cancel Section -->
          {% if html_edit_flag %}
            <hr>
            <div id="floating-buttons" style="position: sticky; bottom: 0; padding: 10px;">
              <button type="submit" name="action" value="program_modify_save" class="btn bg-gradient-primary w-25 my-2 mb-2" onclick="allowNavigation_save_cancel()">Save</button>
              <button type="submit" name="action" value="program_modify_cancel" class="btn bg-gradient-primary w-25 my-2 mb-2" onclick="allowNavigation_save_cancel()">Finish / Cancel</button>
            </div>
            <script>
              let allowNavigate_save_cancel = false;
        
              function allowNavigation_save_cancel() {
                allowNavigate_save_cancel = true;
              }
        
              window.onbeforeunload = function() {
                if (!allowNavigate_save_cancel) {
                  return "WARNING: Do not navigate away before selecting 'Save' or 'Cancel' as your program may not be recorded correctly.";
                }
              };
            </script>
          {% endif %}
        </form>
      </div>
    </div>
    <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loadingModalLabel">Processing</h5>
          </div>
          <div class="modal-body">
            Please wait while the process completes...
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  function setEntryId() {
      var select = document.getElementById('title_select');
      var selectedOption = select.options[select.selectedIndex];
      var entryId = selectedOption.getAttribute('data-entry-id');
      document.getElementById('entry_id').value = entryId;
  }

  // Ensure the hidden input is set correctly on page load
  document.addEventListener('DOMContentLoaded', function() {
      setEntryId(); // Call setEntryId to set the entry_id value on page load
  });

  // Add an event listener to update the entry_id whenever the selection changes
  document.getElementById('title_select').addEventListener('change', setEntryId);
</script>
<!-- "All" and "Season" Controls for "Watched/Unwatched Status" and "Special Actions" -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const allCheckbox = document.getElementById('check_all_global');
    const seasonCheckboxes = document.querySelectorAll('[id^="check_all_"]');
    const episodeCheckboxes = document.querySelectorAll('.episode-checkbox');
    const allDropdown = document.getElementById('global_special_action');
    const seasonDropdowns = document.querySelectorAll('select[id^="season_special_action_"]');
    const episodeDropdowns = document.querySelectorAll('select[id^="field_special_action_"]');
    const allTextBox = document.getElementById('global_episode_prefix');
    const seasonTextBoxes = document.querySelectorAll('input[id^="season_episode_prefix_"]');
    const episodeTextBoxes = document.querySelectorAll('input[id^="field_episode_prefix_"]');

    // Initialize dropdowns to null
    allDropdown.value = '';
    seasonDropdowns.forEach(dropdown => dropdown.value = '');

    allCheckbox.addEventListener('change', (event) => toggleAllCheckboxes(event.target));
    seasonCheckboxes.forEach(checkbox => checkbox.addEventListener('change', (event) => toggleSeasonCheckboxes(event.target.id.replace('check_all_', ''), event.target)));
    episodeCheckboxes.forEach(checkbox => checkbox.addEventListener('change', () => {
      updateSeasonCheckboxes();
      updateAllCheckbox();
    }));
    allDropdown.addEventListener('change', (event) => {
      toggleAllDropdowns(event.target);
      allDropdown.value = ''; // Reset to null after propagating
    });
    seasonDropdowns.forEach(dropdown => dropdown.addEventListener('change', (event) => {
      toggleSeasonDropdowns(event.target.className, event.target);
      event.target.value = ''; // Reset to null after propagating
    }));
    allTextBox.addEventListener('input', (event) => {
      toggleAllTextBoxes(event.target);
    });
    seasonTextBoxes.forEach(textbox => textbox.addEventListener('input', (event) => {
      toggleSeasonTextBoxes(event.target.id.replace('season_episode_prefix_', ''), event.target);
    }));

    function toggleAllCheckboxes(source) {
      episodeCheckboxes.forEach(checkbox => checkbox.checked = source.checked);
      updateSeasonCheckboxes();
      updateAllCheckbox();
    }

    function toggleSeasonCheckboxes(season, source) {
      document.querySelectorAll('.' + season).forEach(checkbox => checkbox.checked = source.checked);
      updateSeasonCheckboxes();
      updateAllCheckbox();
    }

    function updateSeasonCheckboxes() {
      seasonCheckboxes.forEach(seasonCheckbox => {
        const season = seasonCheckbox.id.replace('check_all_', '');
        const checkboxes = document.querySelectorAll('.' + season);
        seasonCheckbox.checked = Array.from(checkboxes).some(checkbox => checkbox.checked);
      });
    }

    function updateAllCheckbox() {
      allCheckbox.checked = Array.from(seasonCheckboxes).some(checkbox => checkbox.checked);
    }

    function toggleAllDropdowns(source) {
      episodeDropdowns.forEach(dropdown => dropdown.value = source.value);
    }

    function toggleSeasonDropdowns(season, source) {
      document.querySelectorAll('select.' + season).forEach(dropdown => dropdown.value = source.value);
    }

    function toggleAllTextBoxes(source) {
      episodeTextBoxes.forEach(textbox => textbox.value = source.value);
    }

    function toggleSeasonTextBoxes(season, source) {
      document.querySelectorAll('input.' + season).forEach(textbox => textbox.value = source.value);
    }
  });
</script>
<!-- Processing Box -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('process-form').addEventListener('submit', function(event) {
      console.log("Form submitted"); // Debugging

      // Wait for a short delay to ensure the form submission is not blocked
      setTimeout(() => {
        // Ensure the modal element exists
        const modalElement = document.getElementById('loadingModal');
        if (!modalElement) {
          console.error('Modal element not found!');
          return;
        }

        // Show the modal
        const loadingModal = new bootstrap.Modal(modalElement, {
          backdrop: 'static',
          keyboard: false
        });
        console.log("Showing modal"); // Debugging
        loadingModal.show();

        // Disable all navigation links
        document.querySelectorAll('a').forEach(element => {
          element.setAttribute('disabled', 'true');
          element.addEventListener('click', function(event) {
            event.preventDefault();
          });
        });
      }, 500); // Adjust the delay as needed
    });
  });
</script>
{% endblock javascripts %}
