{% extends "layouts/base.html" %}

{% block title %} On-Demand - Modify Programs {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .file-input-wrapper {
    display: flex;
    align-items: center;
    border: 2px solid #4c2588;
    border-radius: 0.25em;
    padding: 0.5em;
    background: linear-gradient(195deg, #6a4ca8 0%, #6a4eaa 100%);
    flex-direction: column;
    align-items: stretch;
  }

  .file-input-wrapper input[type="file"] {
    display: none;
  }

  .file-input-wrapper label {
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    margin-left: 10px;
    width: auto;
    white-space: nowrap;
  }
  
  .dark-version .file-input-wrapper {
    background: linear-gradient(195deg, #2c1a4a 0%, #2c1b4c 100%);
    border-color: #2c1a4a;
  }

  .dark-version .file-input-wrapper label {
    color: #ccc;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
  }

  .form-check {
    display: flex;
    align-items: center;
    gap: 3.5em; /* Adjust the gap as needed */
  }

  .form-check-label {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .form-check-input {
    flex-shrink: 0;
  }

  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
  }

  .btn {
    width: 100%;
    box-sizing: border-box;
  }

  .listbox {
    width: 400px;
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .manual-order-video-container {
    display: flex;
    align-items: center;
  }

  .centered-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-container {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 482px;
  }

  .form-buttons {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    width: 100%;
    margin-left: -72px;
  }
</style>
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row min-vh-80 h-100">
      <div class="col-12">
        <form method="POST" action="/modifyprograms" id="process-form" enctype="multipart/form-data">
          <!-- Program Message Section -->
          {% if html_program_modify_message %}
            <p><div id="html_program_modify_message"><b>{{ html_program_modify_message }}</b></div></p>
            <hr>
          {% endif %}
          <!-- Select Program Section -->
          {% if not html_edit_flag %}
            <div class="row justify-content-center">
              <div style="width: 80%;">
                <div class="file-input-wrapper w-100 h-15 my-2 mb-2">
                  <div style="width: 100%; margin-bottom: 10px; margin-top: 10px;">
                    <select class="select2" name="title" id="title_select" style="width: 95%;" onchange="setEntryId()">
                      {% for item in html_sorted_bookmarks %}
                          <option value="{{ item.title }} ({{ item.release_year }}) | {{ item.object_type }}" data-entry-id="{{ item.entry_id }}" 
                              {% if item.entry_id == html_entry_id_selected %}selected{% endif %}>
                              {{ item.title }} ({{ item.release_year }}) | {{ item.object_type }}
                          </option>
                      {% endfor %}
                    </select>
                    <input type="hidden" name="entry_id" id="entry_id">
                    <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Modify-Programs" target="_blank">
                      <i class="material-icons opacity-10" style="position: relative; top: 3px; margin-left: 10px;">help_outline</i>
                    </a>
                  </div>
                  <div style="width: 100%;">
                    <button type="submit" name="action" value="program_modify_edit" class="btn bg-gradient-primary h-15 my-2 mb-2" style="margin-left: 10px; width: calc(31.5%);" {% if html_edit_flag or html_sorted_bookmarks|length == 0 %}disabled{% endif %}>Edit</button>
                    <button type="submit" name="action" value="program_modify_available" class="btn bg-gradient-primary h-15 my-2 mb-2" style="margin-left: 10px; width: calc(31.5%);" {% if html_edit_flag or html_sorted_bookmarks|length == 0 %}disabled{% endif %}>Check Availability</button>
                    <button type="submit" name="action" value="program_modify_delete" class="btn bg-gradient-primary h-15 my-2 mb-2" style="margin-left: 10px; width: calc(31.5%);" {% if html_edit_flag or html_sorted_bookmarks|length == 0 %}disabled{% endif %}>Delete</button>
                    <button type="submit" name="action" value="program_modify_show_hidden" class="btn bg-gradient-primary h-15 my-2 mb-2" style="margin-left: 10px; width: calc(31.5%);" {% if html_edit_flag %}disabled{% endif %}>Show Hidden</button>
                    <button type="submit" name="action" value="program_modify_generate" class="btn bg-gradient-primary h-15 my-2 mb-2" style="margin-left: 10px; width: calc(31.5%);" {% if html_edit_flag or html_sorted_bookmarks|length == 0 %}disabled{% endif %}>Generate Stream Links/Files</button>
                    <button type="submit" name="action" value="program_modify_cancel" class="btn bg-gradient-primary h-15 my-2 mb-2" style="margin-left: 10px; width: calc(31.5%);" onclick="allowNavigation_save_cancel()">Cancel / Reset</button>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          <!-- Check Availability Section -->
          {% if html_offer_icons_flag %}
            <div style="text-align: center; text-transform: none; font-weight: normal; font-size: 1.3em;">
              <hr style="display: inline-block; width: calc(50% - 90px); margin: 0 10px; vertical-align: middle;">
              <b>Available On</b>
              <hr style="display: inline-block; width: calc(50% - 90px); margin: 0 10px; vertical-align: middle;">
            </div>                    
            <div style="display: flex; flex-wrap: wrap; align-items: center;">
              {% for icon in html_offer_icons %}
                <img src="{{ icon }}" style="width: 55px; height: 55px; margin-right: 5px; margin-top: 5px; object-fit: contain;">
              {% endfor %}
            </div>
          {% endif %}
          <!-- Bookmark Section -->
          {% if html_edit_flag %}
            <div class="container-fluid">
              <div class="grid-container dynamic-bg" style="text-align: center;">
                <div class="grid-item"><h6>Labels
                  <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Settings:-Labels" target="_blank">
                    <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                  </a>                  
                </h6></div>
                <div class="grid-item"><h6>Title</h6></div>
                <div class="grid-item"><h6>Release Year</h6></div>
                <div class="grid-item"><h6>Bookmark Action
                  <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Bookmark-Actions" target="_blank">
                    <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                  </a>
                </h6></div>
                {% if html_slm_channels_dvr_integration %}
                  {% if html_object_type_selected == 'MOVIE' or html_object_type_selected == 'SHOW' %}
                    <div class="grid-item"><h6>Channels DVR Title Override
                      <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Bookmark-Overrides" target="_blank">
                        <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                      </a>                      
                    </h6></div>
                  {% endif %}  
                  {% if html_object_type_selected == 'VIDEO' or html_object_type_selected == 'SHOW' %}
                    <div class="grid-item"><h6>Channels DVR Summary Override</h6></div>
                    <div class="grid-item"><h6>Channels DVR Image Type Override</h6></div>
                    <div class="grid-item"><h6>Channels DVR Image (Manual) Override</h6></div>
                  {% endif %}   
                  {% if html_object_type_selected == 'VIDEO' %}
                    <div class="grid-item"><h6>Channels DVR Sort and Sort Order Override</h6></div>
                    <div class="grid-item"><h6>Channels DVR Video Overrides
                      <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Bookmark-Overrides" target="_blank">
                        <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                      </a>
                    </h6></div>
                  {% endif %} 
                {% endif %}
              </div>
              <div class="grid-container">
                <div class="grid-item">
                  <button class="btn bg-gradient-primary my-2 mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#labelPanel" aria-expanded="true" aria-controls="labelPanel">Show / Hide</button>
                </div>
                <div class="grid-item">
                  <input type="text" id="field_title" name="field_title" value="{{ html_title_selected }}" placeholder="A 'Title' is required..." title="{{ html_title_selected }}">
                </div>
                <div class="grid-item">
                  <input type="text" id="field_release_year" name="field_release_year" value="{{ html_release_year_selected }}" placeholder="Enter year (i.e., 2024)" title="{{ html_release_year_selected }}">
                </div>
                <div class="grid-item">
                  <select class="select2" name="field_bookmark_action" id="field_bookmark_action" style="width: 100%;">
                    {% for html_bookmark_action in html_bookmark_actions %}
                      <option {% if html_bookmark_action_selected == html_bookmark_action %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_bookmark_action }}</option>
                    {% endfor %}
                  </select>
                </div>
                {% if html_slm_channels_dvr_integration %}
                  {% if html_object_type_selected == 'MOVIE' or html_object_type_selected == 'SHOW' %}
                    <div class="grid-item">
                      <input type="text" id="field_override_program_title" name="field_override_program_title" value="{{ html_override_program_title_selected }}" title="{{ html_override_program_title_selected }}">
                    </div>
                  {% endif %}  
                  {% if html_object_type_selected == 'VIDEO' or html_object_type_selected == 'SHOW' %}
                    <div class="grid-item">
                      <input type="text" id="field_override_program_summary" name="field_override_program_summary" value="{{ html_override_program_summary_selected }}" title="{{ html_override_program_summary_selected }}">
                    </div>
                    <div class="grid-item">
                      <select class="select2" name="field_override_program_image_type" id="field_override_program_image_type" style="width: 100%;">
                        {% for html_override_program_image_type in html_override_program_image_types %}
                          <option value="{{ html_override_program_image_type.override_id }}" {% if html_override_program_image_type_selected == html_override_program_image_type.override_id %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_override_program_image_type.override_name }}</option>
                        {% endfor %}
                      </select>
                    </div>                    
                    <div class="grid-item">
                      <input type="text" id="field_override_program_image_manual" name="field_override_program_image_manual" value="{{ html_override_program_image_manual_selected }}" title="{{ html_override_program_image_manual_selected }}">
                    </div>
                  {% endif %}   
                  {% if html_object_type_selected == 'VIDEO' %}
                    <div class="grid-item">
                      <select class="select2" name="field_override_program_sort" id="field_override_program_sort" style="width: 100%;">
                        {% for html_override_program_sort in html_override_program_sorts %}
                          <option value="{{ html_override_program_sort.override_id }}" {% if html_override_program_sort_selected == html_override_program_sort.override_id %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_override_program_sort.override_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="grid-item">
                      <button type="submit" name="action" value="program_modify_import_episode_all" class="btn bg-gradient-primary my-2 mb-2" onclick="allowNavigation_save_cancel()">Import All</button>
                    </div> 
                  {% endif %} 
                {% endif %}
              </div>
            </div>
            <!-- Labels Section -->
            <div class="collapse" id="labelPanel">
              <div class="content-placeholder">
                <div class="container-fluid">
                  <div class="grid-container dynamic-bg" style="text-align: center; position: sticky; top: 0; z-index: 10;">
                    <div class="grid-item"><h6>Assign</h6></div>
                    <div class="grid-item"><h6>Label</h6></div>
                  </div>
                  {% for item in html_webpage_label_maps %}
                    <input type="hidden" name="webpage_label_id_{{ loop.index }}" id="webpage_label_id_{{ loop.index }}" value="{{ item.webpage_label_id }}">
                    <div class="grid-container">
                      <div class="grid-item">
                        <div class="form-check form-switch ps-0 is-filled">
                          <input type="checkbox" id="webpage_label_active_{{ loop.index }}" name="webpage_label_active_{{ loop.index }}" class="form-check-input" style="margin-left: 5px;" {% if item.webpage_label_active == 'On' %}checked{% endif %}>
                        </div>
                      </div>
                      <div class="grid-item">
                        <input type="text" id="webpage_label_name_{{ loop.index }}" name="webpage_label_name_{{ loop.index }}" value="{{ item.webpage_label_name }}" readonly style="background-color: #d1cdcde5;" title="{{ item.webpage_label_name }}">
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>    
            </div>
            <hr>
            <!-- Manual Order Videos Section -->
            {% if html_slm_channels_dvr_integration and html_object_type_selected == 'VIDEO' and html_override_program_sort_selected == 'manual' %}
              <div class="container">
                <h6 id="manual_order_videos_anchor">Manual Order Videos</h6>
                <div class="box-container">
                  <div class="manual-order-video-container">
                    <div>
                      <select id="manualOrderVideosList" class="listbox" multiple>
                        <!-- Manual Order Videos will be populated by JavaScript -->
                      </select>
                    </div>
                    <div class="buttons">
                      <button type="button" class="btn bg-gradient-primary h-2 w-2 my-2 mb-2 centered-button" onclick="manual_order_videos_moveUp()">
                        <i class="material-icons opacity-10">keyboard_arrow_up</i>
                      </button>
                      <button type="button" class="btn bg-gradient-primary h-2 w-2 my-2 mb-2 centered-button" onclick="manual_order_videos_moveDown()">
                        <i class="material-icons opacity-10">keyboard_arrow_down</i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <input type="hidden" id="manual_order_videos" name="manual_order_videos">
              <p></p>
              <hr>
            {% endif %}
          {% endif %}
          <!-- START: Looping for Bookmarks Statuses Selected -->
          <div class="container-fluid">
            <input type="hidden" name="field_object_type" id="field_object_type" value="{{ html_object_type_selected }}">
            {% if html_object_type_selected == 'MOVIE' %}
              <div class="grid-container dynamic-bg" style="text-align: center; position: sticky; top: 0; z-index: 10;">
                <div class="grid-item"><h6>Watched / Unwatched</h6></div>
                <div class="grid-item"><h6>Current Stream Link/File</h6></div>
                <div class="grid-item"><h6>Stream Link/File Override</h6></div>
                <div class="grid-item"><h6>Special Action
                  <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Special-Actions" target="_blank">
                    <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                  </a>
                </h6></div>
                {% if html_slm_channels_dvr_integration %}
                  <div class="grid-item"><h6>Channels DVR Summary Override</h6></div>
                  <div class="grid-item"><h6>Channels DVR Image Override</h6></div>
                  <div class="grid-item"><h6>Channels DVR Duration Override
                    <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Advanced-Selections-and-Overrides" target="_blank">
                      <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                    </a>                    
                  </h6></div>
                {% endif %}
              </div>
            {% endif %}
            {% if html_object_type_selected == 'SHOW' %}
              <div class="grid-container dynamic-bg" style="text-align: center; position: sticky; top: 0; z-index: 10;">
                <div class="grid-item"><h6>Watched / Unwatched</h6></div>
                <div class="grid-item"><h6>Current Stream Link/File</h6></div>
                <div class="grid-item"><h6>Stream Link/File Override</h6></div>
                <div class="grid-item"><h6>Special Action
                  <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Special-Actions" target="_blank">
                    <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                  </a>
                </h6></div>
                <div class="grid-item"><h6>Episode Prefix</h6></div>
                {% if html_slm_channels_dvr_integration %}
                  <div class="grid-item"><h6>Channels DVR Episode Title Override</h6></div>
                  <div class="grid-item"><h6>Channels DVR Summary Override</h6></div>
                  <div class="grid-item"><h6>Channels DVR Image Override</h6></div>
                  <div class="grid-item"><h6>Channels DVR Duration Override
                    <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Advanced-Selections-and-Overrides" target="_blank">
                      <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                    </a>                    
                  </h6></div>
                {% endif %}
                <div class="grid-item"><h6>Action</h6></div>
              </div>
              <div class="grid-container" style="text-align: center;">
                <div class="grid-item">
                  <div class="form-check form-switch ps-0 is-filled">
                    <label class="form-check-label text-body text-truncate w-80 mb-0" for="check_all_global" style="font-weight: bold; font-size: 1.2em;">All Episodes</label>
                    <input type="checkbox" class="form-check-input" id="check_all_global" onclick="toggleAllCheckboxes(this)" checked>
                  </div>
                </div>
                <div class="grid-item">
                  <hr style="border: 3px solid; width: 100%;">
                </div>
                <div class="grid-item">
                  <hr style="border: 3px solid; width: 100%;">
                </div>
                <div class="grid-item">
                  <select name="global_special_action" id="global_special_action" onchange="toggleAllDropdowns(this)" style="width: 100%; max-width: 100%;">
                    {% for html_special_action in html_special_actions %}
                      <option {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="grid-item">
                  <input type="text" id="global_episode_prefix" name="global_episode_prefix" placeholder="i.e., (SUB), (DUB)" oninput="toggleAllTextBoxes(this)">
                </div>
                {% if html_slm_channels_dvr_integration %}
                  <div class="grid-item">
                    <hr style="border: 3px solid; width: 100%;">
                  </div>
                  <div class="grid-item">
                    <hr style="border: 3px solid; width: 100%;">
                  </div>
                  <div class="grid-item">
                    <hr style="border: 3px solid; width: 100%;">
                  </div>
                  <div class="grid-item">
                    <hr style="border: 3px solid; width: 100%;">
                  </div>
                {% endif %}                          
                <div class="grid-item">
                  <hr style="border: 3px solid; width: 100%;">
                </div>
              </div>
            {% endif %}
            {% if html_object_type_selected == 'VIDEO' %}
              <div class="grid-container dynamic-bg" style="text-align: center; position: sticky; top: 0; z-index: 10;">
                <div class="grid-item"><h6>Watched / Unwatched</h6></div>
                <div class="grid-item"><h6>Video Name</h6></div>
                <div class="grid-item"><h6>Stream Link/File Override</h6></div>
                <div class="grid-item"><h6>Special Action
                  <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Special-Actions" target="_blank">
                    <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                  </a>
                </h6></div>
                {% if html_slm_channels_dvr_integration %}
                  <div class="grid-item"><h6>Channels DVR Video Title Override</h6></div>
                  <div class="grid-item"><h6>Channels DVR Summary Override</h6></div>
                  <div class="grid-item"><h6>Channels DVR Image Override</h6></div>
                  <div class="grid-item"><h6>Channels DVR Duration Override</h6></div>
                  <div class="grid-item"><h6>Channels DVR Video Overrides
                    <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Advanced-Selections-and-Overrides" target="_blank">
                      <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                    </a>                    
                  </h6></div>
                {% endif %}
                <div class="grid-item"><h6>Action</h6></div>
              </div>
            {% endif %}
            {% set processed_seasons = {} %}
            {% for item in html_bookmarks_statuses_selected %}
              <!-- MOVIE: Edit Section -->
              {% if html_object_type_selected == 'MOVIE' %}
                <div class="grid-container">
                  <div class="grid-item">
                    <div class="form-check form-switch ps-0 is-filled">
                      <input type="checkbox" id="field_status_{{ loop.index }}" name="field_status_{{ loop.index }}" class="form-check-input" style="margin-left: 5px;" {% if item.status|lower == 'unwatched' %}checked{% endif %}>
                    </div>
                  </div>
                  <div class="grid-item">
                    <input type="text" value="{{ item.stream_link }}" readonly style="background-color: #d1cdcde5;" title="{{ item.stream_link }}">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="field_stream_link_override_{{ loop.index }}" name="field_stream_link_override_{{ loop.index }}" value="{{ item.stream_link_override }}" placeholder="i.e., https://link_to_website.com/path_to_streamlink" title="{{ item.stream_link_override }}">
                  </div>
                  <div class="grid-item">
                    <select name="field_special_action_{{ loop.index }}" id="field_special_action_{{ loop.index }}" style="width: 100%; max-width: 100%;">
                      {% for html_special_action in html_special_actions %}
                        <option {% if html_special_action == item.special_action %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  {% if html_slm_channels_dvr_integration %}
                    <div class="grid-item">
                      <input type="text" id="field_override_summary_{{ loop.index }}" name="field_override_summary_{{ loop.index }}" value="{{ item.override_summary }}" placeholder="i.e., Here is a description of what happens here." title="{{ item.override_summary }}">
                    </div>
                    <div class="grid-item">
                      <input type="text" id="field_override_image_{{ loop.index }}" name="field_override_image_{{ loop.index }}" value="{{ item.override_image }}" placeholder="i.e., http://linktosomething.com/image.jpg" title="{{ item.override_image }}">
                    </div>
                    <div class="grid-item">
                      <input type="text" id="field_override_duration_{{ loop.index }}" name="field_override_duration_{{ loop.index }}" value="{{ item.override_duration }}" placeholder="i.e., 3600" title="{{ item.override_duration }}">
                    </div>
                  {% endif %}
                </div>
              {% endif %}
              <!-- SHOW: Edit Section -->
              {% if html_object_type_selected == 'SHOW' %}
                {% set season = item.season_episode.split('E')[0] %}
                {% if season not in processed_seasons %}
                  {% set processed_seasons = processed_seasons.update({season: True}) %}
                  <div class="grid-container" style="text-align: center;">
                    <div class="grid-item">
                      <div class="form-check form-switch ps-0 is-filled">
                        <label class="form-check-label text-body text-truncate w-80 mb-0" for="check_all_{{ season }}" style="font-weight: bold; font-size: 1.1em;">All {{ season }}</label>
                        <input type="checkbox" class="form-check-input" id="check_all_{{ season }}" onclick="toggleSeasonCheckboxes('{{ season }}', this)" checked>
                      </div>
                    </div>
                    <div class="grid-item">
                      <hr style="border: 3px solid; width: 100%;">
                    </div>
                    <div class="grid-item">
                      <hr style="border: 3px solid; width: 100%;">
                    </div>
                    <div class="grid-item">
                      <select name="season_special_action_{{ season }}" id="season_special_action_{{ season }}" class="{{ season }}" onchange="toggleSeasonDropdowns('{{ season }}', this)" style="width: 100%; max-width: 100%;">
                        {% for html_special_action in html_special_actions %}
                          <option {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="grid-item">
                      <input type="text" id="season_episode_prefix_{{ season }}" name="season_episode_prefix_{{ season }}" placeholder="i.e., (SUB), (DUB)" class="{{ season }}" oninput="toggleSeasonTextBoxes('{{ season }}', this)">
                    </div>
                    {% if html_slm_channels_dvr_integration %}
                      <div class="grid-item">
                        <hr style="border: 3px solid; width: 100%;">
                      </div>
                      <div class="grid-item">
                        <hr style="border: 3px solid; width: 100%;">
                      </div>
                      <div class="grid-item">
                        <hr style="border: 3px solid; width: 100%;">
                      </div>                    
                      <div class="grid-item">
                        <hr style="border: 3px solid; width: 100%;">
                      </div>
                    {% endif %}
                    <div class="grid-item">
                      <hr style="border: 3px solid; width: 100%;">
                    </div>
                  </div>
                {% endif %}
                <input type="hidden" name="field_season_episode_{{ loop.index }}" id="field_season_episode_{{ loop.index }}" value="{{ item.season_episode }}">
                <div class="grid-container">
                  <div class="grid-item">
                    <div class="form-check form-switch ps-0 is-filled">
                      <label class="form-check-label text-body text-truncate w-80 mb-0" for="field_status_{{ loop.index }}">{{ item.season_episode }}</label>
                      <input type="checkbox" id="field_status_{{ loop.index }}" name="field_status_{{ loop.index }}" class="form-check-input episode-checkbox {{ season }}" {% if item.status|lower == 'unwatched' %}checked{% endif %}>
                    </div>
                  </div>
                  <div class="grid-item">
                    <input type="text" value="{{ item.stream_link }}" readonly style="background-color: #d1cdcde5;" title="{{ item.stream_link }}">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="field_stream_link_override_{{ loop.index }}" name="field_stream_link_override_{{ loop.index }}" value="{{ item.stream_link_override }}" placeholder="i.e., https://link_to_website.com/path_to_streamlink" title="{{ item.stream_link_override }}">
                  </div>
                  <div class="grid-item">
                    <select name="field_special_action_{{ loop.index }}" id="field_special_action_{{ loop.index }}" class="{{ season }}" style="width: 100%; max-width: 100%;">
                      {% for html_special_action in html_special_actions %}
                        <option {% if html_special_action == item.special_action %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="grid-item">
                    <input type="text" id="field_episode_prefix_{{ loop.index }}" name="field_episode_prefix_{{ loop.index }}" value="{{ item.season_episode_prefix }}" placeholder="i.e., (SUB), (DUB)" class="{{ season }}" title="{{ item.season_episode_prefix }}">
                  </div>
                  {% if html_slm_channels_dvr_integration %}
                    <div class="grid-item">
                      <input type="text" id="field_override_episode_title_{{ loop.index }}" name="field_override_episode_title_{{ loop.index }}" value="{{ item.override_episode_title }}" placeholder="i.e., This Episode Name" title="{{ item.override_episode_title }}">
                    </div>
                    <div class="grid-item">
                      <input type="text" id="field_override_summary_{{ loop.index }}" name="field_override_summary_{{ loop.index }}" value="{{ item.override_summary }}" placeholder="i.e., Here is a description of what happens here." title="{{ item.override_summary }}">
                    </div>
                    <div class="grid-item">
                      <input type="text" id="field_override_image_{{ loop.index }}" name="field_override_image_{{ loop.index }}" value="{{ item.override_image }}" placeholder="i.e., http://linktosomething.com/image.jpg" title="{{ item.override_image }}">
                    </div>
                    <div class="grid-item">
                      <input type="text" id="field_override_duration_{{ loop.index }}" name="field_override_duration_{{ loop.index }}" value="{{ item.override_duration }}" placeholder="i.e., 3600" title="{{ item.override_duration }}">
                    </div>
                  {% endif %}
                  <div class="grid-item">
                    <button type="submit" name="action" value="program_modify_delete_episode_{{ loop.index }}" class="btn bg-gradient-primary my-2 mb-2" onclick="allowNavigation_save_cancel()">Delete</button>
                  </div>
                </div>
              {% endif %}
              <!-- VIDEO: Edit Section -->
              {% if html_object_type_selected == 'VIDEO' %}
                <input type="hidden" name="field_episode_prefix_{{ loop.index }}" id="field_episode_prefix_{{ loop.index }}" value="{{ item.season_episode_prefix }}">
                <div class="grid-container">
                  <div class="grid-item">
                    <div class="form-check form-switch ps-0 is-filled">
                      <input type="checkbox" id="field_status_{{ loop.index }}" name="field_status_{{ loop.index }}" class="form-check-input" style="margin-left: 5px;" {% if item.status|lower == 'unwatched' %}checked{% endif %}>
                    </div>
                  </div>
                  <div class="grid-item">
                    <input type="text" id="field_season_episode_{{ loop.index }}" name="field_season_episode_{{ loop.index }}" value="{{ item.season_episode }}" placeholder="i.e., Unique Video Name 01" title="{{ item.season_episode }}">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="field_stream_link_override_{{ loop.index }}" name="field_stream_link_override_{{ loop.index }}" value="{{ item.stream_link_override }}" placeholder="i.e., https://link_to_website.com/path_to_streamlink" title="{{ item.stream_link_override }}">
                  </div>
                  <div class="grid-item">
                    <select name="field_special_action_{{ loop.index }}" id="field_special_action_{{ loop.index }}" style="width: 100%; max-width: 100%;">
                      {% for html_special_action in html_special_actions %}
                        <option {% if html_special_action == item.special_action %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  {% if html_slm_channels_dvr_integration %}
                    <div class="grid-item">
                      <input type="text" id="field_override_episode_title_{{ loop.index }}" name="field_override_episode_title_{{ loop.index }}" value="{{ item.override_episode_title }}" placeholder="i.e., This Override Video Name" title="{{ item.override_episode_title }}">
                    </div>
                    <div class="grid-item">
                      <input type="text" id="field_override_summary_{{ loop.index }}" name="field_override_summary_{{ loop.index }}" value="{{ item.override_summary }}" placeholder="i.e., Here is a description of what happens here." title="{{ item.override_summary }}">
                    </div>
                    <div class="grid-item">
                      <input type="text" id="field_override_image_{{ loop.index }}" name="field_override_image_{{ loop.index }}" value="{{ item.override_image }}" placeholder="i.e., http://linktosomething.com/image.jpg" title="{{ item.override_image }}">
                    </div>
                    <div class="grid-item">
                      <input type="text" id="field_override_duration_{{ loop.index }}" name="field_override_duration_{{ loop.index }}" value="{{ item.override_duration }}" placeholder="i.e., 3600" title="{{ item.override_duration }}">
                    </div>
                    <div class="grid-item">
                      <button type="submit" name="action" value="program_modify_import_episode_{{ loop.index }}" class="btn bg-gradient-primary my-2 mb-2" onclick="allowNavigation_save_cancel()">Import</button>
                    </div>                    
                  {% endif %}
                  <div class="grid-item">
                    <button type="submit" name="action" value="program_modify_delete_episode_{{ loop.index }}" class="btn bg-gradient-primary my-2 mb-2" onclick="allowNavigation_save_cancel()">Delete</button>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <!-- END: Looping for Bookmarks Statuses Selected -->
          <!-- SHOWS: Add Episodes -->
          {% if html_object_type_selected == 'SHOW' %}
            <div class="container-fluid">
              <div class="grid-container" style="text-align: center;">
                <div class="grid-item">
                  <input type="text" id="program_modify_add_episode_season" name="program_modify_add_episode_season" placeholder="Season Number (i.e., 1, 2, 3...)">
                </div>
                <div class="grid-item">
                  <input type="text" id="program_modify_add_episode_episode" name="program_modify_add_episode_episode" placeholder="Episode Number (i.e., 1, 2, 3...)">
                </div>
                <div class="grid-item">
                  <input type="text" id="program_modify_add_episode_stream_link_override" name="program_modify_add_episode_stream_link_override" placeholder="i.e., https://link_to_website.com/path_to_streamlink">
                </div>
                <div class="grid-item">
                  <select name="program_modify_add_episode_special_action" id="program_modify_add_episode_special_action" style="width: 100%; max-width: 100%;">
                    {% for html_special_action in html_special_actions %}
                      <option {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="grid-item">
                  <input type="text" id="program_modify_add_episode_episode_prefix" name="program_modify_add_episode_episode_prefix" placeholder="i.e., (SUB), (DUB)">
                </div>
                {% if html_slm_channels_dvr_integration %}
                  <div class="grid-item">
                    <input type="text" id="program_modify_add_episode_override_episode_title" name="program_modify_add_episode_override_episode_title" placeholder="i.e., This Episode Name">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="program_modify_add_episode_override_summary" name="program_modify_add_episode_override_summary" placeholder="i.e., Here is a description of what happens here.">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="program_modify_add_episode_override_image" name="program_modify_add_episode_override_image" placeholder="i.e., http://linktosomething.com/image.jpg">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="program_modify_add_episode_override_duration" name="program_modify_add_episode_override_duration" placeholder="i.e., 3600">
                  </div>
                {% endif %}
                <div class="grid-item">
                  <button type="submit" name="action" value="program_modify_add_episode" class="btn bg-gradient-primary my-2 mb-2" onclick="allowNavigation_save_cancel()">Add Episode</button>
                </div>              
              </div>          
            </div>
          {% endif %}
          <!-- VIDEOS: Add Videos -->
          {% if html_object_type_selected == 'VIDEO' %}
            <div class="container-fluid">
              <div class="grid-container" style="text-align: center;">
                <input type="text" id="program_modify_add_episode_season" name="program_modify_add_episode_season" hidden>
                <input type="text" id="program_modify_add_episode_episode_prefix" name="program_modify_add_episode_episode_prefix" hidden>
                <div class="grid-item">
                </div>
                <div class="grid-item">
                  <input type="text" id="program_modify_add_episode_episode" name="program_modify_add_episode_episode" placeholder="i.e., Unique Video Name 2">
                </div>
                <div class="grid-item">
                  <input type="text" id="program_modify_add_episode_stream_link_override" name="program_modify_add_episode_stream_link_override" placeholder="i.e., https://link_to_website.com/path_to_streamlink">
                </div>
                <div class="grid-item">
                  <select name="program_modify_add_episode_special_action" id="program_modify_add_episode_special_action" style="width: 100%; max-width: 100%;">
                    {% for html_special_action in html_special_actions %}
                      <option {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                    {% endfor %}
                  </select>
                </div>
                {% if html_slm_channels_dvr_integration %}
                  <div class="grid-item">
                    <input type="text" id="program_modify_add_episode_override_episode_title" name="program_modify_add_episode_override_episode_title" placeholder="i.e., This Episode Name">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="program_modify_add_episode_override_summary" name="program_modify_add_episode_override_summary" placeholder="i.e., Here is a description of what happens here.">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="program_modify_add_episode_override_image" name="program_modify_add_episode_override_image" placeholder="i.e., http://linktosomething.com/image.jpg">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="program_modify_add_episode_override_duration" name="program_modify_add_episode_override_duration" placeholder="i.e., 3600">
                  </div>
                  <div class="grid-item">
                    <button type="submit" name="action" value="program_modify_add_episode_import" class="btn bg-gradient-primary my-2 mb-2" onclick="allowNavigation_save_cancel()">Import & Add Video</button>
                  </div> 
                {% endif %}
                <div class="grid-item">
                  <button type="submit" name="action" value="program_modify_add_episode" class="btn bg-gradient-primary my-2 mb-2" onclick="allowNavigation_save_cancel()">Add Video</button>
                </div>              
              </div>
            </div>
          {% endif %}
          <!-- Save / Cancel Section -->
          {% if html_edit_flag %}
            <hr>
            <div id="floating-buttons" style="position: sticky; bottom: 0; padding: 10px;">
              <button type="submit" name="action" value="program_modify_save" class="btn bg-gradient-primary w-25 my-2 mb-2" onclick="allowNavigation_save_cancel()">Save</button>
              <button type="submit" name="action" value="program_modify_cancel" class="btn bg-gradient-primary w-25 my-2 mb-2" onclick="allowNavigation_save_cancel()">Finish / Cancel</button>
            </div>
            <script>
              let allowNavigate_save_cancel = false;
        
              function allowNavigation_save_cancel() {
                allowNavigate_save_cancel = true;
              }
        
              window.onbeforeunload = function() {
                if (!allowNavigate_save_cancel) {
                  return "WARNING: Do not navigate away before selecting 'Save' or 'Cancel' as your program may not be recorded correctly.";
                }
              };
            </script>
          {% endif %}
        </form>
      </div>
    </div>
    <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loadingModalLabel">Processing</h5>
          </div>
          <div class="modal-body">
            Please wait while the process completes...
          </div>
        </div>
      </div>
    </div>

    <!-- {% include 'includes/footer.html' %} -->

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  function setEntryId() {
      var select = document.getElementById('title_select');
      var selectedOption = select.options[select.selectedIndex];
      var entryId = selectedOption.getAttribute('data-entry-id');
      document.getElementById('entry_id').value = entryId;
  }

  // Ensure the hidden input is set correctly on page load
  document.addEventListener('DOMContentLoaded', function() {
      setEntryId(); // Call setEntryId to set the entry_id value on page load
  });

  // Add an event listener to update the entry_id whenever the selection changes
  document.getElementById('title_select').addEventListener('change', setEntryId);
</script>
<!-- "All" and "Season" Controls for "Watched/Unwatched Status" and "Special Actions" -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const allCheckbox = document.getElementById('check_all_global');
    const seasonCheckboxes = document.querySelectorAll('[id^="check_all_"]');
    const episodeCheckboxes = document.querySelectorAll('.episode-checkbox');
    const allDropdown = document.getElementById('global_special_action');
    const seasonDropdowns = document.querySelectorAll('select[id^="season_special_action_"]');
    const episodeDropdowns = document.querySelectorAll('select[id^="field_special_action_"]');
    const allTextBox = document.getElementById('global_episode_prefix');
    const seasonTextBoxes = document.querySelectorAll('input[id^="season_episode_prefix_"]');
    const episodeTextBoxes = document.querySelectorAll('input[id^="field_episode_prefix_"]');

    // Initialize dropdowns to null
    allDropdown.value = '';
    seasonDropdowns.forEach(dropdown => dropdown.value = '');

    allCheckbox.addEventListener('change', (event) => toggleAllCheckboxes(event.target));
    seasonCheckboxes.forEach(checkbox => checkbox.addEventListener('change', (event) => toggleSeasonCheckboxes(event.target.id.replace('check_all_', ''), event.target)));
    episodeCheckboxes.forEach(checkbox => checkbox.addEventListener('change', () => {
      updateSeasonCheckboxes();
      updateAllCheckbox();
    }));
    allDropdown.addEventListener('change', (event) => {
      toggleAllDropdowns(event.target);
      allDropdown.value = ''; // Reset to null after propagating
    });
    seasonDropdowns.forEach(dropdown => dropdown.addEventListener('change', (event) => {
      toggleSeasonDropdowns(event.target.className, event.target);
      event.target.value = ''; // Reset to null after propagating
    }));
    allTextBox.addEventListener('input', (event) => {
      toggleAllTextBoxes(event.target);
    });
    seasonTextBoxes.forEach(textbox => textbox.addEventListener('input', (event) => {
      toggleSeasonTextBoxes(event.target.id.replace('season_episode_prefix_', ''), event.target);
    }));

    function toggleAllCheckboxes(source) {
      episodeCheckboxes.forEach(checkbox => checkbox.checked = source.checked);
      updateSeasonCheckboxes();
      updateAllCheckbox();
    }

    function toggleSeasonCheckboxes(season, source) {
      document.querySelectorAll('.' + season).forEach(checkbox => checkbox.checked = source.checked);
      updateSeasonCheckboxes();
      updateAllCheckbox();
    }

    function updateSeasonCheckboxes() {
      seasonCheckboxes.forEach(seasonCheckbox => {
        const season = seasonCheckbox.id.replace('check_all_', '');
        const checkboxes = document.querySelectorAll('.' + season);
        seasonCheckbox.checked = Array.from(checkboxes).some(checkbox => checkbox.checked);
      });
    }

    function updateAllCheckbox() {
      allCheckbox.checked = Array.from(seasonCheckboxes).some(checkbox => checkbox.checked);
    }

    function toggleAllDropdowns(source) {
      episodeDropdowns.forEach(dropdown => dropdown.value = source.value);
    }

    function toggleSeasonDropdowns(season, source) {
      document.querySelectorAll('select.' + season).forEach(dropdown => dropdown.value = source.value);
    }

    function toggleAllTextBoxes(source) {
      episodeTextBoxes.forEach(textbox => textbox.value = source.value);
    }

    function toggleSeasonTextBoxes(season, source) {
      document.querySelectorAll('input.' + season).forEach(textbox => textbox.value = source.value);
    }
  });
</script>
<!-- Processing Box -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('process-form').addEventListener('submit', function(event) {
      console.log("Form submitted"); // Debugging

      // Wait for a short delay to ensure the form submission is not blocked
      setTimeout(() => {
        // Ensure the modal element exists
        const modalElement = document.getElementById('loadingModal');
        if (!modalElement) {
          console.error('Modal element not found!');
          return;
        }

        // Show the modal
        const loadingModal = new bootstrap.Modal(modalElement, {
          backdrop: 'static',
          keyboard: false
        });
        console.log("Showing modal"); // Debugging
        loadingModal.show();

        // Disable all navigation links
        document.querySelectorAll('a').forEach(element => {
          element.setAttribute('disabled', 'true');
          element.addEventListener('click', function(event) {
            event.preventDefault();
          });
        });
      }, 500); // Adjust the delay as needed
    });
  });
</script>
<!-- Background Color of Header Labels -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const darkModeToggle = document.getElementById('dark-version');

    // Function to update the background color of the specific grid-container
    function updateGridContainerBackground() {
      const bodyStyle = getComputedStyle(document.body);
      const bodyBgColor = bodyStyle.backgroundColor;

      // Apply the background color to the specific grid-container
      document.querySelectorAll('.dynamic-bg').forEach(container => {
        container.style.backgroundColor = bodyBgColor;
      });
    }

    // Initial update of the grid-container background color
    updateGridContainerBackground();

    // Listen for changes to the dark mode toggle
    if (darkModeToggle) {
      darkModeToggle.addEventListener('change', function () {
        updateGridContainerBackground();
      });
    }
  });
</script>
<!-- Remember Expand / Collapsed Status-->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    function applyCollapseState(sectionId) {
      var section = document.getElementById(sectionId);
      var isExpanded = localStorage.getItem(sectionId + '_expanded') === 'true';
      if (isExpanded) {
        section.classList.add('show');
        loadContent(sectionId); // Load content if initially expanded
      }
    }

    function saveCollapseState(sectionId) {
      var section = document.getElementById(sectionId);
      var isExpanded = section.classList.contains('show');
      localStorage.setItem(sectionId + '_expanded', isExpanded);
    }

    function loadContent(sectionId) {
      var contentElement = document.getElementById(sectionId);
      var contentPlaceholder = contentElement.querySelector('.content-placeholder');

      if (contentPlaceholder && contentPlaceholder.innerHTML.trim() === '') {
        fetch('/get-content?section=' + sectionId)
          .then(response => response.text())
          .then(data => {
            contentPlaceholder.innerHTML = data;
          })
          .catch(error => console.error('Error loading content:', error));
      }
    }

    applyCollapseState('labelPanel');

    ['shown.bs.collapse', 'hidden.bs.collapse'].forEach(eventName => {
      document.getElementById('labelPanel').addEventListener(eventName, function() {
        saveCollapseState('labelPanel');
        if (eventName === 'shown.bs.collapse') {
          loadContent('labelPanel');
        }
      });
    });
  });
</script>
<!-- Manual Video Order -->
<script>
  const manualOrderVideos = {{ html_bookmarks_statuses_selected | tojson }};
  const manualOrderVideosList = document.getElementById('manualOrderVideosList');
  const manualOrderVideosInput = document.getElementById('manual_order_videos');

  function populateManualOrderVideosLists() {
    manualOrderVideosList.innerHTML = '';
    const unwatchedManualOrderVideos = manualOrderVideos.filter(manual_order => manual_order.status.toLowerCase() === 'unwatched');
    unwatchedManualOrderVideos.sort((a, b) => (a.manual_order || 0) - (b.manual_order || 0));
    unwatchedManualOrderVideos.forEach(manual_order => {
        const option = document.createElement('option');
        option.value = manual_order.season_episode;
        option.text = manual_order.override_episode_title && manual_order.override_episode_title.trim() !== "" 
            ? manual_order.override_episode_title 
            : manual_order.season_episode;
        manualOrderVideosList.appendChild(option);
    });
  }

  function manual_order_videos_moveUp() {
    const selectedManualOrderVideosOptions = Array.from(manualOrderVideosList.selectedOptions);
    selectedManualOrderVideosOptions.forEach(option => {
      const previousManualOrderVideosOption = option.previousElementSibling;
      if (previousManualOrderVideosOption) {
        manualOrderVideosList.insertBefore(option, previousManualOrderVideosOption);
        manual_order_videos_updateManualOrderVideos();
      }
    });
  }

  function manual_order_videos_moveDown() {
    const selectedManualOrderVideosOptions = Array.from(manualOrderVideosList.selectedOptions);
    selectedManualOrderVideosOptions.reverse().forEach(option => {
      const nextManualOrderVideosOption = option.nextElementSibling;
      if (nextManualOrderVideosOption) {
        manualOrderVideosList.insertBefore(nextManualOrderVideosOption, option);
        manual_order_videos_updateManualOrderVideos();
      }
    });
  }

  function manual_order_videos_updateManualOrderVideos() {
    const allManualOrderVideosOptions = Array.from(manualOrderVideosList.options);
    const unwatchedManualOrderVideos = manualOrderVideos.filter(manual_order => manual_order.status.toLowerCase() === 'unwatched');
    
    // Ensure unique order for unwatched videos first
    allManualOrderVideosOptions.forEach((option, index) => {
      const manual_order = unwatchedManualOrderVideos.find(s => s.season_episode === option.value);
      if (manual_order) {
        manual_order.manual_order = index + 1;
      }
    });

    // Reorder order to ensure uniqueness across all videos
    manualOrderVideos.sort((a, b) => (a.manual_order || 0) - (b.manual_order || 0));
    manualOrderVideos.forEach((manual_order, index) => {
      manual_order.manual_order = index + 1;
    });

    manual_order_videos_updateHiddenInput();
  }

  function manual_order_videos_updateHiddenInput() {
    manualOrderVideosInput.value = JSON.stringify(manualOrderVideos.map(manual_order => ({
      season_episode: manual_order.season_episode,
      manual_order: manual_order.manual_order
    })));
    console.log("Hidden input updated:", manualOrderVideosInput.value); // Debugging
  }

  populateManualOrderVideosLists();
  manual_order_videos_updateHiddenInput();
</script>
{% endblock javascripts %}
