{% extends "layouts/base.html" %}

{% block title %} Playlists - Streaming Stations{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style> 
  .streaming_stations .grid-container {
      display: grid;
      grid-template-columns: 1.1fr 1.1fr 1.1fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
      gap: 10px;
  }

  .grid-item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 0;
  }

    .grid-item h6 {
      transform: rotate(-90deg);
      transform-origin: center center;
      white-space: nowrap;
    }

  .form-check {
      display: flex;
      align-items: center;
      gap: 3.5em; /* Adjust the gap as needed */
  }

  .form-check-label {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .form-check-input {
      flex-shrink: 0;
  }

  input[type="text"] {
      width: 100%;
      box-sizing: border-box;
  }

  .btn {
      width: 100%;
      box-sizing: border-box;
  }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4"></div>
  <div class="row min-vh-80 h-100">
    <div class="col-12">
      <form method="POST" action="streams" id="process-form">
        <!-- Manage Streaming Stations -->
        <h4 id="streaming_stations_anchor" style="margin: 0;">Streaming Stations</h4>
        <!-- Spacer row -->
        <div class="row">
          <div class="col-12 my-2"></div>
        </div>
        <div class="streaming_stations container-fluid" style="width: 98%;">
          <div class="grid-container" style="text-align: center; margin-right: 17px; margin-top: 50px;">
            <div class="grid-item" title="Only certain types of streams are acceptable to be consumed."><h6>Source</h6></div>
            <div class="grid-item" title="Link to the actual stream. A 'Custom' example would be 'https://asori-hls.streamguys1.com/asori/live-500/chunks.m3u8'. A 'YouTube' example would be 'https://www.youtube.com/watch?v=R7vrbiDi0Tc' for an individual live stream or 'https://www.youtube.com/@KittenAcademy/live' for the account's most recent live stream."><h6>URL</h6></div>
            <div class="grid-item" title="What you want the station to be called."><h6>Name</h6></div>
            <div class="grid-item" title="Link to a 4x3 aspect ratio image to be used as a logo with the station and in the guide."><h6>[OPTIONAL]<br>Logo</h6></div>
            <div class="grid-item" title="A detailed description that will appear with the station and in the guide."><h6>[OPTIONAL]<br>Description</h6></div>
            <div class="grid-item" title="Comma deliniated list of options like 'HDTV, Live'."><h6>[OPTIONAL]<br>Tag(s)</h6></div>
            <div class="grid-item" title="Comma deliniated list of options like 'Action, Children'."><h6>[OPTIONAL]<br>Genre(s)</h6></div>
            <div class="grid-item" title="Comma deliniated list of strict options like 'Movie, Sports event, Series'."><h6>[OPTIONAL]<br>Category(ies)</h6></div>
            <div class="grid-item" title="Duration of time in seconds. For example, 7200 = 2 hours."><h6>[OPTIONAL]<br>Guide Placeholder</h6></div>
            <div class="grid-item" title="Sinlge item for the Codec (i.e., h264, mpeg2)"><h6>[OPTIONAL]<br>Video Codec</h6></div>
            <div class="grid-item" title="Sinlge item for the Codec (i.e., ac3, aac)"><h6>[OPTIONAL]<br>Audio Codec</h6></div>
            <div class="grid-item"><h6>Action</h6></div>
          </div>
          <div class="grid-container" style="margin-right: 17px; margin-top: 50px;">
            <div class="grid-item">
              <select class="select2" name="streaming_stations_source_test" id="streaming_stations_source_test" style="width: 100%; max-width: 100%;">
                {% for streaming_station_option in html_streaming_station_options %}
                  <option value="{{ streaming_station_option }}" {% if streaming_station_option == html_streaming_stations_source_test_prior %}selected{% endif %} style="width: auto; min-width: 100%;">{{ streaming_station_option }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="grid-item">
              <input type="text" id="streaming_stations_url_test" name="streaming_stations_url_test" value="{{ html_streaming_stations_url_test_prior }}">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <button type="submit" name="action" value="streaming_stations_action_test" class="btn bg-gradient-primary my-2 mb-2">Test</button>
            </div>
          </div>
          <div class="grid-container" style="margin-right: 17px;">
            <div class="grid-item">
              <select class="select2" name="streaming_stations_source_new" id="streaming_stations_source_new" style="width: 100%; max-width: 100%;">
                {% for streaming_station_option in html_streaming_station_options %}
                  <option value="{{ streaming_station_option }}" {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ streaming_station_option }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="grid-item">
              <input type="text" id="streaming_stations_url_new" name="streaming_stations_url_new">
            </div>
            <div class="grid-item">
              <input type="text" id="streaming_stations_title_new" name="streaming_stations_title_new">
            </div>
            <div class="grid-item">
              <input type="text" id="streaming_stations_tvg_logo_new" name="streaming_stations_tvg_logo_new">
            </div>
            <div class="grid-item">
              <input type="text" id="streaming_stations_tvg_description_new" name="streaming_stations_tvg_description_new">
            </div>
            <div class="grid-item">
              <input type="text" id="streaming_stations_tvc_guide_tags_new" name="streaming_stations_tvc_guide_tags_new">
            </div>
            <div class="grid-item">
              <input type="text" id="streaming_stations_tvc_guide_genres_new" name="streaming_stations_tvc_guide_genres_new">
            </div>
            <div class="grid-item">
              <input type="text" id="streaming_stations_tvc_guide_categories_new" name="streaming_stations_tvc_guide_categories_new">
            </div>
            <div class="grid-item">
              <input type="text" id="streaming_stations_tvc_guide_placeholders_new" name="streaming_stations_tvc_guide_placeholders_new">
            </div>
            <div class="grid-item">
              <input type="text" id="streaming_stations_tvc_stream_vcodec_new" name="streaming_stations_tvc_stream_vcodec_new">
            </div>
            <div class="grid-item">
              <input type="text" id="streaming_stations_tvc_stream_acodec_new" name="streaming_stations_tvc_stream_acodec_new">
            </div>
            <div class="grid-item">
              <button type="submit" name="action" value="streaming_stations_action_new" class="btn bg-gradient-primary my-2 mb-2" disabled>Add</button>
            </div>
          </div>
          <div class="grid-container" style="margin-right: 17px;">
            <div class="grid-item">
              <input type="text" id="filter-source" placeholder="Filter">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-url" placeholder="Filter">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-title" placeholder="Filter">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-tvg-logo" placeholder="Filter">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-tvg-description" placeholder="Filter">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-tvc-guide-tags" placeholder="Filter">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-tvc-guide-genres" placeholder="Filter">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-tvc-guide-categories" placeholder="Filter">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-tvc-guide-placeholders" placeholder="Filter">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-tvc-stream-vcodec" placeholder="Filter">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-tvc-stream-acodec" placeholder="Filter">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
          </div>
          <div id="record-container" style="height: 100vh; overflow-y: scroll;"><!-- Records handled by 'Infinite Scroll' --></div>
          <div id="loading-spinner" style="display: none; text-align: center;">Loading...</div>
          <div id="floating-buttons" style="position: sticky; bottom: 0; padding: 10px;">
            <button type="submit" name="action" value="streaming_stations_action_save" class="btn bg-gradient-primary w-25 my-2 mb-2" disabled>Save</button>
            <button type="submit" name="action" value="streaming_stations_action_cancel" class="btn bg-gradient-primary w-25 my-2 mb-2">Cancel / Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loadingModalLabel">Processing</h5>
        </div>
        <div class="modal-body">
          Please wait while the process completes...
        </div>
      </div>
    </div>
  </div>

    {% include 'includes/footer.html' %}

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Processing Box -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('process-form').addEventListener('submit', function(event) {
      console.log("Form submitted"); // Debugging

      // Wait for a short delay to ensure the form submission is not blocked
      setTimeout(() => {
        // Ensure the modal element exists
        const modalElement = document.getElementById('loadingModal');
        if (!modalElement) {
          console.error('Modal element not found!');
          return;
        }

        // Show the modal
        const loadingModal = new bootstrap.Modal(modalElement, {
          backdrop: 'static',
          keyboard: false
        });
        console.log("Showing modal"); // Debugging
        loadingModal.show();

        // Disable all navigation links
        document.querySelectorAll('a').forEach(element => {
          element.setAttribute('disabled', 'true');
          element.addEventListener('click', function(event) {
            event.preventDefault();
          });
        });
      }, 500); // Adjust the delay as needed
    });
  });
</script>
<!-- Buttons and Infinite Scroll -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const recordContainer = document.getElementById('record-container');
      const loadingSpinner = document.getElementById('loading-spinner');
      const allRecords = {{ html_streaming_stations|tojson }};
      const streamingStationOptions = {{ html_streaming_station_options|tojson }};
      const limit = 100;
      let offset = 0;
      let filteredRecords = allRecords;  // Store filtered records

      // Filter input elements
      const filterSource = document.getElementById('filter-source');
      const filterUrl = document.getElementById('filter-url');
      const filterTitle = document.getElementById('filter-title');
      const filterTvgLogo = document.getElementById('filter-tvg-logo');
      const filterTvgDescription = document.getElementById('filter-tvg-description');
      const filtertvcguidetags = document.getElementById('filter-tvc-guide-tags');
      const filtertvcguidegenres = document.getElementById('filter-tvc-guide-genres');
      const filtertvcguidecategories = document.getElementById('filter-tvc-guide-categories');
      const filtertvcguideplaceholders = document.getElementById('filter-tvc-guide-placeholders');
      const filtertvcstreamvcodec = document.getElementById('filter-tvc-stream-vcodec');
      const filtertvcstreamacodec = document.getElementById('filter-tvc-stream-acodec');

      const addButton = document.querySelector('button[name="action"][value="streaming_stations_action_new"]');
      const saveButton = document.querySelector('button[name="action"][value="streaming_stations_action_save"]');
  
      const checkNewInputs = () => {
          const newUrl = document.getElementById('streaming_stations_url_new').value.trim();
          const newTitle = document.getElementById('streaming_stations_title_new').value.trim();
          addButton.disabled = !newUrl || !newTitle;
      };
  
      const checkExistingInputs = () => {
          let allValid = true;
          let hasExistingRecords = false;
          document.querySelectorAll('input[id^="streaming_stations_url_"]').forEach(input => {
              if (input.id.includes('_new') || input.id.includes('_test')) return;
              hasExistingRecords = true;
              if (!input.value.trim()) allValid = false;
          });
          document.querySelectorAll('input[id^="streaming_stations_title_"]').forEach(input => {
              if (input.id.includes('_new') || input.id.includes('_test')) return;
              hasExistingRecords = true;
              if (!input.value.trim()) allValid = false;
          });
          saveButton.disabled = !allValid || !hasExistingRecords;
      };

      function applyFilters(records) {
        return records.filter(item => {
            const StreamingStationOption = streamingStationOptions.find(option => option === item.source);
            const StreamingStationOptionName = StreamingStationOption ? StreamingStationOption.toLowerCase() : 'none';

            return (
                StreamingStationOptionName.includes(filterSource.value.toLowerCase()) &&
                item.url.toLowerCase().includes(filterUrl.value.toLowerCase()) &&
                item.title.toLowerCase().includes(filterTitle.value.toLowerCase()) &&
                item.tvg_logo.toLowerCase().includes(filterTvgLogo.value.toLowerCase()) &&
                item.tvg_description.toLowerCase().includes(filterTvgDescription.value.toLowerCase()) &&
                item.tvc_guide_tags.toLowerCase().includes(filtertvcguidetags.value.toLowerCase()) &&
                item.tvc_guide_genres.toLowerCase().includes(filtertvcguidegenres.value.toLowerCase()) &&
                item.tvc_guide_categories.toLowerCase().includes(filtertvcguidecategories.value.toLowerCase()) &&
                item.tvc_guide_placeholders.toLowerCase().includes(filtertvcguideplaceholders.value.toLowerCase()) &&
                item.tvc_stream_vcodec.toLowerCase().includes(filtertvcstreamvcodec.value.toLowerCase()) &&
                item.tvc_stream_acodec.toLowerCase().includes(filtertvcstreamacodec.value.toLowerCase())
            );
        });
      }

      function renderRecords(records, startIndex) {
          records.forEach((item, index) => {
              const adjustedIndex = startIndex + index + 1;
  
              const gridContainer = document.createElement('div');
              gridContainer.className = 'grid-container';
  
              const hiddenInput = document.createElement('input');
              hiddenInput.type = 'hidden';
              hiddenInput.name = `streaming_stations_channel_id_${adjustedIndex}`;
              hiddenInput.id = `streaming_stations_channel_id_${adjustedIndex}`;
              hiddenInput.value = item.channel_id;
  
              const sourceItem = document.createElement('div');
              sourceItem.className = 'grid-item';
              const sourceInput = document.createElement('select');
              sourceInput.className = 'select2';
              sourceInput.name = `streaming_stations_source_${adjustedIndex}`;
              sourceInput.id = `streaming_stations_source_${adjustedIndex}`;
              sourceInput.style.width = '100%';
              sourceInput.style.maxWidth = '100%';
              streamingStationOptions.forEach(streaming_station_option => {
                  const option = document.createElement('option');
                  option.value = streaming_station_option;
                  option.text = streaming_station_option;
                  if (streaming_station_option === item.source) {
                      option.selected = true;
                  }
                  sourceInput.appendChild(option);
              });
              sourceItem.appendChild(sourceInput);

              const urlItem = document.createElement('div');
              urlItem.className = 'grid-item';
              const urlInput = document.createElement('input');
              urlInput.type = 'text';
              urlInput.id = `streaming_stations_url_${adjustedIndex}`;
              urlInput.name = `streaming_stations_url_${adjustedIndex}`;
              urlInput.value = item.url;
              urlInput.title = item.url;
              urlItem.appendChild(urlInput);
  
              const titleItem = document.createElement('div');
              titleItem.className = 'grid-item';
              const titleInput = document.createElement('input');
              titleInput.type = 'text';
              titleInput.id = `streaming_stations_title_${adjustedIndex}`;
              titleInput.name = `streaming_stations_title_${adjustedIndex}`;
              titleInput.value = item.title;
              titleInput.title = item.title;
              titleItem.appendChild(titleInput);
  
              const tvglogoItem = document.createElement('div');
              tvglogoItem.className = 'grid-item';
              const tvglogoInput = document.createElement('input');
              tvglogoInput.type = 'text';
              tvglogoInput.id = `streaming_stations_tvg_logo_${adjustedIndex}`;
              tvglogoInput.name = `streaming_stations_tvg_logo_${adjustedIndex}`;
              tvglogoInput.value = item.tvg_logo;
              tvglogoInput.title = item.tvg_logo;
              tvglogoItem.appendChild(tvglogoInput);
  
              const tvgdescriptionItem = document.createElement('div');
              tvgdescriptionItem.className = 'grid-item';
              const tvgdescriptionInput = document.createElement('input');
              tvgdescriptionInput.type = 'text';
              tvgdescriptionInput.id = `streaming_stations_tvg_description_${adjustedIndex}`;
              tvgdescriptionInput.name = `streaming_stations_tvg_description_${adjustedIndex}`;
              tvgdescriptionInput.value = item.tvg_description;
              tvgdescriptionInput.title = item.tvg_description;
              tvgdescriptionItem.appendChild(tvgdescriptionInput);
  
              const tvcguidetagsItem = document.createElement('div');
              tvcguidetagsItem.className = 'grid-item';
              const tvcguidetagsInput = document.createElement('input');
              tvcguidetagsInput.type = 'text';
              tvcguidetagsInput.id = `streaming_stations_tvc_guide_tags_${adjustedIndex}`;
              tvcguidetagsInput.name = `streaming_stations_tvc_guide_tags_${adjustedIndex}`;
              tvcguidetagsInput.value = item.tvc_guide_tags;
              tvcguidetagsInput.title = item.tvc_guide_tags;
              tvcguidetagsItem.appendChild(tvcguidetagsInput);

              const tvcguidegenresItem = document.createElement('div');
              tvcguidegenresItem.className = 'grid-item';
              const tvcguidegenresInput = document.createElement('input');
              tvcguidegenresInput.type = 'text';
              tvcguidegenresInput.id = `streaming_stations_tvc_guide_genres_${adjustedIndex}`;
              tvcguidegenresInput.name = `streaming_stations_tvc_guide_genres_${adjustedIndex}`;
              tvcguidegenresInput.value = item.tvc_guide_genres;
              tvcguidegenresInput.title = item.tvc_guide_genres;
              tvcguidegenresItem.appendChild(tvcguidegenresInput);

              const tvcguidecategoriesItem = document.createElement('div');
              tvcguidecategoriesItem.className = 'grid-item';
              const tvcguidecategoriesInput = document.createElement('input');
              tvcguidecategoriesInput.type = 'text';
              tvcguidecategoriesInput.id = `streaming_stations_tvc_guide_categories_${adjustedIndex}`;
              tvcguidecategoriesInput.name = `streaming_stations_tvc_guide_categories_${adjustedIndex}`;
              tvcguidecategoriesInput.value = item.tvc_guide_categories;
              tvcguidecategoriesInput.title = item.tvc_guide_categories;
              tvcguidecategoriesItem.appendChild(tvcguidecategoriesInput);

              const tvcguideplaceholdersItem = document.createElement('div');
              tvcguideplaceholdersItem.className = 'grid-item';
              const tvcguideplaceholdersInput = document.createElement('input');
              tvcguideplaceholdersInput.type = 'text';
              tvcguideplaceholdersInput.id = `streaming_stations_tvc_guide_placeholders_${adjustedIndex}`;
              tvcguideplaceholdersInput.name = `streaming_stations_tvc_guide_placeholders_${adjustedIndex}`;
              tvcguideplaceholdersInput.value = item.tvc_guide_placeholders;
              tvcguideplaceholdersInput.title = item.tvc_guide_placeholders;
              tvcguideplaceholdersItem.appendChild(tvcguideplaceholdersInput);

              const tvcstreamvcodecItem = document.createElement('div');
              tvcstreamvcodecItem.className = 'grid-item';
              const tvcstreamvcodecInput = document.createElement('input');
              tvcstreamvcodecInput.type = 'text';
              tvcstreamvcodecInput.id = `streaming_stations_tvc_stream_vcodec_${adjustedIndex}`;
              tvcstreamvcodecInput.name = `streaming_stations_tvc_stream_vcodec_${adjustedIndex}`;
              tvcstreamvcodecInput.value = item.tvc_stream_vcodec;
              tvcstreamvcodecInput.title = item.tvc_stream_vcodec;
              tvcstreamvcodecItem.appendChild(tvcstreamvcodecInput);

              const tvcstreamacodecItem = document.createElement('div');
              tvcstreamacodecItem.className = 'grid-item';
              const tvcstreamacodecInput = document.createElement('input');
              tvcstreamacodecInput.type = 'text';
              tvcstreamacodecInput.id = `streaming_stations_tvc_stream_acodec_${adjustedIndex}`;
              tvcstreamacodecInput.name = `streaming_stations_tvc_stream_acodec_${adjustedIndex}`;
              tvcstreamacodecInput.value = item.tvc_stream_acodec;
              tvcstreamacodecInput.title = item.tvc_stream_acodec;
              tvcstreamacodecItem.appendChild(tvcstreamacodecInput);

              const deleteStreamingStationButtonItem = document.createElement('div');
              deleteStreamingStationButtonItem.className = 'grid-item';
              const deleteStreamingStationButton = document.createElement('button');
              deleteStreamingStationButton.type = 'submit';
              deleteStreamingStationButton.name = 'action';
              deleteStreamingStationButton.value = `streaming_stations_action_delete_${adjustedIndex}`;
              deleteStreamingStationButton.className = 'btn bg-gradient-primary my-2 mb-2';
              deleteStreamingStationButton.textContent = 'Delete';
              deleteStreamingStationButtonItem.appendChild(deleteStreamingStationButton);
  
              gridContainer.appendChild(hiddenInput);
              gridContainer.appendChild(sourceItem);
              gridContainer.appendChild(urlItem);
              gridContainer.appendChild(titleItem);
              gridContainer.appendChild(tvglogoItem);
              gridContainer.appendChild(tvgdescriptionItem);
              gridContainer.appendChild(tvcguidetagsItem);
              gridContainer.appendChild(tvcguidegenresItem);
              gridContainer.appendChild(tvcguidecategoriesItem);
              gridContainer.appendChild(tvcguideplaceholdersItem);
              gridContainer.appendChild(tvcstreamvcodecItem);
              gridContainer.appendChild(tvcstreamacodecItem);
              gridContainer.appendChild(deleteStreamingStationButtonItem);
  
              recordContainer.appendChild(gridContainer);
  
              urlInput.addEventListener('input', checkExistingInputs);
              titleInput.addEventListener('input', checkExistingInputs);
          });

          // Reinitialize select2 for new select elements
          initializeSelect2();

      }
  
      function loadMoreRecords() {
        loadingSpinner.style.display = 'block';
        const nextBatch = filteredRecords.slice(offset, offset + limit);

        renderRecords(nextBatch, offset);
        offset += limit;
        loadingSpinner.style.display = 'none';

        if (offset >= filteredRecords.length) {
            recordContainer.removeEventListener('scroll', onScroll);
        }
      
        checkExistingInputs(); // Re-check validity whenever new records are loaded
      
      }

      function onScroll() {
        if (recordContainer.scrollTop + recordContainer.clientHeight >= recordContainer.scrollHeight) {
            if (offset < filteredRecords.length) {
                loadMoreRecords();
            }
        }
      }

      function resetAndLoadRecords() {
        offset = 0;
        recordContainer.innerHTML = '';  // Clear existing records
        filteredRecords = applyFilters(allRecords);  // Re-apply filters to all records
        loadMoreRecords();  // Load filtered records
        if (filteredRecords.length > limit) {
            recordContainer.addEventListener('scroll', onScroll);  // Re-attach scroll event listener
        }
      }

      document.getElementById('streaming_stations_url_new').addEventListener('input', checkNewInputs);
      document.getElementById('streaming_stations_title_new').addEventListener('input', checkNewInputs);

      // Add event listeners for filter inputs
      filterSource.addEventListener('input', resetAndLoadRecords);
      filterUrl.addEventListener('input', resetAndLoadRecords);
      filterTitle.addEventListener('input', resetAndLoadRecords);
      filterTvgLogo.addEventListener('input', resetAndLoadRecords);
      filterTvgDescription.addEventListener('input', resetAndLoadRecords);
      filtertvcguidetags.addEventListener('input', resetAndLoadRecords);
      filtertvcguidegenres.addEventListener('input', resetAndLoadRecords);
      filtertvcguidecategories.addEventListener('input', resetAndLoadRecords);
      filtertvcguideplaceholders.addEventListener('input', resetAndLoadRecords);
      filtertvcstreamvcodec.addEventListener('input', resetAndLoadRecords);
      filtertvcstreamacodec.addEventListener('input', resetAndLoadRecords);

      recordContainer.addEventListener('scroll', onScroll);
  
      // Initial load
      resetAndLoadRecords();
      checkNewInputs();
      checkExistingInputs(); // Ensure initial state is checked
  });
</script>
<!-- Open Test Links in a new window -->
<script>
  if ("{{ html_test_url }}" !== "") {
      window.open("{{ html_test_url }}", "_blank");
  }
</script>
{% endblock javascripts %}
