{% extends "layouts/base.html" %}

{% block title %} Linear - Final Playlists {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style> 
  .common-div {
      border: 0px;
  }

  .column-div-1 {
      width: 79%;
  }

  .column-div-2 {
      width: 20%;
      margin-left: -15px;
  }

  .file-input-wrapper {
    display: flex;
    align-items: center;
    border: 2px solid #4c2588;
    border-radius: 0.25em;
    padding: 0.5em;
    background: linear-gradient(195deg, #6a4ca8 0%, #6a4eaa 100%);
    flex-direction: column;
    align-items: stretch;
  }

  .file-input-wrapper input[type="file"] {
    display: none;
  }

  .file-input-wrapper label {
    color: white;
  }
  
  .file-input-wrapper h5 {
    color: white;
  }

  .file-input-wrapper h6 {
    color: white;
  }

  .file-input-wrapper .material-icons {
    color: white;
  }

  .dark-version .file-input-wrapper {
    background: linear-gradient(195deg, #2c1a4a 0%, #2c1b4c 100%);
    border-color: #2c1a4a;
  }

  .dark-version .file-input-wrapper label {
    color: #ccc;
  }

  .file-input-wrapper2 {
    display: flex;
    align-items: center;
    border: 2px solid #4c2588;
    border-radius: 0.25em;
    padding: 0.5em;
    flex-direction: column;
    align-items: stretch;
  }

  .dark-version .file-input-wrapper2 {
    border-color: #2c1a4a;
  }

  .form-check {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 2.8em;
  }

  .form-check-input {
      flex-shrink: 0;
  }

  input[type="text"] {
      width: 100%;
      box-sizing: border-box;
  }

  .btn {
      width: 100%;
      box-sizing: border-box;
  }

  .chart-container {
    width: 95%;
    padding: 20px;
    margin-left: 0; /* Align to the left */
  }

  .bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .bar-label {
    width: 18%; /* Increased space for labels */
    text-align: left; /* Left-align the labels */
    padding-right: 10px;
    white-space: nowrap; /* Ensure labels fit in a single line */
    font-weight: bold;
  }

  .bar-graph {
    width: 98%; /* Adjusted to accommodate label space */
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }

  .bar-fill {
    height: 30px;
    background-color: #4c2588; /* Bar color */
    border-radius: 5px 0 0 5px;
  }

  .bar-value {
    position: absolute;
    right: 25px; /* Move outside the bar */
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
    white-space: nowrap;
  }

  .dark-version .bar-value {
    color: black; /* Text color for dark mode */
  }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row min-vh-80 h-100">
    <div class="col-12">
      <form method="POST" action="/playlists/plm_main" id="process-form">
        <!-- Message -->
        {% if html_settings_message %}
          <hr>
          <div id="html_settings_message">
            <b>{{ html_settings_message|safe }}</b>
          </div>
          <hr>
        {% endif %}
        <div class="row">
          <div class="common-div column-div-1">
            <div class="file-input-wrapper2 w-100 h-15 my-2 mb-2">
              <h5>Station Statistics</h5>
              <!-- Stat Chart -->
              <div class="chart-container">
                <div class="bar">
                  <div class="bar-label">Unassigned</div>
                  <div class="bar-graph">
                    <div class="bar-fill" style="width: {{ html_all_child_to_parents_stats['unassigned_percentage'] }};"></div>
                    <div class="bar-value">
                      {{ '{:,.0f}'.format(html_all_child_to_parents_stats['unassigned_count']) }} ({{ html_all_child_to_parents_stats['unassigned_percentage'] }})
                    </div>
                  </div>
                </div>
                <div class="bar">
                  <div class="bar-label">Ignored</div>
                  <div class="bar-graph">
                    <div class="bar-fill" style="width: {{ html_all_child_to_parents_stats['ignore_percentage'] }};"></div>
                    <div class="bar-value">
                      {{ '{:,.0f}'.format(html_all_child_to_parents_stats['ignore_count']) }} ({{ html_all_child_to_parents_stats['ignore_percentage'] }})
                    </div>
                  </div>
                </div>
                <div class="bar">
                  <div class="bar-label">Assigned to Parent</div>
                  <div class="bar-graph">
                    <div class="bar-fill" style="width: {{ html_all_child_to_parents_stats['assigned_to_parent_percentage'] }};"></div>
                    <div class="bar-value">
                      {{ '{:,.0f}'.format(html_all_child_to_parents_stats['assigned_to_parent_count']) }} ({{ html_all_child_to_parents_stats['assigned_to_parent_percentage'] }})
                    </div>
                  </div>
                </div>
                <div class="bar">
                  <div class="bar-label">Redundant</div>
                  <div class="bar-graph">
                    <div class="bar-fill" style="width: {{ html_all_child_to_parents_stats['redundant_percentage'] }};"></div>
                    <div class="bar-value">
                      {{ '{:,.0f}'.format(html_all_child_to_parents_stats['redundant_count']) }} ({{ html_all_child_to_parents_stats['redundant_percentage'] }})
                    </div>
                  </div>
                </div>
                {% if html_plm_check_child_station_status == 'On' %}
                  <div class="bar">
                    <div class="bar-label">Disabled</div>
                    <div class="bar-graph">
                      <div class="bar-fill" style="width: {{ html_all_child_to_parents_stats['disabled_percentage'] }};"></div>
                      <div class="bar-value">
                        {{ '{:,.0f}'.format(html_all_child_to_parents_stats['disabled_count']) }} ({{ html_all_child_to_parents_stats['disabled_percentage'] }})
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
            <!-- Final Playlists -->
            {% if html_plm_feed_default == 'On' or html_plm_feed_fallback == 'On' %}
              <div class="file-input-wrapper2 w-100 h-15 my-2 mb-2">
                <h5 id="final_playlists_anchor">m3u(s) and XML EPG(s)
                  <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-PLM-%E2%80%90-Regular-Activity-%E2%80%90-m3u(s)-and-XML-EPG(s)" target="_blank">
                    <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                  </a>
                </h5>
                {% if html_plm_feed_default == 'On' %}
                  <h6>Default Feed(s)</h6>
                  <table style="margin-left: 25px; margin-top: 10px; margin-bottom: 10px;">
                    {% for html_playlist_file in html_playlist_files %}
                      {% if 'fallback' not in html_playlist_file.playlist_filename %}
                        <tr>
                          <td  style="padding-right: 15px;">
                            {% if '.xml' in html_playlist_file.playlist_filename %}
                              <button type="submit" name="action" value="playlist_file_add_to_xml_placeholder_{{ loop.index }}" class="btn bg-gradient-primary my-1 mb-2" disabled>XML for Playlist</button>
                            {% elif '.m3u' in html_playlist_file.playlist_filename %}
                              {% if html_slm_channels_dvr_integration %}
                                <button type="submit" name="action" value="playlist_file_add_to_channels_{{ loop.index }}" class="btn bg-gradient-primary my-1 mb-2">Add to Channels DVR</button>
                              {% else %}
                                <button type="submit" name="action" value="playlist_file_add_to_m3u_placeholder_{{ loop.index }}" class="btn bg-gradient-primary my-1 mb-2" disabled>m3u for Playlist</button>
                              {% endif %}
                            {% endif %}
                          </td>
                          <td style="padding-right: 15px; text-align: right;"><b>{{ html_playlist_file.playlist_label }}</b></td>
                          <td><a href="{{ url_for('download_m3u_epg', filename=html_playlist_file.playlist_filename) }}">{{ request.url_root }}playlists/files/{{ html_playlist_file.playlist_filename }}</a></td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </table>
                {% endif %}
                {% if html_plm_feed_fallback == 'On' %}
                  <h6>Fallback Feed(s)</h6>
                  <table style="margin-left: 25px; margin-top: 10px; margin-bottom: 10px;">
                    {% for html_playlist_file in html_playlist_files %}
                      {% if 'fallback' in html_playlist_file.playlist_filename %}
                        <tr>
                          <td  style="padding-right: 15px;">
                            {% if '.xml' in html_playlist_file.playlist_filename %}
                              <button type="submit" name="action" value="playlist_file_add_to_xml_placeholder_{{ loop.index }}" class="btn bg-gradient-primary my-1 mb-2" disabled>XML for Playlist</button>
                            {% elif '.m3u' in html_playlist_file.playlist_filename %}
                              {% if html_slm_channels_dvr_integration %}
                                <button type="submit" name="action" value="playlist_file_add_to_channels_{{ loop.index }}" class="btn bg-gradient-primary my-1 mb-2">Add to Channels DVR</button>
                              {% else %}
                                <button type="submit" name="action" value="playlist_file_add_to_m3u_placeholder_{{ loop.index }}" class="btn bg-gradient-primary my-1 mb-2" disabled>m3u for Playlist</button>
                              {% endif %}
                            {% endif %}
                          </td>
                          <td style="padding-right: 15px; text-align: right;"><b>{{ html_playlist_file.playlist_label }}</b></td>
                          <td><a href="{{ url_for('download_m3u_epg', filename=html_playlist_file.playlist_filename) }}">{{ request.url_root }}playlists/files/{{ html_playlist_file.playlist_filename }}</a></td>
                        </tr>
                      {% endif %}
                    {% endfor %}
                  </table>
                {% endif %}
              </div>
            {% endif %}
          </div>
          <div class="common-div column-div-2">
            <div class="file-input-wrapper w-100 h-15 my-2 mb-2">
              <h5>Settings & Options
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-PLM-%E2%80%90-Installation-and-Setup" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>
              </h5>
              <div>
                <button type="submit" name="action" value="final_playlists_action_cancel" class="btn bg-gradient-primary my-2 mb-2" style="width: 98%;">Clear / Reset</button>
              </div>
              <hr>
              <h6>Feeds & Playlists</h6>
              <div>
                <button type="submit" name="action" value="final_playlists_action_update_m3u_epg" class="btn bg-gradient-primary my-2 mb-2" style="width: 98%;">Update m3u(s) & XML EPG(s)</button>
              </div>
              <div style="margin-top: 8px;">
                <label for="plm_feed_default"><b>Generate Default Feed(s)</b></label>
                <div class="form-check form-switch ps-0 is-filled">
                  <input type="checkbox" class="form-check-input" id="plm_feed_default" name="plm_feed_default" {% if html_plm_feed_default == 'On' %}checked{% endif %}>
                </div>
              </div>
              <div style="margin-top: 8px;">
                <label for="plm_feed_fallback"><b>Generate Fallback Feed(s)</b></label>
                <div class="form-check form-switch ps-0 is-filled">
                  <input type="checkbox" class="form-check-input" id="plm_feed_fallback" name="plm_feed_fallback" {% if html_plm_feed_fallback == 'On' %}checked{% endif %}>
                </div>
              </div>
              <div style="margin-top: 8px;">
                <label for="plm_url_tag_in_m3us"><b>Add URL tag to m3u(s)</b></label>
                <div class="form-check form-switch ps-0 is-filled">
                  <input type="checkbox" class="form-check-input" id="plm_url_tag_in_m3us" name="plm_url_tag_in_m3us" {% if html_plm_url_tag_in_m3us == 'On' %}checked{% endif %}>
                </div>
              </div>
              <div style="margin-top: 8px;">
                <label for="plm_url_tag_in_m3us_preferred_url_root"><b>URL Root</b></label>
                <input type="text" style="width: 100%; background-color: #d1cdcde5;" id="plm_url_tag_in_m3us_preferred_url_root" name="plm_url_tag_in_m3us_preferred_url_root" value="{{ html_plm_url_tag_in_m3us_preferred_url_root }}" readonly title="Used for 'URL Tag' and 'Fallback' playlists. Modify by going to preferred URL, toggling 'Add URL tag to m3u(s)' on, and saving. It can be turned off afterwards.">
              </div>
              <div style="margin-top: 8px;">
                <label for="station_start_number"><b>Station Start Number</b></label>
                <input type="number" min="1" style="width: 100%;" id="station_start_number" name="station_start_number" value="{{ html_station_start_number }}">
              </div>
              <div style="margin-top: 8px;">
                <label for="max_stations"><b>Max Stations per m3u</b></label>
                <input type="number" min="1" style="width: 100%;" id="max_stations" name="max_stations" value="{{ html_max_stations }}">
              </div>
              <hr>
              <h6>Stations & Testing</h6>
              <div>
                <button type="submit" name="action" value="final_playlists_action_update_station_list" class="btn bg-gradient-primary my-2 mb-2" style="width: 98%;">Update Station List</button>
              </div>
              <div style="margin-top: 8px;">
                <label for="plm_check_child_station_status"><b>Check Station Status</b>
                  <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-PLM-%E2%80%90-Processes-%E2%80%90-Check-Station-Status" target="_blank">
                    <i class="material-icons opacity-10" style="position: relative; top: 6px;">help_outline</i>
                  </a>    
                </label>
                <div class="form-check form-switch ps-0 is-filled">
                  <input type="checkbox" class="form-check-input" id="plm_check_child_station_status" name="plm_check_child_station_status" {% if html_plm_check_child_station_status == 'On' %}checked{% endif %}>
                </div>
              </div>
              <div style="margin-top: 8px;">
                <label for="plm_station_status_number_attempts"><b>Number of Attempts</b>
                  <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-PLM-%E2%80%90-Processes-%E2%80%90-Check-Station-Status-%E2%80%90-Settings-and-More" target="_blank">
                    <i class="material-icons opacity-10" style="position: relative; top: 6px;">help_outline</i>
                  </a>  
                </label>
                <input type="number" min="1" style="width: 100%;" id="plm_station_status_number_attempts" name="plm_station_status_number_attempts" value="{{ html_plm_station_status_number_attempts }}">
              </div>
              <div style="margin-top: 8px;">
                <label for="plm_station_status_delay_attempts"><b>Delay Between Attempts</b></label>
                <input type="number" min="1" style="width: 100%;" id="plm_station_status_delay_attempts" name="plm_station_status_delay_attempts" value="{{ html_plm_station_status_delay_attempts }}">
              </div>
              <div style="margin-top: 8px;">
                <label for="plm_station_status_skip_after_fails" title="0 = Disabled"><b>Skip Playlist After Fails</b></label>
                <input type="number" min="0" style="width: 100%;" id="plm_station_status_skip_after_fails" name="plm_station_status_skip_after_fails" value="{{ html_plm_station_status_skip_after_fails }}">
              </div>
              <div style="margin-top: 8px;">
                <label for="plm_fallback_stale_seconds" title="In seconds, how long a found stream is good for until it expires as stale."><b>Fallback Cache Time</b></label>
                <input type="number" min="1" style="width: 100%;" id="plm_fallback_stale_seconds" name="plm_fallback_stale_seconds" value="{{ html_plm_fallback_stale_seconds_global }}">
              </div>
              <hr>
              <div>
                <button type="submit" name="action" value="playlist_manager_save_settings" class="btn bg-gradient-primary my-2 mb-2" style="width: 98%;">Save Settings</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loadingModalLabel">Processing</h5>
        </div>
        <div class="modal-body">
          Please wait while the process completes...
        </div>
      </div>
    </div>
  </div>

    <!-- {% include 'includes/footer.html' %} -->

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Anchor ID -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const anchorId = "{{ html_playlists_anchor_id }}";
      if (anchorId) {
          window.location.hash = anchorId;
      }
  });
</script>
<!-- Processing Box -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('process-form').addEventListener('submit', function(event) {
      console.log("Form submitted"); // Debugging

      // Wait for a short delay to ensure the form submission is not blocked
      setTimeout(() => {
        // Ensure the modal element exists
        const modalElement = document.getElementById('loadingModal');
        if (!modalElement) {
          console.error('Modal element not found!');
          return;
        }

        // Show the modal
        const loadingModal = new bootstrap.Modal(modalElement, {
          backdrop: 'static',
          keyboard: false
        });
        console.log("Showing modal"); // Debugging
        loadingModal.show();

        // Disable all navigation links
        document.querySelectorAll('a').forEach(element => {
          element.setAttribute('disabled', 'true');
          element.addEventListener('click', function(event) {
            event.preventDefault();
          });
        });
      }, 500); // Adjust the delay as needed
    });
  });
</script>
{% endblock javascripts %}
