{% extends "layouts/base.html" %}

{% block title %} Playlists (BETA) {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style> 
  .parents .grid-container {
      display: grid;
      grid-template-columns: 3fr 1fr 2fr 1fr 1fr 2fr 1fr;
      gap: 10px;
  }

  .grid-item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 0;
  }

  .form-check {
      display: flex;
      align-items: center;
      gap: 3.5em; /* Adjust the gap as needed */
  }

  .form-check-label {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .form-check-input {
      flex-shrink: 0;
  }

  input[type="text"] {
      width: 100%;
      box-sizing: border-box;
  }

  .btn {
      width: 100%;
      box-sizing: border-box;
  }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4"></div>
  <div class="row min-vh-80 h-100">
    <div class="col-12">
      <form method="POST" action="/playlists/parent_stations" id="process-form">
        <!-- Playlist Manger Navigation -->
        <div style="width: 90%; border: 1px solid black; padding: 20px; text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 0 auto;">
          <h3>Playlist Manager Navigation</h3>
          <div style="width: 100%; display: flex; flex-wrap: wrap; justify-content: space-around; gap: 10px;">
              <a href="/playlists" class="btn bg-gradient-primary w-20 my-2 mb-2" style="flex: 1;">Main Page</a>
              <a href="/playlists/modify_assigned_stations" class="btn bg-gradient-primary w-20 my-2 mb-2" style="flex: 1;">Modify Assigned Stations</a>
              <a href="/playlists/parent_stations" class="btn bg-gradient-primary w-20 my-2 mb-2" style="flex: 1;">Parent Stations</a>
              <a href="/playlists/manage" class="btn bg-gradient-primary w-20 my-2 mb-2" style="flex: 1;">Manage Playlists</a>
          </div>
        </div>
        <!-- Spacer row -->
        <div class="row">
          <div class="col-12 my-2"></div>
        </div>
        <!-- Manage Parent Stations -->
        <h4 id="parents_anchor" style="margin: 0;">Manage Parent Stations</h4>
        <div class="parents container-fluid">
          <div class="grid-container" style="text-align: center; margin-right: 17px;">
            <div class="grid-item"><h6>Station Name</h6></div>
            <div class="grid-item"><h6>[OPTIONAL]<br>Alternate XML EPG Guide ID (tvg-id)<br>Override</h6></div>
            <div class="grid-item"><h6>[OPTIONAL]<br>Guide Logo (tvg-logo)<br>Override</h6></div>
            <div class="grid-item"><h6>[OPTIONAL]<br>Channel Number (channel-number | tvg-chno)<br>Override</h6></div>
            <div class="grid-item"><h6>[OPTIONAL]<br>Gracenote ID (tvc-guide-stationid)<br>Override</h6></div>
            <div class="grid-item"><h6>Preferred Playlist</h6></div>
            <div class="grid-item"><h6>Action</h6></div>
          </div>
          <div class="grid-container" style="margin-right: 17px;">
            <div class="grid-item">
              <input type="text" id="parents_parent_title_new" name="parents_parent_title_new" placeholder="i.e., The Pet Collective">
            </div>
            <div class="grid-item">
              <input type="text" id="parents_parent_tvg_id_override_new" name="parents_parent_tvg_id_override_new" placeholder="i.e., r4nd0m35tr1ng0fl3tt3r54ndnum83r5">
            </div>
            <div class="grid-item">
              <input type="text" id="parents_parent_tvg_logo_override_new" name="parents_parent_tvg_logo_override_new" placeholder="i.e., https://somewebsite.com/thepetcollectivelogo.png">
            </div>
            <div class="grid-item">
              <input type="text" id="parents_parent_channel_number_override_new" name="parents_parent_channel_number_override_new" placeholder="i.e., 9876">
            </div>
            <div class="grid-item">
              <input type="text" id="parents_parent_tvc_guide_stationid_override_new" name="parents_parent_tvc_guide_stationid_override_new" placeholder="i.e., 121165">
            </div>
            <div class="grid-item">
              <select name="parents_parent_preferred_playlist_new" id="parents_parent_preferred_playlist_new" style="width: 100%; max-width: 100%;">
                {% for html_preferred_playlist in html_preferred_playlists %}
                  <option value="{{ html_preferred_playlist.m3u_id }}" {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_preferred_playlist.prefer_name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="grid-item">
              <button type="submit" name="action" value="parents_action_new" class="btn bg-gradient-primary my-2 mb-2" disabled>Add</button>
            </div>
          </div>
          <div id="record-container" style="height: 100vh; overflow-y: scroll;"><!-- Records handled by 'Infinite Scroll' --></div>
          <div id="loading-spinner" style="display: none; text-align: center;">Loading...</div>
          <div id="floating-buttons" style="position: sticky; bottom: 0; padding: 10px;">
            <button type="submit" name="action" value="parents_action_save" class="btn bg-gradient-primary w-25 my-2 mb-2" disabled>Save</button>
            <button type="submit" name="action" value="parents_action_cancel" class="btn bg-gradient-primary w-25 my-2 mb-2">Cancel / Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loadingModalLabel">Processing</h5>
        </div>
        <div class="modal-body">
          Please wait while the process completes...
        </div>
      </div>
    </div>
  </div>

    {% include 'includes/footer.html' %}

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Anchor ID -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const anchorId = "{{ html_playlists_anchor_id }}";
      if (anchorId) {
          window.location.hash = anchorId;
      }
  });
</script>
<!-- Processing Box -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('process-form').addEventListener('submit', function(event) {
      console.log("Form submitted"); // Debugging

      // Wait for a short delay to ensure the form submission is not blocked
      setTimeout(() => {
        // Ensure the modal element exists
        const modalElement = document.getElementById('loadingModal');
        if (!modalElement) {
          console.error('Modal element not found!');
          return;
        }

        // Show the modal
        const loadingModal = new bootstrap.Modal(modalElement, {
          backdrop: 'static',
          keyboard: false
        });
        console.log("Showing modal"); // Debugging
        loadingModal.show();

        // Disable all navigation links
        document.querySelectorAll('a').forEach(element => {
          element.setAttribute('disabled', 'true');
          element.addEventListener('click', function(event) {
            event.preventDefault();
          });
        });
      }, 500); // Adjust the delay as needed
    });
  });
</script>
<!-- Parents Buttons -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const recordContainer = document.getElementById('record-container');
      const loadingSpinner = document.getElementById('loading-spinner');
      const allRecords = {{ html_parents|tojson }};
      const preferredPlaylists = {{ html_preferred_playlists|tojson }};
      const limit = 100;
      let offset = 0;
  
      const addButton = document.querySelector('button[name="action"][value="parents_action_new"]');
      const saveButton = document.querySelector('button[name="action"][value="parents_action_save"]');
  
      const checkNewInputs = () => {
          const newParentTitle = document.getElementById('parents_parent_title_new').value.trim();
          const newParentPreferredPlaylist = document.getElementById('parents_parent_preferred_playlist_new').value.trim();
          addButton.disabled = !newParentTitle || !newParentPreferredPlaylist;
      };
  
      const checkExistingInputs = () => {
          let allValid = true;
          let hasExistingRecords = false;
          document.querySelectorAll('input[id^="parents_parent_title_"]').forEach(input => {
              if (input.id.includes('_new')) return;
              hasExistingRecords = true;
              if (!input.value.trim()) allValid = false;
          });
          document.querySelectorAll('input[id^="parents_parent_preferred_playlist_"]').forEach(input => {
              if (input.id.includes('_new')) return;
              hasExistingRecords = true;
              if (!input.value.trim()) allValid = false;
          });
          saveButton.disabled = !allValid || !hasExistingRecords;
      };
  
      function renderRecords(records, startIndex) {
          records.forEach((item, index) => {
              const adjustedIndex = startIndex + index + 1;
  
              const gridContainer = document.createElement('div');
              gridContainer.className = 'grid-container';
  
              const hiddenInput = document.createElement('input');
              hiddenInput.type = 'hidden';
              hiddenInput.name = `parents_parent_channel_id_${adjustedIndex}`;
              hiddenInput.id = `parents_parent_channel_id_${adjustedIndex}`;
              hiddenInput.value = item.parent_channel_id;
  
              const titleItem = document.createElement('div');
              titleItem.className = 'grid-item';
              const titleInput = document.createElement('input');
              titleInput.type = 'text';
              titleInput.id = `parents_parent_title_${adjustedIndex}`;
              titleInput.name = `parents_parent_title_${adjustedIndex}`;
              titleInput.value = item.parent_title;
              titleInput.title = item.parent_title;
              titleItem.appendChild(titleInput);
  
              const tvgidOverrideItem = document.createElement('div');
              tvgidOverrideItem.className = 'grid-item';
              const tvgidOverrideInput = document.createElement('input');
              tvgidOverrideInput.type = 'text';
              tvgidOverrideInput.id = `parents_parent_tvg_id_override_${adjustedIndex}`;
              tvgidOverrideInput.name = `parents_parent_tvg_id_override_${adjustedIndex}`;
              tvgidOverrideInput.value = item.parent_tvg_id_override;
              tvgidOverrideInput.title = item.parent_tvg_id_override;
              tvgidOverrideItem.appendChild(tvgidOverrideInput);
  
              const tvglogoOverrideItem = document.createElement('div');
              tvglogoOverrideItem.className = 'grid-item';
              const tvglogoOverrideInput = document.createElement('input');
              tvglogoOverrideInput.type = 'text';
              tvglogoOverrideInput.id = `parents_parent_tvg_logo_override_${adjustedIndex}`;
              tvglogoOverrideInput.name = `parents_parent_tvg_logo_override_${adjustedIndex}`;
              tvglogoOverrideInput.value = item.parent_tvg_logo_override;
              tvglogoOverrideInput.title = item.parent_tvg_logo_override;
              tvglogoOverrideItem.appendChild(tvglogoOverrideInput);
  
              const channelnumberOverrideItem = document.createElement('div');
              channelnumberOverrideItem.className = 'grid-item';
              const channelnumberOverrideInput = document.createElement('input');
              channelnumberOverrideInput.type = 'text';
              channelnumberOverrideInput.id = `parents_parent_channel_number_override_${adjustedIndex}`;
              channelnumberOverrideInput.name = `parents_parent_channel_number_override_${adjustedIndex}`;
              channelnumberOverrideInput.value = item.parent_channel_number_override;
              channelnumberOverrideInput.title = item.parent_channel_number_override;
              channelnumberOverrideItem.appendChild(channelnumberOverrideInput);
  
              const tvcguidestationidOverrideItem = document.createElement('div');
              tvcguidestationidOverrideItem.className = 'grid-item';
              const tvcguidestationidOverrideInput = document.createElement('input');
              tvcguidestationidOverrideInput.type = 'text';
              tvcguidestationidOverrideInput.id = `parents_parent_tvc_guide_stationid_override_${adjustedIndex}`;
              tvcguidestationidOverrideInput.name = `parents_parent_tvc_guide_stationid_override_${adjustedIndex}`;
              tvcguidestationidOverrideInput.value = item.parent_tvc_guide_stationid_override;
              tvcguidestationidOverrideInput.title = item.parent_tvc_guide_stationid_override;
              tvcguidestationidOverrideItem.appendChild(tvcguidestationidOverrideInput);
  
              const selectItem = document.createElement('div');
              selectItem.className = 'grid-item';
              const select = document.createElement('select');
              select.name = `parents_parent_preferred_playlist_${adjustedIndex}`;
              select.id = `parents_parent_preferred_playlist_${adjustedIndex}`;
              select.style.width = '100%';
              select.style.maxWidth = '100%';
  
              preferredPlaylists.forEach(playlist => {
                  const option = document.createElement('option');
                  option.value = playlist.m3u_id;
                  option.text = playlist.prefer_name;
                  if (playlist.m3u_id === item.parent_preferred_playlist) {
                      option.selected = true;
                  }
                  select.appendChild(option);
              });
              selectItem.appendChild(select);
  
              const deleteParentButtonItem = document.createElement('div');
              deleteParentButtonItem.className = 'grid-item';
              const deleteParentButton = document.createElement('button');
              deleteParentButton.type = 'submit';
              deleteParentButton.name = 'action';
              deleteParentButton.value = `parents_action_delete_${adjustedIndex}`;
              deleteParentButton.className = 'btn bg-gradient-primary my-2 mb-2';
              deleteParentButton.textContent = 'Delete';
              deleteParentButtonItem.appendChild(deleteParentButton);
  
              gridContainer.appendChild(hiddenInput);
              gridContainer.appendChild(titleItem);
              gridContainer.appendChild(tvgidOverrideItem);
              gridContainer.appendChild(tvglogoOverrideItem);
              gridContainer.appendChild(channelnumberOverrideItem);
              gridContainer.appendChild(tvcguidestationidOverrideItem);
              gridContainer.appendChild(selectItem);
              gridContainer.appendChild(deleteParentButtonItem);
  
              recordContainer.appendChild(gridContainer);
  
              titleInput.addEventListener('input', checkExistingInputs);
              select.addEventListener('change', checkExistingInputs);
          });
      }
  
      function loadMoreRecords() {
          loadingSpinner.style.display = 'block';
          const nextBatch = allRecords.slice(offset, offset + limit);
  
          renderRecords(nextBatch, offset);
          offset += limit;
          loadingSpinner.style.display = 'none';
  
          if (offset >= allRecords.length) {
              recordContainer.removeEventListener('scroll', onScroll);
          }
  
          checkExistingInputs(); // Re-check validity whenever new records are loaded
      }
  
      function onScroll() {
          if (recordContainer.scrollTop + recordContainer.clientHeight >= recordContainer.scrollHeight) {
              if (offset < allRecords.length) {
                  loadMoreRecords();
              }
          }
      }
  
      document.getElementById('parents_parent_title_new').addEventListener('input', checkNewInputs);
      document.getElementById('parents_parent_preferred_playlist_new').addEventListener('input', checkNewInputs);
  
      recordContainer.addEventListener('scroll', onScroll);
  
      // Initial load
      loadMoreRecords();
      checkNewInputs();
      checkExistingInputs(); // Ensure initial state is checked
  });
</script>  
{% endblock javascripts %}
