{% extends "layouts/base.html" %}

{% block title %} Linear - Unassigned Stations {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style> 
  .child_to_parents .grid-container {
      display: grid;
      grid-template-columns: 2fr 1fr 2.25fr 2.25fr 1fr 0.5fr 1fr 1fr;
      gap: 10px;
  }

  .grid-item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 0;
  }

  .form-check {
      display: flex;
      align-items: center;
      gap: 3.5em; /* Adjust the gap as needed */
  }

  .form-check-label {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .form-check-input {
      flex-shrink: 0;
  }

  input[type="text"] {
      width: 100%;
      box-sizing: border-box;
  }

  .btn {
      width: 100%;
      box-sizing: border-box;
  }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row min-vh-80 h-100">
    <div class="col-12">
      <form method="POST" action="/playlists/plm_modify_unassigned_stations" id="process-form">
        <!-- Modify unassigned Stations -->
        <h4 id="unassigned_child_to_parents_anchor" style="margin: 0;">Set Unassigned Stations
          <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-PLM-%E2%80%90-Regular-Activity-%E2%80%90-Unassigned-Stations" target="_blank">
            <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
          </a>
        </h4>
        <!-- Spacer row -->
        <div class="row">
          <div class="col-12 my-2"></div>
        </div>
        <div class="child_to_parents container-fluid" style="width: 98%;">
          <div class="grid-container dynamic-bg" style="text-align: center; margin-right: 17px; position: sticky; top: 0; z-index: 10;">
            <div class="grid-item"><h6>Station Name</h6></div>
            <div class="grid-item"><h6>Playlist [ID]</h6></div>
            <div class="grid-item"><h6>Description</h6></div>
            <div class="grid-item"><h6>Parent Station</h6></div>
            <div class="grid-item"><h6>Stream Format Override</h6></div>
            <div class="grid-item"><h6>Check Station Status</h6></div>
            <div class="grid-item"><h6>Station Status
              <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-PLM-%E2%80%90-Processes-%E2%80%90-Check-Station-Status" target="_blank">
                <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
              </a>  
            </h6></div>
            <div class="grid-item"><h6>Action</h6></div>
          </div>
          <div class="grid-container" style="margin-right: 17px;">
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <select class="select2" name="unassigned_child_to_parents_parent_channel_id_all" id="unassigned_child_to_parents_parent_channel_id_all" style="width: 100%; max-width: 100%;">
                {% for html_child_to_parent_mapping in html_child_to_parent_mappings %}
                  <option value="{{ html_child_to_parent_mapping.parent_channel_id }}" {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_child_to_parent_mapping.parent_title }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="grid-item">
              <select class="select2" name="unassigned_child_to_parents_stream_format_override_all" id="unassigned_child_to_parents_stream_format_override_all" style="width: 100%; max-width: 100%;">
                {% for html_stream_format_override in html_stream_formats_overrides %}
                  <option value="{{ html_stream_format_override }}" {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_stream_format_override }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="grid-item">
              <div class="form-check form-switch ps-0 is-filled">
                <input type="checkbox" id="unassigned_child_to_parents_enable_child_station_check_all" name="unassigned_child_to_parents_enable_child_station_check_all" class="form-check-input" style="margin-left: 3px;" checked>
              </div>              
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <button type="submit" name="action" value="unassigned_child_to_parents_action_set_parent_all" class="btn bg-gradient-primary my-2 mb-2">Set Visible</button>
            </div>
          </div>
          <div class="grid-container" style="margin-right: 17px;">
            <div class="grid-item">
              <input type="text" id="filter-title" placeholder="Filter" name="filter-title" value="{{ html_filter_title_unassigned }}">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-m3u-name" placeholder="Filter" name="filter-m3u-name" value="{{ html_filter_m3u_name_unassigned }}">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-description" placeholder="Filter" name="filter-description" value="{{ html_filter_description_unassigned }}">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-parent" placeholder="Filter" name="filter-parent" value="{{ html_filter_parent_unassigned }}">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-stream-format-override" placeholder="Filter" name="filter-stream-format-override" value="{{ html_filter_stream_format_override_unassigned }}">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-station-status" placeholder="Filter" name="filter-station-status" value="{{ html_filter_station_status_unassigned }}">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
          </div>
          <div id="record-container" style="height: 100vh; overflow-y: scroll; contain: strict; overscroll-behavior: contain;"><!-- Records handled by 'Infinite Scroll' --></div>
          <div id="loading-spinner" style="display: none; text-align: center;">Loading...</div>
          <div id="floating-buttons" style="position: sticky; bottom: 0; padding: 10px;">
            <button type="submit" name="action" value="unassigned_child_to_parents_action_save_all" class="btn bg-gradient-primary w-25 my-2 mb-2">Save Visible</button>
            <button type="submit" name="action" value="unassigned_child_to_parents_action_cancel" class="btn bg-gradient-primary w-25 my-2 mb-2">Cancel / Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loadingModalLabel">Processing</h5>
        </div>
        <div class="modal-body">
          Please wait while the process completes...
        </div>
      </div>
    </div>
  </div>

    <!-- {% include 'includes/footer.html' %} -->

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Anchor ID -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const anchorId = "{{ html_playlists_anchor_id }}";
      if (anchorId) {
          window.location.hash = anchorId;
      }
  });
</script>
<!-- Processing Box -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('process-form').addEventListener('submit', function(event) {
      console.log("Form submitted"); // Debugging

      // Wait for a short delay to ensure the form submission is not blocked
      setTimeout(() => {
        // Ensure the modal element exists
        const modalElement = document.getElementById('loadingModal');
        if (!modalElement) {
          console.error('Modal element not found!');
          return;
        }

        // Show the modal
        const loadingModal = new bootstrap.Modal(modalElement, {
          backdrop: 'static',
          keyboard: false
        });
        console.log("Showing modal"); // Debugging
        loadingModal.show();

        // Disable all navigation links
        document.querySelectorAll('a').forEach(element => {
          element.setAttribute('disabled', 'true');
          element.addEventListener('click', function(event) {
            event.preventDefault();
          });
        });
      }, 500); // Adjust the delay as needed
    });
  });
</script>
<!-- Infinite Scroll -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const recordContainer = document.getElementById('record-container');
    const loadingSpinner = document.getElementById('loading-spinner');
    const allRecords = {{ html_unassigned_child_to_parents|tojson }};
    const parentMappings = {{ html_child_to_parent_mappings|tojson }};
    const streamFormatOverrideOptions = {{ html_stream_formats_overrides|tojson }};
    const limit = 100;
    let offset = 0;
    let filteredRecords = allRecords;  // Store filtered records

    // Filter input elements
    const filterTitle = document.getElementById('filter-title');
    const filterM3UName = document.getElementById('filter-m3u-name');
    const filterDescription = document.getElementById('filter-description');
    const filterParent = document.getElementById('filter-parent');
    const filterStreamFormatOverride = document.getElementById('filter-stream-format-override');
    const filterStationStatus = document.getElementById('filter-station-status');

    function applyFilters(records) {
        return records.filter(item => {
            return (
                item.title.toLowerCase().includes(filterTitle.value.toLowerCase()) &&
                item.m3u_name.toLowerCase().includes(filterM3UName.value.toLowerCase()) &&
                item.description.toLowerCase().includes(filterDescription.value.toLowerCase()) &&
                parentMappings.find(mapping => mapping.parent_channel_id === item.parent_channel_id)?.parent_title.toLowerCase().includes(filterParent.value.toLowerCase()) &&
                item.stream_format_override.toLowerCase().includes(filterStreamFormatOverride.value.toLowerCase()) &&
                item.child_station_check.toLowerCase().includes(filterStationStatus.value.toLowerCase())
            );
        });
    }

    function renderRecords(records, startIndex) {
        records.forEach((item, index) => {
            const adjustedIndex = startIndex + index + 1;

            const gridContainer = document.createElement('div');
            gridContainer.className = 'grid-container';

            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = `unassigned_child_to_parents_channel_id_${adjustedIndex}`;
            hiddenInput.id = `unassigned_child_to_parents_channel_id_${adjustedIndex}`;
            hiddenInput.value = item.channel_id;

            const titleItem = document.createElement('div');
            titleItem.className = 'grid-item';
            const titleInput = document.createElement('input');
            titleInput.type = 'text';
            titleInput.id = `unassigned_child_to_parents_title_${adjustedIndex}`;
            titleInput.name = `unassigned_child_to_parents_title_${adjustedIndex}`;
            titleInput.value = item.title;
            titleInput.readOnly = true;
            titleInput.style.backgroundColor = '#d1cdcde5';
            titleInput.title = item.title;
            titleItem.appendChild(titleInput);

            const m3uNameItem = document.createElement('div');
            m3uNameItem.className = 'grid-item';
            const m3uNameInput = document.createElement('input');
            m3uNameInput.type = 'text';
            m3uNameInput.id = `unassigned_child_to_parents_m3u_name_${adjustedIndex}`;
            m3uNameInput.name = `unassigned_child_to_parents_m3u_name_${adjustedIndex}`;
            m3uNameInput.value = item.m3u_name;
            m3uNameInput.readOnly = true;
            m3uNameInput.style.backgroundColor = '#d1cdcde5';
            m3uNameInput.title = item.m3u_name;
            m3uNameItem.appendChild(m3uNameInput);

            const descriptionItem = document.createElement('div');
            descriptionItem.className = 'grid-item';
            const descriptionInput = document.createElement('input');
            descriptionInput.type = 'text';
            descriptionInput.id = `unassigned_child_to_parents_description_${adjustedIndex}`;
            descriptionInput.name = `unassigned_child_to_parents_description_${adjustedIndex}`;
            descriptionInput.value = item.description;
            descriptionInput.readOnly = true;
            descriptionInput.style.backgroundColor = '#d1cdcde5';
            descriptionInput.title = item.description;
            descriptionItem.appendChild(descriptionInput);

            const selectItem = document.createElement('div');
            selectItem.className = 'grid-item';
            const select = document.createElement('select');
            select.className = 'select2';
            select.name = `unassigned_child_to_parents_parent_channel_id_${adjustedIndex}`;
            select.id = `unassigned_child_to_parents_parent_channel_id_${adjustedIndex}`;
            select.style.width = '100%';
            select.style.maxWidth = '100%';
            parentMappings.forEach(mapping => {
                const option = document.createElement('option');
                option.value = mapping.parent_channel_id;
                option.text = mapping.parent_title;
                if (mapping.parent_channel_id === item.parent_channel_id) {
                    option.selected = true;
                }
                select.appendChild(option);
            });
            selectItem.appendChild(select);

            const streamFormatOverrideItem = document.createElement('div');
            streamFormatOverrideItem.className = 'grid-item';
            const streamFormatOverrideInput = document.createElement('select');
            streamFormatOverrideInput.className = 'select2';
            streamFormatOverrideInput.name = `unassigned_child_to_parents_stream_format_override_${adjustedIndex}`;
            streamFormatOverrideInput.id = `unassigned_child_to_parents_stream_format_override_${adjustedIndex}`;
            streamFormatOverrideInput.style.width = '100%';
            streamFormatOverrideInput.style.maxWidth = '100%';
            streamFormatOverrideOptions.forEach(stream_format_override => {
                const option = document.createElement('option');
                option.value = stream_format_override;
                option.text = stream_format_override;
                if (stream_format_override === item.stream_format_override) {
                    option.selected = true;
                }
                streamFormatOverrideInput.appendChild(option);
            });
            streamFormatOverrideItem.appendChild(streamFormatOverrideInput);            

            const enableChildStationCheckItem = document.createElement('div');
            enableChildStationCheckItem.className = 'grid-item';
            const formCheckDiv = document.createElement('div');
            formCheckDiv.className = 'form-check form-switch ps-0 is-filled';
            const enableChildStationCheckInput = document.createElement('input');
            enableChildStationCheckInput.type = 'checkbox';
            enableChildStationCheckInput.id = `unassigned_child_to_parents_enable_child_station_check_${adjustedIndex}`;
            enableChildStationCheckInput.name = `unassigned_child_to_parents_enable_child_station_check_${adjustedIndex}`;
            enableChildStationCheckInput.className = 'form-check-input';
            enableChildStationCheckInput.style.marginLeft = '3px';
            enableChildStationCheckInput.checked = item.enable_child_station_check.toLowerCase() === 'on';
            formCheckDiv.appendChild(enableChildStationCheckInput);
            enableChildStationCheckItem.appendChild(formCheckDiv);

            const stationStatusItem = document.createElement('div');
            stationStatusItem.className = 'grid-item';
            const stationStatusInput = document.createElement('input');
            stationStatusInput.type = 'text';
            stationStatusInput.id = `unassigned_child_to_parents_child_station_check_${adjustedIndex}`;
            stationStatusInput.name = `unassigned_child_to_parents_child_station_check_${adjustedIndex}`;
            stationStatusInput.value = item.child_station_check;
            stationStatusInput.readOnly = true;
            stationStatusInput.style.backgroundColor = '#d1cdcde5';
            stationStatusInput.title = item.child_station_check;
            stationStatusItem.appendChild(stationStatusInput);

            const setParentButtonItem = document.createElement('div');
            setParentButtonItem.className = 'grid-item';
            const setParentButton = document.createElement('button');
            setParentButton.type = 'submit';
            setParentButton.name = 'action';
            setParentButton.value = `unassigned_child_to_parents_action_examine_${adjustedIndex}`;
            setParentButton.className = 'btn bg-gradient-primary my-2 mb-2';
            setParentButton.textContent = 'Examine';
            setParentButtonItem.appendChild(setParentButton);

            gridContainer.appendChild(hiddenInput);
            gridContainer.appendChild(titleItem);
            gridContainer.appendChild(m3uNameItem);
            gridContainer.appendChild(descriptionItem);
            gridContainer.appendChild(selectItem);
            gridContainer.appendChild(streamFormatOverrideItem);
            gridContainer.appendChild(enableChildStationCheckItem);
            gridContainer.appendChild(stationStatusItem);
            gridContainer.appendChild(setParentButtonItem);

            recordContainer.appendChild(gridContainer);
        });

          // Reinitialize select2 for new select elements
          initializeSelect2();

    }

    function loadMoreRecords() {
        loadingSpinner.style.display = 'block';
        const nextBatch = filteredRecords.slice(offset, offset + limit);

        renderRecords(nextBatch, offset);
        offset += limit;
        loadingSpinner.style.display = 'none';

        if (offset >= filteredRecords.length) {
            recordContainer.removeEventListener('scroll', onScroll);
        }
    }

    function onScroll() {
        if (recordContainer.scrollTop + recordContainer.clientHeight >= recordContainer.scrollHeight) {
            if (offset < filteredRecords.length) {
                loadMoreRecords();
            }
        }
    }

    function resetAndLoadRecords() {
        offset = 0;
        recordContainer.innerHTML = '';  // Clear existing records
        filteredRecords = applyFilters(allRecords);  // Re-apply filters to all records
        loadMoreRecords();  // Load filtered records
        if (filteredRecords.length > limit) {
            recordContainer.addEventListener('scroll', onScroll);  // Re-attach scroll event listener
        }
    }

    // Add event listeners for filter inputs
    filterTitle.addEventListener('input', resetAndLoadRecords);
    filterM3UName.addEventListener('input', resetAndLoadRecords);
    filterDescription.addEventListener('input', resetAndLoadRecords);
    filterParent.addEventListener('input', resetAndLoadRecords);
    filterStreamFormatOverride.addEventListener('input', resetAndLoadRecords);
    filterStationStatus.addEventListener('input', resetAndLoadRecords);

    recordContainer.addEventListener('scroll', onScroll);

    // Initial load
    resetAndLoadRecords();
  });
</script>
<!-- Background Color of Header Labels -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const darkModeToggle = document.getElementById('dark-version');

    // Function to update the background color of the specific grid-container
    function updateGridContainerBackground() {
      const bodyStyle = getComputedStyle(document.body);
      const bodyBgColor = bodyStyle.backgroundColor;

      // Apply the background color to the specific grid-container
      document.querySelectorAll('.dynamic-bg').forEach(container => {
        container.style.backgroundColor = bodyBgColor;
      });
    }

    // Initial update of the grid-container background color
    updateGridContainerBackground();

    // Listen for changes to the dark mode toggle
    if (darkModeToggle) {
      darkModeToggle.addEventListener('change', function () {
        updateGridContainerBackground();
      });
    }
  });
</script>
{% endblock javascripts %}
