{% extends "layouts/base.html" %}

{% block title %} Run Processes {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row min-vh-80 h-100 justify-content-center">
      <div class="col-12 text-center">
        <form method="POST" action="/runprocess" id="process-form">
          <hr>
          <div class="row">
            <div class="col-12">
              <button type="submit" name="action" value="backup_now" class="btn bg-gradient-primary w-100 h-100 my-2 mb-2">Run File and Log Backup</button>
            </div>
          </div>
          <hr>
          {% if html_slm_stream_link_file_manager %}
            <!-- Row for end_to_end button -->
            <div class="row">
              <div class="col-12">
                <button type="submit" name="action" value="end_to_end" class="btn bg-gradient-primary w-100 h-100 my-2 mb-2">Stream Links/Files: End-to-End</button>
              </div>
            </div>
            <!-- Spacer row -->
            <div class="row">
              <div class="col-12 my-2"></div>
            </div>
            <!-- Row for other buttons -->
            <div class="row justify-content-center">
              <div class="col-auto">
                <button type="submit" name="action" value="update_streaming_services" class="btn bg-gradient-primary w-18 my-2 mb-2">Update Streaming Services</button>
                <button type="submit" name="action" value="get_new_episodes" class="btn bg-gradient-primary w-18 my-2 mb-2">Get New Episodes</button>
                {% if html_slm_channels_dvr_integration %}
                  <button type="submit" name="action" value="import_program_updates" class="btn bg-gradient-primary w-18 my-2 mb-2">Import Updates from Channels</button>
                {% endif %}
                <button type="submit" name="action" value="generate_stream_links" class="btn bg-gradient-primary w-18 my-2 mb-2">Generate Stream Links</button>
                {% if html_slm_channels_dvr_integration %}
                  <button type="submit" name="action" value="prune_scan_channels" class="btn bg-gradient-primary w-18 my-2 mb-2">Run Updates in Channels</button>
                {% endif %}
              </div>
            </div>
            <hr>
          {% endif %}
        </form>
        <h4 for="log-output">Live Process Log (While Running)</h4>
        <pre style="white-space: pre; overflow-x: auto; border: 1px solid #ccc; padding: 10px; height: 400px; overflow-y: scroll;">
          <div id="log-output" style="text-align: left; white-space: pre-wrap;"></div>
        </pre>
      </div>
    </div>
    <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loadingModalLabel">Processing</h5>
          </div>
          <div class="modal-body">
            Please wait while the process completes...
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>
{% endblock content %}

{% block javascripts %}
<script>
  document.getElementById('process-form').addEventListener('submit', function(event) {
    const logOutput = document.getElementById("log-output");
    logOutput.innerHTML = ""; // Clear previous log content

    // Show the modal
    const loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'), {
      backdrop: 'static',
      keyboard: false
    });
    loadingModal.show();

    // Disable all navigation links
    document.querySelectorAll('a').forEach(element => {
      element.setAttribute('disabled', 'true');
      element.addEventListener('click', function(event) {
        event.preventDefault();
      });
    });

    setTimeout(() => {
      const eventSource = new EventSource("/stream_log");
      eventSource.onmessage = function(event) {
        logOutput.innerHTML = event.data + "<br>" + logOutput.innerHTML;
      };
      eventSource.onerror = function() {
        eventSource.close();
        // Re-enable all navigation links when the process is complete
        document.querySelectorAll('a').forEach(element => {
          element.removeAttribute('disabled');
        });
        loadingModal.hide();
      };
    }, 0); // Delay to ensure the process starts before streaming logs
  });
</script>
{% endblock javascripts %}
