{% extends "layouts/base.html" %}

{% block title %} Controls - Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>

</style>
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row min-vh-80 h-100">
      <div class="col-12">
        <form method="POST" action="/settings">
          <!-- Advanced / Experimental -->
          <h4 id="advanced_experimental_anchor">Manage Extensions and Main Controls</h4>
          <p><div id="html_advanced_experimental_message">{{ html_advanced_experimental_message }}</div></p>
          <div class="settings-box" style="width: 30%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
            <div class="form-check form-switch ps-0 is-filled">
              <input type="checkbox" class="form-check-input ms-auto" id="channels_dvr_integration" name="channels_dvr_integration" {% if html_slm_channels_dvr_integration %}checked{% endif %}>
              <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="channels_dvr_integration">Channels DVR Integration</label>
            </div>
            <div style="display: flex; justify-content: space-between; margin-top: 10px;">
              <button type="submit" name="action" value="channels_dvr_integration_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
              <button type="submit" name="action" value="channels_dvr_integration_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-left: 5px;">Cancel</button>
            </div>
          </div>
          {% if html_slm_channels_dvr_integration %}
            <div class="settings-box" style="width: 30%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
              <div class="form-check form-switch ps-0 is-filled">
                <input type="checkbox" class="form-check-input ms-auto" id="channels_prune" name="channels_prune" {% if html_channels_prune == "On" %}checked{% endif %}>
                <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="channels_prune">Run 'Prune' function in Channels DVR</label>
              </div>
              <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                <button type="submit" name="action" value="channels_prune_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
                <button type="submit" name="action" value="channels_prune_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-left: 5px;">Cancel</button>
              </div>
            </div>
          {% endif %}
          <div class="settings-box" style="width: 30%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
            <div class="form-check form-switch ps-0 is-filled">
              <input type="checkbox" class="form-check-input ms-auto" id="stream_link_file_manager" name="stream_link_file_manager" {% if html_slm_stream_link_file_manager %}checked{% endif %}>
              <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="stream_link_file_manager">Use Stream Link/File Manager</label>
            </div>
            <div style="display: flex; justify-content: space-between; margin-top: 10px;">
              <button type="submit" name="action" value="stream_link_file_manager_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
              <button type="submit" name="action" value="stream_link_file_manager_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-left: 5px;">Cancel</button>
            </div>
          </div>
          <div class="settings-box" style="width: 30%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
            <div class="form-check form-switch ps-0 is-filled">
              <input type="checkbox" class="form-check-input ms-auto" id="playlist_manager" name="playlist_manager" {% if html_slm_playlist_manager %}checked{% endif %}>
              <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="playlist_manager">Use Playlist Manager</label>
            </div>
            <div>
              <label for="station_start_number" style="margin-left: 15px; margin-top: 8px; margin-right: 10px;">Station Start Number:</label>
              <input type="text" id="station_start_number" name="station_start_number" value="{{ html_station_start_number }}">
            </div>
            <div>
              <label for="max_stations" style="margin-left: 15px; margin-top: 8px; margin-right: 5px;">Max Stations per m3u:</label>
              <input type="text" id="max_stations" name="max_stations" value="{{ html_max_stations }}">
            </div>
            <div class="form-check form-switch ps-0 is-filled" style="margin-top: 10px;">
              <input type="checkbox" class="form-check-input ms-auto" id="plm_url_tag_in_m3us" name="plm_url_tag_in_m3us" {% if html_plm_url_tag_in_m3us == 'On' %}checked{% endif %}>
              <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="plm_url_tag_in_m3us">Add URL tag to m3u(s)</label>
            </div>
            <div style="display: flex; justify-content: space-between; margin-top: 10px;">
              <button type="submit" name="action" value="playlist_manager_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
              <button type="submit" name="action" value="playlist_manager_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-left: 5px;">Cancel</button>
            </div>
          </div>
          {% if html_slm_playlist_manager %}
            <div class="settings-box" style="width: 30%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
              <div class="form-check form-switch ps-0 is-filled">
                <input type="checkbox" class="form-check-input ms-auto" id="plm_streaming_stations" name="plm_streaming_stations" {% if html_plm_streaming_stations %}checked{% endif %}>
                <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="plm_streaming_stations">Use PLM Streaming Stations</label>
              </div>
              <div>
                <label for="plm_streaming_stations_station_start_number" style="margin-left: 15px; margin-top: 8px; margin-right: 10px;">Station Start Number:</label>
                <input type="text" id="plm_streaming_stations_station_start_number" name="plm_streaming_stations_station_start_number" value="{{ html_plm_streaming_stations_station_start_number }}">
              </div>
              <div>
                <label for="plm_streaming_stations_max_stations" style="margin-left: 15px; margin-top: 8px; margin-right: 5px;">Max Stations per m3u:</label>
                <input type="text" id="plm_streaming_stations_max_stations" name="plm_streaming_stations_max_stations" value="{{ html_plm_streaming_stations_max_stations }}">
              </div>
              <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                <button type="submit" name="action" value="plm_streaming_stations_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
                <button type="submit" name="action" value="plm_streaming_stations_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-left: 5px;">Cancel</button>
              </div>
            </div>
          {% endif %}
          <div class="settings-box" style="width: 30%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
            <div class="form-check form-switch ps-0 is-filled">
              <input type="checkbox" class="form-check-input ms-auto" id="media_tools_manager" name="media_tools_manager" {% if html_slm_media_tools_manager %}checked{% endif %}>
              <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="media_tools_manager">Use Media Tools Manager</label>
            </div>
            <div style="display: flex; justify-content: space-between; margin-top: 10px;">
              <button type="submit" name="action" value="media_tools_manager_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
              <button type="submit" name="action" value="media_tools_manager_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-left: 5px;">Cancel</button>
            </div>
          </div>
          <hr>
          {% if html_slm_channels_dvr_integration %}
            <!-- Channels URL -->
            <h4 id="channels_url_anchor">Channels URL</h4>
            <p>Channel URL currently set to <b>{{ html_channels_url }}</b></p>
            <input type="text" id="channels_url" name="channels_url" value="{{ html_channels_url_prior }}" style="width: calc(55%);" title="{{ html_channels_url_prior }}">
            <button type="submit" name="action" value="channels_url_test" class="btn bg-gradient-primary w-10 my-2 mb-2">Test</button>
            <button type="submit" name="action" value="channels_url_scan" class="btn bg-gradient-primary w-10 my-2 mb-2">Scan</button>
            <button type="submit" name="action" value="channels_url_save" class="btn bg-gradient-primary w-10 my-2 mb-2">Save</button>
            <button type="submit" name="action" value="channels_url_cancel" class="btn bg-gradient-primary w-10 my-2 mb-2">Cancel</button>
            <p><em>WARNING: Do not use 'https' as it may cause Channels functions to fail.</em></p>
            <p><div id="html_channels_url_message">{{ html_channels_url_message }}</div></p>
            <hr>
            <!-- Channels Directory -->
            <h4 id="channels_directory_anchor">Channels Directory</h4>
            <p>The Channels Directory is currently set to: <b><span id="channels_directory">{{ html_channels_directory }}</span></b></p>
            <p><div id="html_channels_directory_message">{{ html_channels_directory_message }}</div></p>
            <input type="text" id="current_directory" name="current_directory" value="{{ html_current_directory }}" readonly style="width: calc(65%); background-color: #d1cdcde5;" title="{{ html_current_directory }}">
            <button type="submit" name="action" value="channels_directory_nav_up" class="btn bg-gradient-primary w-10 my-2 mb-2">Nav Up</button>
            <button type="submit" name="action" value="channels_directory_save" class="btn bg-gradient-primary w-10 my-2 mb-2">Select</button>
            <button type="submit" name="action" value="channels_directory_cancel" class="btn bg-gradient-primary w-10 my-2 mb-2">Reset</button>
            <ul id="subdirectories">
              <div class="settings-box" style="width: calc(50%); display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; height: 150px; overflow-y: scroll; overflow-x: auto;"> 
                {% for subdir in html_subdirectories %}
                  <button type="submit" name="action" value="channels_directory_nav_{{ loop.index }}" class="btn btn-link" style="display: block; margin: 0px 0;">{{ subdir }}</button>
                {% endfor %}
              </div>
            </ul>
            <input type="text" id="manual-path" name="channels_directory_manual_path" placeholder="Enter a path to manually navigate to... (i.e., 'D:\', '\\server\share', or '//server/share')" style="width: calc(65%);">
            <button type="submit" name="action" value="channels_directory_manual_go" class="btn bg-gradient-primary w-10 my-2 mb-2">Navigate</button>
            <hr>
          {% endif %}
        </form>
      </div>
    </div>
    
    <!-- {% include 'includes/footer.html' %} -->

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Directory Navigator -->
<script>
  async function select_channels_directory(action) {
      const currentDirectory = document.getElementById('current_directory').value;
      const manualPath = document.getElementById('channels_directory_manual_path').value;
      const response = await fetch('/settings', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({ current_directory: currentDirectory, action: action, new_directory: manualPath })
      });
      const data = await response.json();
      if (response.ok) {
          document.getElementById('current_directory').value = data.current_directory;
          const subdirectoriesList = document.getElementById('subdirectories');
          subdirectoriesList.innerHTML = '';
          data.subdirectories.forEach((subdir, index) => {
              const li = document.createElement('li');
              li.innerText = `${subdir}`;
              li.onclick = () => select_channels_directory(`channels_directory_nav_${index + 1}`);
              subdirectoriesList.appendChild(li);
          });
      } else {
          alert(data.error);
      }
  }
</script>
<!-- Anchor Control -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const anchorId = "{{ html_settings_anchor_id }}";
      if (anchorId) {
          window.location.hash = anchorId;
      }
  });
</script>
{% endblock javascripts %}
