{% extends "layouts/base.html" %}

{% block title %} On-Demand - Manage Providers {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .stream-link-mappings .grid-container {
      display: grid;
      grid-template-columns: 0.5fr 2.5fr 1.5fr 2.5fr 3fr 1fr;
      gap: 10px;
  }

  .ssss .grid-container {
      display: grid;
      grid-template-columns: 0.5fr 5fr 4.5fr 1fr;
      gap: 10px;
  }

  .provider-group .grid-container {
      display: grid;
      grid-template-columns: 0.5fr 3.5fr 6fr 1fr;
      gap: 10px;
  }

  .slm-labels .grid-container {
      display: grid;
      grid-template-columns: 0.5fr 3.5fr 6fr 1fr;
      gap: 10px;
  }

  .slm-subscribed-video-channels .grid-container {
      display: grid;
      grid-template-columns: 0.5fr 2fr 1fr 2fr 2fr 1fr 1.5fr 1fr;
      gap: 10px;
  }

  .slm-subscribed-video-channels .grid-item,
  .slm-labels .grid-item,
  .provider-group .grid-item,
  .ssss .grid-item,
  .stream-link-mappings .grid-item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 0;
  }

  .slm-subscribed-video-channels .form-check,
  .slm-labels .form-check,
  .provider-group .form-check,
  .ssss .form-check,
  .stream-link-mappings .form-check {
      display: flex;
      align-items: center;
      gap: 3.5em; /* Adjust the gap as needed */
  }

  .slm-subscribed-video-channels .form-check-label,
  .slm-labels .form-check-label,
  .provider-group .form-check-label,
  .ssss .form-check-label,
  .stream-link-mappings .form-check-label {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .slm-subscribed-video-channels .form-check-input,
  .slm-labels .form-check-input,
  .provider-group .form-check-input,
  .ssss .form-check-input,
  .stream-link-mappings .form-check-input {
      flex-shrink: 0;
  }

  .slm-subscribed-video-channels input[type="text"],
  .slm-labels input[type="text"],
  .provider-group input[type="text"],
  .ssss input[type="text"],
  .stream-link-mappings input[type="text"] {
      width: 100%;
      box-sizing: border-box;
  }

  .slm-subscribed-video-channels .btn,
  .slm-labels .btn,
  .provider-group .btn,
  .ssss .btn,
  .stream-link-mappings .btn {
      width: 100%;
      box-sizing: border-box;
  }
</style>
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row min-vh-80 h-100">
      <div class="col-12">
        <form method="POST" action="/manage_providers">
          {% if html_slm_stream_link_file_manager %}
            <!-- Movies & TV Shows Streaming Services -->
            <h4 id="streaming_services_anchor">Movies & TV Shows Streaming Services
              <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Settings:-Streaming-Services" target="_blank">
                <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
              </a>
            </h4>
            <div class="container">
              <style>
                .listbox {
                  width: 400px;
                  height: 300px;
                  overflow-y: scroll;
                  border: 1px solid #ccc;
                }
                .container {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                }
                .buttons {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                }
                .right-container {
                  display: flex;
                  align-items: center;
                }
                .centered-button {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
                .box-container {
                  border: 1px solid #ccc;
                  padding: 10px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  position: relative;
                  width: 100%;
                  max-width: 975px;
                }
                .form-buttons {
                  display: flex;
                  justify-content: center;
                  margin-top: 5px;
                  width: 100%;
                  margin-left: -72px;
                }
              </style>
              <div class="box-container">
                <div>
                  <h6 style="text-align: center;">Available</h6>
                  <select id="leftList" class="listbox" multiple>
                    <!-- Left list options will be populated by JavaScript -->
                  </select>
                </div>
                <div class="buttons">
                  <button type="button" class="btn bg-gradient-primary h-2 w-2 my-2 mb-2 centered-button" onclick="streaming_services_moveRight()">
                    <i class="material-icons opacity-10">keyboard_arrow_right</i>
                  </button>
                  <button type="button" class="btn bg-gradient-primary h-2 w-2 my-2 mb-2 centered-button" onclick="streaming_services_moveLeft()">
                    <i class="material-icons opacity-10">keyboard_arrow_left</i>
                  </button>
                </div>
                <div class="right-container">
                  <div>
                    <h6 style="text-align: center;">Subscribed by Priority</h6>
                    <select id="rightList" class="listbox" multiple>
                      <!-- Right list options will be populated by JavaScript -->
                    </select>
                  </div>
                  <div class="buttons">
                    <button type="button" class="btn bg-gradient-primary h-2 w-2 my-2 mb-2 centered-button" onclick="streaming_services_moveUp()">
                      <i class="material-icons opacity-10">keyboard_arrow_up</i>
                    </button>
                    <button type="button" class="btn bg-gradient-primary h-2 w-2 my-2 mb-2 centered-button" onclick="streaming_services_moveDown()">
                      <i class="material-icons opacity-10">keyboard_arrow_down</i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-buttons">
                <button type="submit" name="action" value="streaming_services_update" class="btn bg-gradient-primary w-10 my-2 mb-2" style="margin-right: 2px;">Update</button>
                <button type="submit" name="action" value="streaming_services_save" class="btn bg-gradient-primary w-10 my-2 mb-2" style="margin-left: 2px; margin-right: 2px;">Save</button>
                <button type="submit" name="action" value="streaming_services_cancel" class="btn bg-gradient-primary w-10 my-2 mb-2" style="margin-left: 2px;">Cancel</button>
              </div>
            </div>
            <input type="hidden" id="streaming_services" name="streaming_services">
            <hr>
            <!-- Subscribed Streaming Services Settings -->
            <h4 id="ssss_anchor">Subscribed Streaming Services Settings
              <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Settings:-Subscribed-Streaming-Services-Settings" target="_blank">
                <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
              </a>
            </h4>
            <div class="ssss container-fluid">
              <div class="grid-container" style="text-align: center;">
                <div class="grid-item"><h6>Active</h6></div>
                <div class="grid-item"><h6>Name</h6></div>
                <div class="grid-item"><h6>Group</h6></div>
                <div class="grid-item"><h6>Action</h6></div>
              </div>
              {% for item in html_streaming_services_subscribed %}
                <div class="grid-container">
                  <div class="grid-item">
                    <div class="form-check form-switch ps-0 is-filled">
                      <input type="checkbox" id="ssss_streaming_service_active_{{ loop.index }}" name="ssss_streaming_service_active_{{ loop.index }}" class="form-check-input" 
                        {% if item.streaming_service_active|lower == 'on' %}checked{% endif %} 
                        onchange="this.value = this.checked ? 'On' : 'Off'" 
                        value="On" style="margin-left: 5px;">
                    </div>
                  </div>
                  <div class="grid-item">
                    <input type="text" id="ssss_streaming_service_name_{{ loop.index }}" name="ssss_streaming_service_name_{{ loop.index }}" value="{{ item.streaming_service_name }}" title="{{ item.streaming_service_name }}" readonly style="background-color: #d1cdcde5;">
                  </div>
                  <div class="grid-item">
                    <select class="select2" name="ssss_streaming_service_group_{{ loop.index }}" id="ssss_streaming_service_group_{{ loop.index }}" style="width: 100%; max-width: 100%;">
                      {% for provider_group_item in html_provider_groups %}
                        <option value="{{ provider_group_item.provider_group_id }}" {% if provider_group_item.provider_group_id == item.streaming_service_group %}selected{% endif %} style="width: auto; min-width: 100%;">{{ provider_group_item.provider_group_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="grid-item">
                    <button type="submit" name="action" value="ssss_save_{{ loop.index }}" class="btn bg-gradient-primary my-2 mb-2">Save</button>
                  </div>
                </div>
              {% endfor %}                                 
              <button type="submit" name="action" value="ssss_save_all" class="btn bg-gradient-primary w-25 my-2 mb-2">Save All</button>
              <button type="submit" name="action" value="ssss_cancel" class="btn bg-gradient-primary w-25 my-2 mb-2">Cancel / Reset</button>
            </div>
            <hr>
            <!-- Subscribed Video Channels -->
            <h4 id="subscribed_video_channels_anchor">Subscribed Video Channels
              <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Settings:-Subscribed-Video-Channels" target="_blank">
                <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
              </a>
            </h4>
            <div class="slm-subscribed-video-channels container-fluid">
              <div class="grid-container" style="text-align: center;">
                <div class="grid-item"><h6>Active</h6></div>
                <div class="grid-item"><h6>Name</h6></div>
                <div class="grid-item"><h6>User</h6></div>
                <div class="grid-item"><h6>Description</h6></div>
                <div class="grid-item"><h6>Link</h6></div>
                <div class="grid-item"><h6>Image</h6></div>
                <div class="grid-item"><h6>Group</h6></div>
                <div class="grid-item"><h6>Action</h6></div>
              </div>
              {% for item in html_subscribed_video_channels %}
                <input type="hidden" name="subscribed_video_channel_id_{{ loop.index }}" id="subscribed_video_channel_id_{{ loop.index }}" value="{{ item.channel_id }}">
                <div class="grid-container">
                  <div class="grid-item">
                    <div class="form-check form-switch ps-0 is-filled">
                      <input type="checkbox" id="subscribed_video_channel_active_{{ loop.index }}" name="subscribed_video_channel_active_{{ loop.index }}" class="form-check-input" 
                        {% if item.channel_active|lower == 'on' %}checked{% endif %} 
                        onchange="this.value = this.checked ? 'On' : 'Off'" 
                        value="On" style="margin-left: 5px;">
                    </div>
                  </div>
                  <div class="grid-item">
                    <input type="text" id="subscribed_video_channel_name_{{ loop.index }}" name="subscribed_video_channel_name_{{ loop.index }}" value="{{ item.channel_name }}" title="{{ item.channel_name }}">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="subscribed_video_channel_user_{{ loop.index }}" name="subscribed_video_channel_user_{{ loop.index }}" value="{{ item.channel_user }}" title="{{ item.channel_user }}">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="subscribed_video_channel_description_{{ loop.index }}" name="subscribed_video_channel_description_{{ loop.index }}" value="{{ item.channel_description }}" title="{{ item.channel_description }}">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="subscribed_video_channel_url_{{ loop.index }}" name="subscribed_video_channel_url_{{ loop.index }}" value="{{ item.channel_url }}" title="{{ item.channel_url }}">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="subscribed_video_channel_image_{{ loop.index }}" name="subscribed_video_channel_image_{{ loop.index }}" value="{{ item.channel_image }}" title="{{ item.channel_image }}">
                  </div>
                  <div class="grid-item">
                    <select class="select2" name="subscribed_video_channel_streaming_service_group_{{ loop.index }}" id="subscribed_video_channel_streaming_service_group_{{ loop.index }}" style="width: 100%; max-width: 100%;">
                      {% for provider_group_item in html_provider_groups %}
                        <option value="{{ provider_group_item.provider_group_id }}" {% if provider_group_item.provider_group_id == item.channel_streaming_service_group %}selected{% endif %} style="width: auto; min-width: 100%;">{{ provider_group_item.provider_group_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="grid-item">
                    <button type="submit" name="action" value="subscribed_video_channel_delete_{{ loop.index }}" class="btn bg-gradient-primary my-2 mb-2">Delete</button>
                  </div>
                </div>
              {% endfor %}
              <div class="grid-container">
                <div class="grid-item">
                  <div class="form-check form-switch ps-0 is-filled">
                    <input type="checkbox" id="subscribed_video_channel_active_new" name="subscribed_video_channel_active_new" class="form-check-input"  style="margin-left: 5px;" checked>
                  </div>
                </div>
                <div class="grid-item">
                  <input type="text" id="subscribed_video_channel_name_new" name="subscribed_video_channel_name_new" title="i.e., Super Awesome Channel" placeholder="i.e., Super Awesome Channel">
                </div>
                <div class="grid-item">
                  <input type="text" id="subscribed_video_channel_user_new" name="subscribed_video_channel_user_new" title="i.e., @superawesomechannel" placeholder="i.e., @superawesomechannel">
                </div>
                <div class="grid-item">
                  <input type="text" id="subscribed_video_channel_description_new" name="subscribed_video_channel_description_new" title="This is a channel of super awesome stuff!" placeholder="i.e., This is a channel of super awesome stuff!">
                </div>
                <div class="grid-item">
                  <input type="text" id="subscribed_video_channel_url_new" name="subscribed_video_channel_url_new" title="i.e., https://www.youtube.com/channel/UChog1pAtNqX2S9GzxF2lryg" placeholder="i.e., https://www.youtube.com/channel/UChog1pAtNqX2S9GzxF2lryg">
                </div>
                <div class="grid-item">
                  <input type="text" id="subscribed_video_channel_image_new" name="subscribed_video_channel_image_new" title="i.e., https://yt3.googleusercontent.com/ytc/AIdro_n4YNQmAew201Ay95Ow2ZX3EH6a7AzOuYjlgF3WyMC_8ZI=s176-c-k-c0x00ffffff-no-rj-mo" placeholder="i.e., https://yt3.googleusercontent.com/ytc/AIdro_n4YNQmAew201Ay95Ow2ZX3EH6a7AzOuYjlgF3WyMC_8ZI=s176-c-k-c0x00ffffff-no-rj-mo">
                </div>
                <div class="grid-item">
                  <select class="select2" name="subscribed_video_channel_streaming_service_group_new" id="subscribed_video_channel_streaming_service_group_new" style="width: 100%; max-width: 100%;">
                    {% for provider_group_item in html_provider_groups %}
                      <option value="{{ provider_group_item.provider_group_id }}" style="width: auto; min-width: 100%;">{{ provider_group_item.provider_group_name }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="grid-item">
                  <button type="submit" name="action" value="subscribed_video_channel_new" class="btn bg-gradient-primary my-2 mb-2">Add</button>
                </div>
              </div>
              <button type="submit" name="action" value="subscribed_video_channel_save" class="btn bg-gradient-primary w-25 my-2 mb-2">Save All</button>
              <button type="submit" name="action" value="show_hidden_subscribed_video_channels" class="btn bg-gradient-primary w-25 my-2 mb-2">Show Hidden</button>
              <button type="submit" name="action" value="subscribed_video_channel_cancel" class="btn bg-gradient-primary w-25 my-2 mb-2">Cancel / Reset</button>
            </div>
            <p><div id="html_subscribed_video_channels_message"><b>{{ html_subscribed_video_channels_message }}</b></div></p>
            <hr>
            <!-- Provider Groups -->
            <h4 id="provider_group_anchor">Provider Groups
              <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Settings:-Provider-Groups" target="_blank">
                <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
              </a>
            </h4>
            <div class="provider-group container-fluid">
              <div class="grid-container" style="text-align: center;">
                <div class="grid-item"><h6>Active</h6></div>
                <div class="grid-item"><h6>Name</h6></div>
                <div class="grid-item"><h6>Description</h6></div>
                <div class="grid-item"><h6>Action</h6></div>
              </div>
              {% for item in html_provider_groups_raw %}
                <input type="hidden" name="provider_group_id_{{ loop.index }}" id="provider_group_id_{{ loop.index }}" value="{{ item.provider_group_id }}">
                <div class="grid-container">
                  <div class="grid-item">
                    <div class="form-check form-switch ps-0 is-filled">
                      <input type="checkbox" id="provider_group_active_{{ loop.index }}" name="provider_group_active_{{ loop.index }}" class="form-check-input" 
                        {% if item.provider_group_active|lower == 'on' %}checked{% endif %} 
                        onchange="this.value = this.checked ? 'On' : 'Off'" 
                        value="On" style="margin-left: 5px;">
                    </div>
                  </div>
                  <div class="grid-item">
                    <input type="text" id="provider_group_name_{{ loop.index }}" name="provider_group_name_{{ loop.index }}" value="{{ item.provider_group_name }}" title="{{ item.provider_group_name }}">
                  </div>
                  <div class="grid-item">
                    <input type="text" id="provider_group_description_{{ loop.index }}" name="provider_group_description_{{ loop.index }}" value="{{ item.provider_group_description }}" title="{{ item.provider_group_description }}">
                  </div>
                  <div class="grid-item">
                    <button type="submit" name="action" value="provider_group_delete_{{ loop.index }}" class="btn bg-gradient-primary my-2 mb-2">Delete</button>
                  </div>
                </div>
              {% endfor %}
              <div class="grid-container">
                <div class="grid-item">
                  <div class="form-check form-switch ps-0 is-filled">
                    <input type="checkbox" id="provider_group_active_new" name="provider_group_active_new" class="form-check-input" style="margin-left: 5px;" checked>
                  </div>
                </div>
                <div class="grid-item">
                  <input type="text" id="provider_group_name_new" name="provider_group_name_new">
                </div>
                <div class="grid-item">
                  <input type="text" id="provider_group_description_new" name="provider_group_description_new">
                </div>
                <div class="grid-item">
                  <button type="submit" name="action" value="provider_group_new" class="btn bg-gradient-primary my-2 mb-2" disabled>Add</button>
                </div>
              </div>
              <button type="submit" name="action" value="provider_group_save" class="btn bg-gradient-primary w-25 my-2 mb-2" disabled>Save All</button>
              <button type="submit" name="action" value="provider_group_cancel" class="btn bg-gradient-primary w-25 my-2 mb-2">Cancel / Reset</button>
            </div>
            <hr>
            <!-- Stream Link Mappings -->
            <h4 id="slmapping_anchor">Stream Link Mappings
              <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Settings:-Stream-Link-Mappings" target="_blank">
                <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
              </a>
            </h4>
            <div class="stream-link-mappings container-fluid">
              <div class="grid-container" style="text-align: center;">
                <div class="grid-item"><h6>Active</h6></div>
                <div class="grid-item"><h6>If 'Stream Link' contains</h6></div>
                <div class="grid-item"><h6>For 'Object Type'</h6></div>
                <div class="grid-item"><h6>Do this activity</h6></div>
                <div class="grid-item"><h6>Using this</h6></div>
                <div class="grid-item"><h6>Action</h6></div>
              </div>
              {% for item in html_slmappings %}
                {% set object_type = item.object_type %}
                {% set replace_type = item.replace_type %}
                <div class="grid-container">
                  <div class="grid-item">
                    <div class="form-check form-switch ps-0 is-filled">
                      <input type="checkbox" id="slmapping_active_existing_{{ loop.index }}" name="slmapping_active_existing_{{ loop.index }}" class="form-check-input" 
                        {% if item.active|lower == 'on' %}checked{% endif %} 
                        onchange="this.value = this.checked ? 'On' : 'Off'" 
                        value="On" style="margin-left: 5px;">
                    </div>
                  </div>
                  <div class="grid-item">
                    <input type="text" id="slmapping_contains_string_existing_{{ loop.index }}" name="slmapping_contains_string_existing_{{ loop.index }}" value="{{ item.contains_string }}" title="{{ item.contains_string }}">
                  </div>
                  <div class="grid-item">
                    <select class="select2" name="slmapping_object_type_existing_{{ loop.index }}" id="slmapping_object_type_existing_{{ loop.index }}" style="width: 100%; max-width: 100%;">
                      {% for object_type_item in html_slmappings_object_type %}
                        <option value="{{ object_type_item }}" {% if object_type_item == object_type %}selected{% endif %} style="width: auto; min-width: 100%;">{{ object_type_item }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="grid-item">
                    <select class="select2" name="slmapping_replace_type_existing_{{ loop.index }}" id="slmapping_replace_type_existing_{{ loop.index }}" style="width: 100%; max-width: 100%;">
                      {% for replace_type_item in html_slmappings_replace_type %}
                        <option value="{{ replace_type_item }}" {% if replace_type_item == replace_type %}selected{% endif %} style="width: auto; min-width: 100%;">{{ replace_type_item }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="grid-item">
                    <input type="text" id="slmapping_replace_string_existing_{{ loop.index }}" name="slmapping_replace_string_existing_{{ loop.index }}" value="{{ item.replace_string }}" title="{{ item.replace_string }}">
                  </div>
                  <div class="grid-item">
                    <button type="submit" name="action" value="slmapping_action_delete_{{ loop.index }}" class="btn bg-gradient-primary my-2 mb-2">Delete</button>
                  </div>
                </div>
              {% endfor %}                                 
              <div class="grid-container">
                <div class="grid-item">
                  <div class="form-check form-switch ps-0 is-filled">
                    <input type="checkbox" id="slmapping_active_new" name="slmapping_active_new" class="form-check-input" style="margin-left: 5px;" checked>
                  </div>
                </div>
                <div class="grid-item">
                  <input type="text" id="slmapping_contains_string_new" name="slmapping_contains_string_new">
                </div>
                <div class="grid-item">
                  <select class="select2" name="slmapping_object_type_new" id="slmapping_object_type_new" style="width: 100%; max-width: 100%;">
                    {% for object_type_item in html_slmappings_object_type %}
                      <option value="{{ object_type_item }}" style="width: auto; min-width: 100%;">{{ object_type_item }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="grid-item">
                  <select class="select2" name="slmapping_replace_type_new" id="slmapping_replace_type_new" style="width: 100%; max-width: 100%;">
                    {% for replace_type_item in html_slmappings_replace_type %}
                      <option value="{{ replace_type_item }}" style="width: auto; min-width: 100%;">{{ replace_type_item }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="grid-item">
                  <input type="text" id="slmapping_replace_string_new" name="slmapping_replace_string_new">
                </div>
                <div class="grid-item">
                  <button type="submit" name="action" value="slmapping_action_new" class="btn bg-gradient-primary my-2 mb-2" disabled>Add</button>
                </div>
              </div>
              <button type="submit" name="action" value="slmapping_action_save" class="btn bg-gradient-primary w-25 my-2 mb-2" disabled>Save All</button>
              <button type="submit" name="action" value="slmapping_cancel" class="btn bg-gradient-primary w-25 my-2 mb-2">Cancel / Reset</button>
            </div>
            <hr>
          {% endif %}
          <!-- Labels -->
          <h4 id="slm_label_anchor">Labels
            <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Settings:-Labels" target="_blank">
              <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
            </a>
          </h4>
          <div class="slm-labels container-fluid">
            <div class="grid-container" style="text-align: center;">
              <div class="grid-item"><h6>Active</h6></div>
              <div class="grid-item"><h6>Name</h6></div>
              <div class="grid-item"><h6>Description</h6></div>
              <div class="grid-item"><h6>Action</h6></div>
            </div>
            {% for item in html_slm_labels %}
              <input type="hidden" name="slm_label_id_{{ loop.index }}" id="slm_label_id_{{ loop.index }}" value="{{ item.label_id }}">
              <div class="grid-container">
                <div class="grid-item">
                  <div class="form-check form-switch ps-0 is-filled">
                    <input type="checkbox" id="slm_label_active_{{ loop.index }}" name="slm_label_active_{{ loop.index }}" class="form-check-input" 
                      {% if item.label_active|lower == 'on' %}checked{% endif %} 
                      onchange="this.value = this.checked ? 'On' : 'Off'" 
                      value="On" style="margin-left: 5px;">
                  </div>
                </div>
                <div class="grid-item">
                  <input type="text" id="slm_label_name_{{ loop.index }}" name="slm_label_name_{{ loop.index }}" value="{{ item.label_name }}" title="{{ item.label_name }}">
                </div>
                <div class="grid-item">
                  <input type="text" id="slm_label_description_{{ loop.index }}" name="slm_label_description_{{ loop.index }}" value="{{ item.label_description }}" title="{{ item.label_description }}">
                </div>
                <div class="grid-item">
                  <button type="submit" name="action" value="slm_label_delete_{{ loop.index }}" class="btn bg-gradient-primary my-2 mb-2">Delete</button>
                </div>
              </div>
            {% endfor %}
            <div class="grid-container">
              <div class="grid-item">
                <div class="form-check form-switch ps-0 is-filled">
                  <input type="checkbox" id="slm_label_active_new" name="slm_label_active_new" class="form-check-input" style="margin-left: 5px;" checked>
                </div>
              </div>
              <div class="grid-item">
                <input type="text" id="slm_label_name_new" name="slm_label_name_new">
              </div>
              <div class="grid-item">
                <input type="text" id="slm_label_description_new" name="slm_label_description_new">
              </div>
              <div class="grid-item">
                <button type="submit" name="action" value="slm_label_new" class="btn bg-gradient-primary my-2 mb-2" disabled>Add</button>
              </div>
            </div>
            <button type="submit" name="action" value="slm_label_save" class="btn bg-gradient-primary w-25 my-2 mb-2" disabled>Save All</button>
            {% if html_slm_channels_dvr_integration %}
              <button type="submit" name="action" value="slm_label_import" class="btn bg-gradient-primary w-25 my-2 mb-2">Import from Channels</button>
            {% endif %}
            <button type="submit" name="action" value="slm_label_cancel" class="btn bg-gradient-primary w-25 my-2 mb-2">Cancel / Reset</button>
          </div>
          <hr>
          {% if html_slm_channels_dvr_integration %}
            <!-- SLM Stream Address -->
            <h4 id="slm_stream_address_anchor">SLM Stream Address
              <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Special-Actions-%E2%80%90-SLM-Streams" target="_blank">
                <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
              </a>
            </h4>
            <p>SLM Stream Address currently set to <b>{{ html_slm_stream_address }}</b></p>
            <input type="text" id="slm_stream_address" name="slm_stream_address" value="{{ html_slm_stream_address_prior }}" style="width: calc(55%);" title="{{ html_slm_stream_address_prior }}">
            <button type="submit" name="action" value="slm_stream_address_test" class="btn bg-gradient-primary w-10 my-2 mb-2">Test</button>
            <button type="submit" name="action" value="slm_stream_address_save" class="btn bg-gradient-primary w-10 my-2 mb-2">Save</button>
            <button type="submit" name="action" value="slm_stream_address_cancel" class="btn bg-gradient-primary w-10 my-2 mb-2">Cancel</button>
            <p><em>WARNING: Do not use 'https' as it may cause Stream Files on Channels DVR clients to fail.</em></p>
            <p><div id="html_slm_stream_address_message"><b>{{ html_slm_stream_address_message }}</b></div></p>
            <hr>
          {% endif %}
        </form>
      </div>
    </div>
    
    <!-- {% include 'includes/footer.html' %} -->

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Subscribe/d Streaming Services -->
<script>
  const streamingServices = {{ html_streaming_services | tojson }};
  const leftList = document.getElementById('leftList');
  const rightList = document.getElementById('rightList');
  const streamingServicesInput = document.getElementById('streaming_services');

  function populateLists() {
      leftList.innerHTML = '';
      rightList.innerHTML = '';
      streamingServices.sort((a, b) => a.streaming_service_name.toLowerCase().localeCompare(b.streaming_service_name.toLowerCase()));
      streamingServices.forEach(service => {
          const option = document.createElement('option');
          option.value = service.streaming_service_name;
          option.text = service.streaming_service_name;
          if (service.streaming_service_subscribe === 'True') {
              rightList.appendChild(option);
          } else {
              leftList.appendChild(option);
          }
      });
      sortRightListByPriority();
  }

  function sortRightListByPriority() {
      const options = Array.from(rightList.options);
      options.sort((a, b) => {
          const serviceA = streamingServices.find(s => s.streaming_service_name === a.value);
          const serviceB = streamingServices.find(s => s.streaming_service_name === b.value);
          return (serviceA.streaming_service_priority || 0) - (serviceB.streaming_service_priority || 0);
      });
      options.forEach(option => rightList.appendChild(option));
  }

  function streaming_services_moveRight() {
      const selectedOptions = Array.from(leftList.selectedOptions);
      selectedOptions.forEach(option => {
          rightList.appendChild(option);
          streaming_services_updateService(option.value, true);
      });
      sortRightListByPriority();
  }

  function streaming_services_moveLeft() {
      const selectedOptions = Array.from(rightList.selectedOptions);
      selectedOptions.forEach(option => {
          leftList.appendChild(option);
          streaming_services_updateService(option.value, false);
      });
  }

  function streaming_services_moveUp() {
      const selectedOptions = Array.from(rightList.selectedOptions);
      selectedOptions.forEach(option => {
          const previousOption = option.previousElementSibling;
          if (previousOption) {
              rightList.insertBefore(option, previousOption);
              streaming_services_updateServicePriority();
          }
      });
  }

  function streaming_services_moveDown() {
      const selectedOptions = Array.from(rightList.selectedOptions);
      selectedOptions.reverse().forEach(option => {
          const nextOption = option.nextElementSibling;
          if (nextOption) {
              rightList.insertBefore(nextOption, option);
              streaming_services_updateServicePriority();
          }
      });
  }

  function streaming_services_updateService(name, subscribe) {
      const service = streamingServices.find(s => s.streaming_service_name === name);
      service.streaming_service_subscribe = subscribe ? 'True' : 'False';
      if (subscribe) {
          service.streaming_service_priority = Math.max(...streamingServices.map(s => s.streaming_service_priority || 0)) + 1;
      } else {
          service.streaming_service_priority = '';
      }
      streaming_services_updateHiddenInput();
  }

  function streaming_services_updateServicePriority() {
      Array.from(rightList.options).forEach((option, index) => {
          const service = streamingServices.find(s => s.streaming_service_name === option.value);
          service.streaming_service_priority = index + 1;
      });
      streaming_services_updateHiddenInput();
  }

  function streaming_services_updateHiddenInput() {
      streamingServicesInput.value = JSON.stringify(streamingServices.map(service => ({
          streaming_service_name: service.streaming_service_name,
          streaming_service_subscribe: service.streaming_service_subscribe,
          streaming_service_priority: service.streaming_service_priority,
          streaming_service_active: service.streaming_service_active,
          streaming_service_group: service.streaming_service_group
      })));
  }

  populateLists();
  streaming_services_updateHiddenInput();
</script>
<!-- Anchor Control -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const anchorId = "{{ html_settings_anchor_id }}";
      if (anchorId) {
          window.location.hash = anchorId;
      }
  });
</script>
<!-- Stream Link Mapping Buttons -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const addButton = document.querySelector('button[name="action"][value="slmapping_action_new"]');
    const saveButton = document.querySelector('button[name="action"][value="slmapping_action_save"]');

    const checkNewInputs = () => {
      const newName = document.getElementById('slmapping_contains_string_new').value.trim();
      const newUrl = document.getElementById('slmapping_replace_string_new').value.trim();
      addButton.disabled = !newName || !newUrl;
    };

    const checkExistingInputs = () => {
      let allValid = true;
      let hasExistingRecords = false;
      document.querySelectorAll('input[id^="slmapping_contains_string_"]').forEach(input => {
        if (input.id.includes('_new')) return;
        hasExistingRecords = true;
        if (!input.value.trim()) allValid = false;
      });
      document.querySelectorAll('input[id^="slmapping_replace_string_"]').forEach(input => {
        if (input.id.includes('_new')) return;
        hasExistingRecords = true;
        if (!input.value.trim()) allValid = false;
      });
      saveButton.disabled = !allValid || !hasExistingRecords;
    };

    document.getElementById('slmapping_contains_string_new').addEventListener('input', checkNewInputs);
    document.getElementById('slmapping_replace_string_new').addEventListener('input', checkNewInputs);

    document.querySelectorAll('input[id^="slmapping_contains_string_"], input[id^="slmapping_replace_string_"]').forEach(input => {
      if (!input.id.includes('_new')) {
        input.addEventListener('input', checkExistingInputs);
      }
    });

    checkNewInputs();
    checkExistingInputs(); // Ensure initial state is checked
  });
</script>
<!-- Provide Group Buttons -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const addButtonProviderGroup = document.querySelector('button[name="action"][value="provider_group_new"]');
    const saveButtonProviderGroup = document.querySelector('button[name="action"][value="provider_group_save"]');

    const checkNewInputsProviderGroup = () => {
      const newNameProviderGroup = document.getElementById('provider_group_name_new').value.trim();
      addButtonProviderGroup.disabled = !newNameProviderGroup;
    };

    const checkExistingInputsProviderGroup = () => {
      let allValidProviderGroup = true;
      let hasExistingRecordsProviderGroup = false;
      document.querySelectorAll('input[id^="provider_group_name_"]').forEach(input => {
        if (input.id.includes('_new')) return;
        hasExistingRecordsProviderGroup = true;
        if (!input.value.trim()) allValidProviderGroup = false;
      });
      saveButtonProviderGroup.disabled = !allValidProviderGroup || !hasExistingRecordsProviderGroup;
    };

    document.getElementById('provider_group_name_new').addEventListener('input', checkNewInputsProviderGroup);

    document.querySelectorAll('input[id^="provider_group_name_"]').forEach(input => {
      if (!input.id.includes('_new')) {
        input.addEventListener('input', checkExistingInputsProviderGroup);
      }
    });

    checkNewInputsProviderGroup();
    checkExistingInputsProviderGroup(); // Ensure initial state is checked
  });
</script>
<!-- Label Buttons -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const addButtonSLMLabel = document.querySelector('button[name="action"][value="slm_label_new"]');
    const saveButtonSLMLabel = document.querySelector('button[name="action"][value="slm_label_save"]');

    const checkNewInputsSLMLabel = () => {
      const newNameSLMLabel = document.getElementById('slm_label_name_new').value.trim();
      addButtonSLMLabel.disabled = !newNameSLMLabel;
    };

    const checkExistingInputsSLMLabel = () => {
      let allValidSLMLabel = true;
      let hasExistingRecordsSLMLabel = false;
      document.querySelectorAll('input[id^="slm_label_name_"]').forEach(input => {
        if (input.id.includes('_new')) return;
        hasExistingRecordsSLMLabel = true;
        if (!input.value.trim()) allValidSLMLabel = false;
      });
      saveButtonSLMLabel.disabled = !allValidSLMLabel || !hasExistingRecordsSLMLabel;
    };

    document.getElementById('slm_label_name_new').addEventListener('input', checkNewInputsSLMLabel);

    document.querySelectorAll('input[id^="slm_label_name_"]').forEach(input => {
      if (!input.id.includes('_new')) {
        input.addEventListener('input', checkExistingInputsSLMLabel);
      }
    });

    checkNewInputsSLMLabel();
    checkExistingInputsSLMLabel(); // Ensure initial state is checked
  });
</script>
{% endblock javascripts %}
