{% extends "layouts/base.html" %}

{% block title %} On-Demand - Manage Videos {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style> 
  .parents .grid-container {
      display: grid;
      grid-template-columns: 0.5fr 1.5fr 1.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 10px;
  }

  .grid-item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 0;
  }

  .form-check {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 2em;
  }

  .form-check-input {
      flex-shrink: 0;
  }

  input[type="text"] {
      width: 100%;
      box-sizing: border-box;
  }

  .btn {
      width: 100%;
      box-sizing: border-box;
  }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row min-vh-80 h-100">
    <div class="col-12">
      <form method="POST" action="/manage_videos" id="process-form">
        <!-- Manage Videos -->
        <h4>Manage Videos
          <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Manage-Videos" target="_blank">
            <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
          </a>
        </h4>
        {% if html_manage_videos_message %}
          <hr>
          <div id="html_manage_videos_message">
            <b>{{ html_manage_videos_message }}</b>
          </div>
          <hr>
        {% endif %}
        <!-- Spacer row -->
        <div class="row">
          <div class="col-12 my-2"></div>
        </div>
        <div class="parents container-fluid" style="width: 98%;">
          <div class="grid-container dynamic-bg" style="text-align: center; margin-right: 17px; position: sticky; top: 0; z-index: 10;">
            <div class="grid-item"><h6>Watched / Unwatched</h6></div>
            <div class="grid-item"><h6>Video Group</h6></div>
            <div class="grid-item"><h6>Video Name</h6></div>
            <div class="grid-item"><h6>Link</h6></div>
            <div class="grid-item"><h6>Special Action
              <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Special-Actions" target="_blank">
                <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
              </a>
            </h6></div>
            {% if html_slm_channels_dvr_integration %}
              <div class="grid-item"><h6>Channels DVR Video Title Override
                <a href="https://github.com/babsonnexus/stream-link-manager-for-channels/wiki/Usage-%E2%80%90-SLM-%E2%80%90-Bookmarked-Programs-%E2%80%90-Advanced-Selections-and-Overrides" target="_blank">
                  <i class="material-icons opacity-10" style="position: relative; top: 3px;">help_outline</i>
                </a>                    
              </h6></div>
              <div class="grid-item"><h6>Channels DVR Summary Override</h6></div>
              <div class="grid-item"><h6>Channels DVR Image Override</h6></div>
              <div class="grid-item"><h6>Channels DVR Duration Override</h6></div>
            {% endif %}
            <div class="grid-item"><h6>Select Action</h6></div>
          </div>
          <div class="grid-container" style="margin-right: 17px;">
            <div class="grid-item">
              <div class="form-check form-switch ps-0 is-filled">
                <input type="checkbox" id="field_status_new" name="field_status_new" class="form-check-input" checked>
              </div>
            </div>
            <div class="grid-item">
              <select class="select2" name="field_entry_id_new" id="field_entry_id_new" style="width: 100%; max-width: 100%;">
                {% for html_video_group in html_video_groups %}
                  <option value="{{ html_video_group.entry_id }}" {% if loop.first %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_video_group.title_release_year }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="grid-item">
              <input type="text" id="field_season_episode_new" name="field_season_episode_new" placeholder="i.e., Unique Video Name 2">
            </div>
            <div class="grid-item">
              <input type="text" id="field_stream_link_override_new" name="field_stream_link_override_new" placeholder="i.e., https://www.youtube.com/watch?v=6_pZkAb6Pfs">
            </div>
            <div class="grid-item">
              <select name="field_special_action_new" id="field_special_action_new" style="width: 100%; max-width: 100%;">
                {% for html_special_action in html_special_actions %}
                  <option {% if html_special_action == "Make SLM Stream" %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_special_action }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="grid-item">
              <input type="text" id="field_override_episode_title_new" name="field_override_episode_title_new" placeholder="i.e., This Episode Name">
            </div>
            <div class="grid-item">
              <input type="text" id="field_override_summary_new" name="field_override_summary_new" placeholder="i.e., Here is a description of what happens here.">
            </div>
            <div class="grid-item">
              <input type="text" id="field_override_image_new" name="field_override_image_new" placeholder="i.e., http://linktosomething.com/image.jpg">
            </div>
            <div class="grid-item">
              <input type="text" id="field_override_duration_new" name="field_override_duration_new" placeholder="i.e., 3600">
            </div>
            <div class="grid-item">
              <button type="submit" name="action" value="manage_videos_action_new" class="btn bg-gradient-primary my-2 mb-2" disabled>Add</button>
            </div>
          </div>
          <div class="grid-container" style="margin-right: 17px;">
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-video-entry-id" placeholder="Filter" name="filter-video-entry-id" value="{{ html_filter_video_entry_id }}">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-video-season-episode" placeholder="Filter" name="filter-video-season-episode" value="{{ html_filter_video_season_episode }}">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-video-stream-link-override" placeholder="Filter" name="filter-video-stream-link-override" value="{{ html_filter_video_stream_link_override }}">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-video-special-action" placeholder="Filter" name="filter-video-special-action" value="{{ html_filter_video_special_action }}">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-video-override-episode-title" placeholder="Filter" name="filter-video-override-episode-title" value="{{ html_filter_video_override_episode_title }}">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-video-override-summary" placeholder="Filter" name="filter-video-override-summary" value="{{ html_filter_video_override_summary }}">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-video-override-image" placeholder="Filter" name="filter-video-override-image" value="{{ html_filter_video_override_image }}">
            </div>
            <div class="grid-item">
              <input type="text" id="filter-video-override-duration" placeholder="Filter" name="filter-video-override-duration" value="{{ html_filter_video_override_duration }}">
            </div>
            <div class="grid-item">
              <hr style="border: 3px solid; width: 100%;">
            </div>
          </div>
          <div id="record-container" style="height: 100vh; overflow-y: scroll; contain: strict; overscroll-behavior: contain;"><!-- Records handled by 'Infinite Scroll' --></div>
          <div id="loading-spinner" style="display: none; text-align: center;">Loading...</div>
          <div id="floating-buttons" style="position: sticky; bottom: 0; padding: 10px;">
            <button type="submit" name="action" value="manage_videos_action_save" class="btn bg-gradient-primary w-25 my-2 mb-2" disabled>Execute Visible</button>
            <button type="submit" name="action" value="manage_videos_action_cancel" class="btn bg-gradient-primary w-25 my-2 mb-2">Cancel / Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loadingModalLabel">Processing</h5>
        </div>
        <div class="modal-body">
          Please wait while the process completes...
        </div>
      </div>
    </div>
  </div>

    <!-- {% include 'includes/footer.html' %} -->

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Processing Box -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('process-form').addEventListener('submit', function(event) {
      console.log("Form submitted"); // Debugging

      // Wait for a short delay to ensure the form submission is not blocked
      setTimeout(() => {
        // Ensure the modal element exists
        const modalElement = document.getElementById('loadingModal');
        if (!modalElement) {
          console.error('Modal element not found!');
          return;
        }

        // Show the modal
        const loadingModal = new bootstrap.Modal(modalElement, {
          backdrop: 'static',
          keyboard: false
        });
        console.log("Showing modal"); // Debugging
        loadingModal.show();

        // Disable all navigation links
        document.querySelectorAll('a').forEach(element => {
          element.setAttribute('disabled', 'true');
          element.addEventListener('click', function(event) {
            event.preventDefault();
          });
        });
      }, 500); // Adjust the delay as needed
    });
  });
</script>
<!-- Infinite Scroll -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const recordContainer = document.getElementById('record-container');
      const loadingSpinner = document.getElementById('loading-spinner');
      const allRecords = {{ html_video_bookmark_statuses|tojson }};
      const videoGroups = {{ html_video_groups|tojson }};
      const specialActions = {{ html_special_actions|tojson }};
      const selectActions = {{ html_select_actions|tojson }};
      const limit = 100;
      let offset = 0;
      let filteredRecords = allRecords;  // Store filtered records

      // Filter input elements
      const filterVideoEntryID = document.getElementById('filter-video-entry-id');
      const filterVideoSeasonEpisode = document.getElementById('filter-video-season-episode');
      const filterVideoStreamLinkOverride = document.getElementById('filter-video-stream-link-override');
      const filterVideoSpecialAction = document.getElementById('filter-video-special-action');
      const filterVideoOverrideEpisodeTitle = document.getElementById('filter-video-override-episode-title');
      const filterVideoOverrideSummary = document.getElementById('filter-video-override-summary');
      const filterVideoOverrideImage = document.getElementById('filter-video-override-image');
      const filterVideoOverrideDuration = document.getElementById('filter-video-override-duration');

      const addButton = document.querySelector('button[name="action"][value="manage_videos_action_new"]');
      const saveButton = document.querySelector('button[name="action"][value="manage_videos_action_save"]');

      const checkNewInputs = () => {
          const newVideoSeasonEpisode = document.getElementById('field_season_episode_new').value.trim();
          const newVideoStreamLinkOverride = document.getElementById('field_stream_link_override_new').value.trim();
          addButton.disabled = !newVideoSeasonEpisode || !newVideoStreamLinkOverride;
      };
 
      const checkExistingInputs = () => {
          let allValid = true;
          let hasExistingRecords = false;
          document.querySelectorAll('input[id^="field_season_episode_"]').forEach(input => {
              if (input.id.includes('_new')) return;
              hasExistingRecords = true;
              if (!input.value.trim()) allValid = false;
          });
          document.querySelectorAll('input[id^="field_stream_link_override_"]').forEach(input => {
              if (input.id.includes('_new')) return;
              hasExistingRecords = true;
              if (!input.value.trim()) allValid = false;
          });
          saveButton.disabled = !allValid || !hasExistingRecords;
      };

      function applyFilters(records) {
        return records.filter(item => {
            const VideoEntryID = videoGroups.find(videogroup => videogroup.entry_id === item.entry_id);
            const VideoEntryIDName = VideoEntryID ? VideoEntryID.title_release_year.toLowerCase() : '';

            return (
                VideoEntryIDName.includes(filterVideoEntryID.value.toLowerCase()) &&
                item.season_episode.toLowerCase().includes(filterVideoSeasonEpisode.value.toLowerCase()) &&
                item.stream_link_override.toLowerCase().includes(filterVideoStreamLinkOverride.value.toLowerCase()) &&
                item.special_action.toLowerCase().includes(filterVideoSpecialAction.value.toLowerCase()) &&
                item.override_episode_title.toLowerCase().includes(filterVideoOverrideEpisodeTitle.value.toLowerCase()) &&
                item.override_summary.toLowerCase().includes(filterVideoOverrideSummary.value.toLowerCase()) &&
                item.override_image.toLowerCase().includes(filterVideoOverrideImage.value.toLowerCase()) &&
                item.override_duration.toLowerCase().includes(filterVideoOverrideDuration.value.toLowerCase())
            );
        });
      }

      function renderRecords(records, startIndex) {
          records.forEach((item, index) => {
              const adjustedIndex = startIndex + index + 1;
  
              const gridContainer = document.createElement('div');
              gridContainer.className = 'grid-container';

              const videoStatusItem = document.createElement('div');
              videoStatusItem.className = 'grid-item';
              const formCheckDiv = document.createElement('div');
              formCheckDiv.className = 'form-check form-switch ps-0 is-filled';
              const videoStatusInput = document.createElement('input');
              videoStatusInput.type = 'checkbox';
              videoStatusInput.id = `field_status_${adjustedIndex}`;
              videoStatusInput.name = `field_status_${adjustedIndex}`;
              videoStatusInput.className = 'form-check-input';
              videoStatusInput.checked = item.status.toLowerCase() === 'unwatched';
              formCheckDiv.appendChild(videoStatusInput);
              videoStatusItem.appendChild(formCheckDiv);

              const videoEntryIdItem = document.createElement('div');
              videoEntryIdItem.className = 'grid-item';
              const videoEntryIdSelect = document.createElement('select');
              videoEntryIdSelect.className = 'select2';
              videoEntryIdSelect.name = `field_entry_id_${adjustedIndex}`;
              videoEntryIdSelect.id = `field_entry_id_${adjustedIndex}`;
              videoEntryIdSelect.style.width = '100%';
              videoEntryIdSelect.style.maxWidth = '100%';
              videoGroups.forEach(videogroup => {
                  const option = document.createElement('option');
                  option.value = videogroup.entry_id;
                  option.text = videogroup.title_release_year;
                  if (videogroup.entry_id === item.entry_id) {
                      option.selected = true;
                  }
                  videoEntryIdSelect.appendChild(option);
              });
              videoEntryIdItem.appendChild(videoEntryIdSelect);

              const videoSeasonEpisodeItem = document.createElement('div');
              videoSeasonEpisodeItem.className = 'grid-item';
              const videoSeasonEpisodeInput = document.createElement('input');
              videoSeasonEpisodeInput.type = 'text';
              videoSeasonEpisodeInput.id = `field_season_episode_${adjustedIndex}`;
              videoSeasonEpisodeInput.name = `field_season_episode_${adjustedIndex}`;
              videoSeasonEpisodeInput.value = item.season_episode;
              videoSeasonEpisodeInput.title = item.season_episode;
              videoSeasonEpisodeItem.appendChild(videoSeasonEpisodeInput);
  
              const videoStreamLinkOverrideItem = document.createElement('div');
              videoStreamLinkOverrideItem.className = 'grid-item';
              const videoStreamLinkOverrideInput = document.createElement('input');
              videoStreamLinkOverrideInput.type = 'text';
              videoStreamLinkOverrideInput.id = `field_stream_link_override_${adjustedIndex}`;
              videoStreamLinkOverrideInput.name = `field_stream_link_override_${adjustedIndex}`;
              videoStreamLinkOverrideInput.value = item.stream_link_override;
              videoStreamLinkOverrideInput.title = item.stream_link_override;
              videoStreamLinkOverrideItem.appendChild(videoStreamLinkOverrideInput);

              const videoSpecialActionItem = document.createElement('div');
              videoSpecialActionItem.className = 'grid-item';
              const videoSpecialActionSelect = document.createElement('select');
              videoSpecialActionSelect.className = 'select2';
              videoSpecialActionSelect.name = `field_special_action_${adjustedIndex}`;
              videoSpecialActionSelect.id = `field_special_action_${adjustedIndex}`;
              videoSpecialActionSelect.style.width = '100%';
              videoSpecialActionSelect.style.maxWidth = '100%';
              specialActions.forEach(specialaction => {
                  const option = document.createElement('option');
                  option.value = specialaction;
                  option.text = specialaction;
                  if (specialaction === item.special_action) {
                      option.selected = true;
                  }
                  videoSpecialActionSelect.appendChild(option);
              });
              videoSpecialActionItem.appendChild(videoSpecialActionSelect);

              const videoOverrideEpisodeTitleItem = document.createElement('div');
              videoOverrideEpisodeTitleItem.className = 'grid-item';
              const videoOverrideEpisodeTitleInput = document.createElement('input');
              videoOverrideEpisodeTitleInput.type = 'text';
              videoOverrideEpisodeTitleInput.id = `field_override_episode_title_${adjustedIndex}`;
              videoOverrideEpisodeTitleInput.name = `field_override_episode_title_${adjustedIndex}`;
              videoOverrideEpisodeTitleInput.value = item.override_episode_title;
              videoOverrideEpisodeTitleInput.title = item.override_episode_title;
              videoOverrideEpisodeTitleItem.appendChild(videoOverrideEpisodeTitleInput);
  
              const videoOverrideSummaryItem = document.createElement('div');
              videoOverrideSummaryItem.className = 'grid-item';
              const videoOverrideSummaryInput = document.createElement('input');
              videoOverrideSummaryInput.type = 'text';
              videoOverrideSummaryInput.id = `field_override_summary_${adjustedIndex}`;
              videoOverrideSummaryInput.name = `field_override_summary_${adjustedIndex}`;
              videoOverrideSummaryInput.value = item.override_summary;
              videoOverrideSummaryInput.title = item.override_summary;
              videoOverrideSummaryItem.appendChild(videoOverrideSummaryInput);
  
              const videoOverrideImageItem = document.createElement('div');
              videoOverrideImageItem.className = 'grid-item';
              const videoOverrideImageInput = document.createElement('input');
              videoOverrideImageInput.type = 'text';
              videoOverrideImageInput.id = `field_override_image_${adjustedIndex}`;
              videoOverrideImageInput.name = `field_override_image_${adjustedIndex}`;
              videoOverrideImageInput.value = item.override_image;
              videoOverrideImageInput.title = item.override_image;
              videoOverrideImageItem.appendChild(videoOverrideImageInput);
  
              const videoOverrideDurationItem = document.createElement('div');
              videoOverrideDurationItem.className = 'grid-item';
              const videoOverrideDurationInput = document.createElement('input');
              videoOverrideDurationInput.type = 'text';
              videoOverrideDurationInput.id = `field_override_duration_${adjustedIndex}`;
              videoOverrideDurationInput.name = `field_override_duration_${adjustedIndex}`;
              videoOverrideDurationInput.value = item.override_duration;
              videoOverrideDurationInput.title = item.override_duration;
              videoOverrideDurationItem.appendChild(videoOverrideDurationInput);

              const videoSelectActionItem = document.createElement('div');
              videoSelectActionItem.className = 'grid-item';
              const videoSelectActionSelect = document.createElement('select');
              videoSelectActionSelect.className = 'select2';
              videoSelectActionSelect.name = `field_select_action_${adjustedIndex}`;
              videoSelectActionSelect.id = `field_select_action_${adjustedIndex}`;
              videoSelectActionSelect.style.width = '100%';
              videoSelectActionSelect.style.maxWidth = '100%';
              selectActions.forEach(selectaction => {
                  const option = document.createElement('option');
                  option.value = selectaction.select_action_id;
                  option.text = selectaction.select_action_name;
                  videoSelectActionSelect.appendChild(option);
              });
              videoSelectActionItem.appendChild(videoSelectActionSelect);

              const hiddenEntryIdInput = document.createElement('input');
              hiddenEntryIdInput.type = 'hidden';
              hiddenEntryIdInput.name = `prior_entry_id_${adjustedIndex}`;
              hiddenEntryIdInput.id = `prior_entry_id_${adjustedIndex}`;
              hiddenEntryIdInput.value = item.entry_id;

              const hiddenSeasonEpisodeInput = document.createElement('input');
              hiddenSeasonEpisodeInput.type = 'hidden';
              hiddenSeasonEpisodeInput.name = `prior_season_episode_${adjustedIndex}`;
              hiddenSeasonEpisodeInput.id = `prior_season_episode_${adjustedIndex}`;
              hiddenSeasonEpisodeInput.value = item.season_episode;

              gridContainer.appendChild(videoStatusItem);
              gridContainer.appendChild(videoEntryIdItem);
              gridContainer.appendChild(videoSeasonEpisodeItem);
              gridContainer.appendChild(videoStreamLinkOverrideItem);
              gridContainer.appendChild(videoSpecialActionItem);
              gridContainer.appendChild(videoOverrideEpisodeTitleItem);
              gridContainer.appendChild(videoOverrideSummaryItem);
              gridContainer.appendChild(videoOverrideImageItem);
              gridContainer.appendChild(videoOverrideDurationItem);
              gridContainer.appendChild(videoSelectActionItem);
              gridContainer.appendChild(hiddenEntryIdInput);
              gridContainer.appendChild(hiddenSeasonEpisodeInput);
  
              recordContainer.appendChild(gridContainer);
  
              videoSeasonEpisodeInput.addEventListener('input', checkExistingInputs);
              videoSeasonEpisodeInput.addEventListener('change', checkExistingInputs);
              videoStreamLinkOverrideInput.addEventListener('input', checkExistingInputs);
              videoStreamLinkOverrideInput.addEventListener('change', checkExistingInputs);
          });

          // Reinitialize select2 for new select elements
          initializeSelect2();

      }
  
      function loadMoreRecords() {
        loadingSpinner.style.display = 'block';
        const nextBatch = filteredRecords.slice(offset, offset + limit);

        renderRecords(nextBatch, offset);
        offset += limit;
        loadingSpinner.style.display = 'none';

        if (offset >= filteredRecords.length) {
            recordContainer.removeEventListener('scroll', onScroll);
        }
      
        checkExistingInputs(); // Re-check validity whenever new records are loaded
      
      }

      function onScroll() {
        if (recordContainer.scrollTop + recordContainer.clientHeight >= recordContainer.scrollHeight) {
            if (offset < filteredRecords.length) {
                loadMoreRecords();
            }
        }
      }

      function resetAndLoadRecords() {
        offset = 0;
        recordContainer.innerHTML = '';  // Clear existing records
        filteredRecords = applyFilters(allRecords);  // Re-apply filters to all records
        loadMoreRecords();  // Load filtered records
        if (filteredRecords.length > limit) {
            recordContainer.addEventListener('scroll', onScroll);  // Re-attach scroll event listener
        }
      }

      document.getElementById('field_season_episode_new').addEventListener('input', checkNewInputs);
      document.getElementById('field_stream_link_override_new').addEventListener('input', checkNewInputs);

      // Add event listeners for filter inputs
      filterVideoSeasonEpisode.addEventListener('input', resetAndLoadRecords);
      filterVideoEntryID.addEventListener('input', resetAndLoadRecords);
      filterVideoStreamLinkOverride.addEventListener('input', resetAndLoadRecords);
      filterVideoSpecialAction.addEventListener('input', resetAndLoadRecords);
      filterVideoOverrideEpisodeTitle.addEventListener('input', resetAndLoadRecords);
      filterVideoOverrideSummary.addEventListener('input', resetAndLoadRecords);
      filterVideoOverrideImage.addEventListener('input', resetAndLoadRecords);
      filterVideoOverrideDuration.addEventListener('input', resetAndLoadRecords);

      recordContainer.addEventListener('scroll', onScroll);
  
      // Initial load
      resetAndLoadRecords();
      checkNewInputs();
      checkExistingInputs(); // Ensure initial state is checked
  });
</script>
<!-- Background Color of Header Labels -->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const darkModeToggle = document.getElementById('dark-version');

    // Function to update the background color of the specific grid-container
    function updateGridContainerBackground() {
      const bodyStyle = getComputedStyle(document.body);
      const bodyBgColor = bodyStyle.backgroundColor;

      // Apply the background color to the specific grid-container
      document.querySelectorAll('.dynamic-bg').forEach(container => {
        container.style.backgroundColor = bodyBgColor;
      });
    }

    // Initial update of the grid-container background color
    updateGridContainerBackground();

    // Listen for changes to the dark mode toggle
    if (darkModeToggle) {
      darkModeToggle.addEventListener('change', function () {
        updateGridContainerBackground();
      });
    }
  });
</script>
{% endblock javascripts %}
