{% extends "layouts/base.html" %}

{% block title %} Automation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .common-div {
      overflow-x: auto;
      border: 1px solid #ccc;
      padding: 10px;
      height: 73vh;
      overflow-y: scroll;
  }
  .left-div {
      width: 31%;
  }
  .right-div {
      width: 66%;
      margin-left: 1%;
  }
</style>
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row min-vh-80 h-100">
      <div class="col-12">
        <form method="POST" action="/tools_automation" id="process-form">
          <div class="row">
            <!-- Scheduler -->
            <div class="common-div left-div">
              <h4>Scheduler</h4>
              <hr>
              <h5>Streaming Library Manager</h5>
              <div id="anchor_gen_backup_process" class="settings-box" style="width: 99%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
                <div class="form-check form-switch ps-0 is-filled">
                  <input type="checkbox" class="form-check-input ms-auto" id="gen_backup_schedule" name="gen_backup_schedule" {% if html_gen_backup_schedule == "On" %}checked{% endif %}>
                  <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="gen_backup_schedule"><b>Backup Process</b></label>
                </div>
                <div>
                  <p><em>Copies the critical 'Program Files' and logs to a separate directory that is noted with a date and time. Some temporary files and non-crucial files and directories are excluded.</em></p>
                </div>
                <div>
                  <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="gen_backup_schedule_time">Start at:</label>
                  <input type="time" id="gen_backup_schedule_time" name="gen_backup_schedule_time" value="{{ html_gen_backup_schedule_time }}" class="ms-3">
                </div>
                <div style="margin-top: 10px;">
                  <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="gen_backup_schedule_frequency">And run:</label>
                  <div style="margin-left: 15px;">
                    <select class="select2" name="gen_backup_schedule_frequency" id="gen_backup_schedule_frequency">
                      {% for html_gen_backup_frequency in html_gen_backup_frequencies %}
                        <option value="{{ html_gen_backup_frequency }}" {% if html_gen_backup_frequency == html_gen_backup_schedule_frequency %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_gen_backup_frequency }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div>
                  <label for="gen_backup_max_backups" style="margin-left: 15px; margin-top: 8px; margin-right: 5px;">Max Backups:</label>
                  <input type="text" id="gen_backup_max_backups" name="gen_backup_max_backups" value="{{ html_gen_backup_max_backups }}" style="display: block; margin-left: 15px; width: 25%;">
                </div>
                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                  <button type="submit" name="action" value="gen_backup_process_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
                  <button type="submit" name="action" value="gen_backup_process_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Cancel</button>
                </div>
                <div style="display: flex; justify-content: space-between; margin-top: -25px;">
                  <button type="submit" name="action" value="gen_backup_process_run" class="btn bg-gradient-primary my-4 mb-2" style="flex: 1; margin-right: 5px;">Run</button>
                </div>
              </div>
              <div id="anchor_gen_upgrade_process" class="settings-box" style="width: 99%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
                <div class="form-check form-switch ps-0 is-filled">
                  <input type="checkbox" class="form-check-input ms-auto" id="gen_upgrade_schedule" name="gen_upgrade_schedule" {% if html_gen_upgrade_schedule == "On" %}checked{% endif %}>
                  <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="gen_upgrade_schedule"><b>Upgrade Process</b></label>
                </div>
                <div>
                  <p><em>Checks to see if a new version of Streaming Library Manager is available. Note that due to timing, a version may say it is available slightly before it is true.</em></p>
                </div>
                <div>
                  <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="gen_upgrade_schedule_time">Start at:</label>
                  <input type="time" id="gen_upgrade_schedule_time" name="gen_upgrade_schedule_time" value="{{ html_gen_upgrade_schedule_time }}" class="ms-3">
                </div>
                <div style="margin-top: 10px;">
                  <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="gen_upgrade_schedule_frequency">And run:</label>
                  <div style="margin-left: 15px;">
                    <select class="select2" name="gen_upgrade_schedule_frequency" id="gen_upgrade_schedule_frequency">
                      {% for html_gen_upgrade_frequency in html_gen_upgrade_frequencies %}
                        <option value="{{ html_gen_upgrade_frequency }}" {% if html_gen_upgrade_frequency == html_gen_upgrade_schedule_frequency %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_gen_upgrade_frequency }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                  <button type="submit" name="action" value="gen_upgrade_process_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
                  <button type="submit" name="action" value="gen_upgrade_process_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Cancel</button>
                </div>
                <div style="display: flex; justify-content: space-between; margin-top: -25px;">
                  <button type="submit" name="action" value="gen_upgrade_process_run" class="btn bg-gradient-primary my-4 mb-2" style="flex: 1; margin-right: 5px;">Run</button>
                </div>
              </div>
              {% if html_slm_stream_link_file_manager %}
                <hr>
                <h5>Stream Link Manager</h5>
                <div id="anchor_end_to_end_process" class="settings-box" style="width: 99%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
                  <div class="form-check form-switch ps-0 is-filled">
                    <input type="checkbox" class="form-check-input ms-auto" id="auto_update_schedule" name="auto_update_schedule" {% if html_auto_update_schedule == "On" %}checked{% endif %}>
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="auto_update_schedule"><b>Stream Links/Files: End-to-End Process</b></label>
                  </div>
                  <div>
                    <p><em>Performs everything necessary to have Stream Links/Files available for consumption. This starts with checking for new and removed providers, searching for new episodes, and assigning valid Stream Link/File values. If using the 'Channels DVR Integration', it also imports updates from Channels DVR and initiates a process to make new programs appear, have deleted ones be removed, and update specific files to use revised links.</em></p>
                  </div>
                  <div>
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="auto_update_schedule_time">Start at:</label>
                    <input type="time" id="auto_update_schedule_time" name="auto_update_schedule_time" value="{{ html_auto_update_schedule_time }}" class="ms-3">
                  </div>
                  <div style="margin-top: 10px;">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="auto_update_schedule_frequency">And run:</label>
                    <div style="margin-left: 15px;">
                      <select class="select2" name="auto_update_schedule_frequency" id="auto_update_schedule_frequency">
                        {% for html_slm_end_to_end_frequency in html_slm_end_to_end_frequencies %}
                          <option value="{{ html_slm_end_to_end_frequency }}" {% if html_slm_end_to_end_frequency == html_auto_update_schedule_frequency %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_slm_end_to_end_frequency }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <button type="submit" name="action" value="end_to_end_process_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
                    <button type="submit" name="action" value="end_to_end_process_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Cancel</button>
                  </div>
                  <div style="display: flex; justify-content: space-between; margin-top: -25px;">
                    <button type="submit" name="action" value="end_to_end_process_run" class="btn bg-gradient-primary my-4 mb-2" style="flex: 1; margin-right: 5px;">Run</button>
                  </div>
                </div>
                <div id="anchor_end_to_end_subprocesses" class="settings-box" style="width: 99%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
                  <div class="form-check form-switch ps-0 is-filled">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0"><b>Stream Links/Files: End-to-End Sub-Processes</b></label>
                  </div>
                  <div>
                    <p><em>The individual steps of the 'Stream Links/Files: End-to-End Process' that can be run discretely.</em></p>
                  </div>
                  <div style="display: flex; justify-content: space-between; margin-top: -10px;">
                    <button type="submit" name="action" value="update_streaming_services_run" class="btn bg-gradient-primary my-4 mb-2" style="flex: 1; margin-right: 5px;">Update Streaming Services</button>
                  </div>
                  <div style="display: flex; justify-content: space-between; margin-top: -25px;">
                    <button type="submit" name="action" value="get_new_episodes_run" class="btn bg-gradient-primary my-4 mb-2" style="flex: 1; margin-right: 5px;">Get New Episodes</button>
                  </div>
                  {% if html_slm_channels_dvr_integration %}
                    <div style="display: flex; justify-content: space-between; margin-top: -25px;">
                      <button type="submit" name="action" value="import_program_updates_run" class="btn bg-gradient-primary my-4 mb-2" style="flex: 1; margin-right: 5px;">Import Updates from Channels</button>
                    </div>
                  {% endif %}
                  <div style="display: flex; justify-content: space-between; margin-top: -25px;">
                    <button type="submit" name="action" value="generate_stream_links_run" class="btn bg-gradient-primary my-4 mb-2" style="flex: 1; margin-right: 5px;">Generate Stream Links/Files</button>
                  </div>
                  {% if html_slm_channels_dvr_integration %}
                    <div style="display: flex; justify-content: space-between; margin-top: -25px;">
                      <button type="submit" name="action" value="prune_scan_channels_run" class="btn bg-gradient-primary my-4 mb-2" style="flex: 1; margin-right: 5px;">Run Updates in Channels</button>
                    </div>
                  {% endif %}
                </div>
                <div id="anchor_slm_new_recent_releases" class="settings-box" style="width: 99%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; margin-bottom: 5px;">
                  <div class="form-check form-switch ps-0 is-filled">
                    <input type="checkbox" class="form-check-input ms-auto" id="slm_new_recent_releases" name="slm_new_recent_releases" title="WARNING: The first occasion this process is run, it may take a significant amount of time. However, it should be much faster every subsequent instance after that. As such, it is recommended to run manually a couple of times before setting a schedule to understand what that total length of time may be in your setup." {% if html_slm_new_recent_releases == "On" %}checked{% endif %}>
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="slm_new_recent_releases"><b>Stream Links: New & Recent Releases</b></label>
                  </div>
                  <div>
                    <p><em>After checking for new episodes, will search for Stream Link values for every episode and movie that has an 'original release date' within the timeframe of when it is run back through the entered 'Recent Hours'. For example, if 'Recent Hours' is '72', it will try to find Stream Links for anything with an 'original release date' in the last 72 hours (3 days). Afterwards, if using Channels DVR, it will refresh the media in there.</em></p>
                  </div>
                  <div>
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="slm_new_recent_releases_time">Start at:</label>
                    <input type="time" id="slm_new_recent_releases_time" name="slm_new_recent_releases_time" value="{{ html_slm_new_recent_releases_time }}" class="ms-3">
                  </div>
                  <div style="margin-top: 10px;">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="slm_new_recent_releases_frequency">And run:</label>
                    <div style="margin-left: 15px;">
                      <select class="select2" name="slm_new_recent_releases_frequency" id="slm_new_recent_releases_frequency">
                        {% for html_automation_frequency in html_automation_frequencies %}
                          <option value="{{ html_automation_frequency }}" {% if html_automation_frequency == html_slm_new_recent_releases_frequency %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_automation_frequency }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div>
                    <label for="slm_new_recent_releases_when" style="margin-left: 15px; margin-top: 8px; margin-right: 5px;">Recent Hours:</label>
                    <input type="text" id="slm_new_recent_releases_when" name="slm_new_recent_releases_when" value="{{ html_slm_new_recent_releases_when }}" style="display: block; margin-left: 15px; width: 25%;">
                  </div>
                  <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <button type="submit" name="action" value="slm_new_recent_releases_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
                    <button type="submit" name="action" value="slm_new_recent_releases_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Cancel</button>
                  </div>
                  <div style="display: flex; justify-content: space-between; margin-top: -25px;">
                    <button type="submit" name="action" value="slm_new_recent_releases_run" class="btn bg-gradient-primary my-4 mb-2" style="flex: 1; margin-right: 5px;">Run</button>
                  </div>
                </div>
              {% endif %}
              {% if html_slm_playlist_manager %}
                <hr>
                <h5>Playlist Manager</h5>
                <div id="anchor_plm_update_stations_process" class="settings-box" style="width: 99%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; vertical-align: top; margin-bottom: 5px;">
                  <div class="form-check form-switch ps-0 is-filled">
                    <input type="checkbox" class="form-check-input ms-auto" id="plm_update_stations_schedule" name="plm_update_stations_schedule" {% if html_plm_update_stations_schedule == "On" %}checked{% endif %}>
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="plm_update_stations_schedule"><b>Playlist Manager: Update Station List</b></label>
                  </div>
                  <div>
                    <p><em>Reads through each of the source m3u playlists and gathers all the stations for assignment.</em></p>
                  </div>
                  <div>
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="plm_update_stations_schedule_time">Run at:</label>
                    <input type="time" id="plm_update_stations_schedule_time" name="plm_update_stations_schedule_time" value="{{ html_plm_update_stations_schedule_time }}" class="ms-3">
                  </div>
                  <div style="margin-top: 10px;">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="plm_update_stations_schedule_frequency">And run:</label>
                    <div style="margin-left: 15px;">
                      <select class="select2" name="plm_update_stations_schedule_frequency" id="plm_update_stations_schedule_frequency">
                        {% for html_automation_frequency in html_automation_frequencies %}
                          <option value="{{ html_automation_frequency }}" {% if html_automation_frequency == html_plm_update_stations_schedule_frequency %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_automation_frequency }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <button type="submit" name="action" value="plm_update_stations_process_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
                    <button type="submit" name="action" value="plm_update_stations_process_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Cancel</button>
                  </div>
                  <div style="display: flex; justify-content: space-between; margin-top: -25px;">
                    <button type="submit" name="action" value="plm_update_stations_process_run" class="btn bg-gradient-primary my-4 mb-2" style="flex: 1; margin-right: 5px;">Run</button>
                  </div>
                </div>
                <div id="anchor_plm_update_m3us_epgs_process" class="settings-box" style="width: 99%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; vertical-align: top; margin-bottom: 5px;">
                  <div class="form-check form-switch ps-0 is-filled">
                    <input type="checkbox" class="form-check-input ms-auto" id="plm_update_m3us_epgs_schedule" name="plm_update_m3us_epgs_schedule" {% if html_plm_update_m3us_epgs_schedule == "On" %}checked{% endif %}>
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="plm_update_m3us_epgs_schedule"><b>Playlist Manager: Update m3u(s) & XML EPG(s)</b></label>
                  </div>
                  <div>
                    <p><em>Parses through all of the parent-child assignments and creates the playlists and guide links that are loaded into Channels DVR or other tools.</em></p>
                  </div>
                  <div>
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="plm_update_m3us_epgs_schedule_time">Start at:</label>
                    <input type="time" id="plm_update_m3us_epgs_schedule_time" name="plm_update_m3us_epgs_schedule_time" value="{{ html_plm_update_m3us_epgs_schedule_time }}" class="ms-3">
                  </div>
                  <div style="margin-top: 10px;">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="plm_update_m3us_epgs_schedule_frequency">And run:</label>
                    <div style="margin-left: 15px;">
                      <select class="select2" name="plm_update_m3us_epgs_schedule_frequency" id="plm_update_m3us_epgs_schedule_frequency">
                        {% for html_plm_m3us_epgs_schedule_frequency in html_plm_m3us_epgs_schedule_frequencies %}
                          <option value="{{ html_plm_m3us_epgs_schedule_frequency }}" {% if html_plm_m3us_epgs_schedule_frequency == html_plm_update_m3us_epgs_schedule_frequency %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_plm_m3us_epgs_schedule_frequency }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <button type="submit" name="action" value="plm_update_m3us_epgs_process_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
                    <button type="submit" name="action" value="plm_update_m3us_epgs_process_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Cancel</button>
                  </div>
                  <div style="display: flex; justify-content: space-between; margin-top: -25px;">
                    <button type="submit" name="action" value="plm_update_m3us_epgs_process_run" class="btn bg-gradient-primary my-4 mb-2" style="flex: 1; margin-right: 5px;">Run</button>
                  </div>
                </div>
              {% endif %}
              {% if html_slm_channels_dvr_integration %}
                <hr>  
                <h5>Channels DVR</h5>
                <div id="anchor_reset_channels_passes" class="settings-box" style="width: 99%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; vertical-align: top; margin-bottom: 5px;">
                  <div class="form-check form-switch ps-0 is-filled">
                    <input type="checkbox" class="form-check-input ms-auto" id="reset_channels_passes" name="reset_channels_passes" {% if html_reset_channels_passes == "On" %}checked{% endif %}>
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="reset_channels_passes"><b>Reset Channels DVR Passes</b></label>
                  </div>
                  <div>
                    <p><em>By priority order, pauses and resumes all active passes in Channels DVR to ensure that the highest priority ones are being used for scheduled recordings.</em></p>
                  </div>
                  <div>
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="reset_channels_passes_time">Start at:</label>
                    <input type="time" id="reset_channels_passes_time" name="reset_channels_passes_time" value="{{ html_reset_channels_passes_time }}" class="ms-3">
                  </div>
                  <div style="margin-top: 10px;">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="reset_channels_passes_frequency">And run:</label>
                    <div style="margin-left: 15px;">
                      <select class="select2" name="reset_channels_passes_frequency" id="reset_channels_passes_frequency">
                        {% for html_automation_frequency in html_automation_frequencies %}
                          <option value="{{ html_automation_frequency }}" {% if html_automation_frequency == html_reset_channels_passes_frequency %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_automation_frequency }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <button type="submit" name="action" value="reset_channels_passes_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
                    <button type="submit" name="action" value="reset_channels_passes_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Cancel</button>
                  </div>
                  <div style="display: flex; justify-content: space-between; margin-top: -25px;">
                    <button type="submit" name="action" value="reset_channels_passes_run" class="btn bg-gradient-primary my-4 mb-2" style="flex: 1; margin-right: 5px;">Run</button>
                  </div>
                </div>
                <div id="anchor_refresh_channels_m3u_playlists" class="settings-box" style="width: 99%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; vertical-align: top; margin-bottom: 5px;">
                  <div class="form-check form-switch ps-0 is-filled">
                    <input type="checkbox" class="form-check-input ms-auto" id="refresh_channels_m3u_playlists" name="refresh_channels_m3u_playlists" {% if html_refresh_channels_m3u_playlists == "On" %}checked{% endif %}>
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="refresh_channels_m3u_playlists"><b>Refresh Channels DVR m3u Playlists</b></label>
                  </div>
                  <div>
                    <p><em>Runs a set of functions in Channels DVR to update m3u Playlists, thus getting the most up to date list of stations from those sources. Note that this does not run on non-m3u sources like HDHR, TVE, etc...</em></p>
                  </div>
                  <div>
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="refresh_channels_m3u_playlists_time">Start at:</label>
                    <input type="time" id="refresh_channels_m3u_playlists_time" name="refresh_channels_m3u_playlists_time" value="{{ html_refresh_channels_m3u_playlists_time }}" class="ms-3">
                  </div>
                  <div style="margin-top: 10px;">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="refresh_channels_m3u_playlists_frequency">And run:</label>
                    <div style="margin-left: 15px;">
                      <select class="select2" name="refresh_channels_m3u_playlists_frequency" id="refresh_channels_m3u_playlists_frequency">
                        {% for html_automation_frequency in html_automation_frequencies %}
                          <option value="{{ html_automation_frequency }}" {% if html_automation_frequency == html_refresh_channels_m3u_playlists_frequency %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_automation_frequency }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <button type="submit" name="action" value="refresh_channels_m3u_playlists_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
                    <button type="submit" name="action" value="refresh_channels_m3u_playlists_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Cancel</button>
                  </div>
                  <div style="display: flex; justify-content: space-between; margin-top: -25px;">
                    <button type="submit" name="action" value="refresh_channels_m3u_playlists_run" class="btn bg-gradient-primary my-4 mb-2" style="flex: 1; margin-right: 5px;">Run</button>
                  </div>
                </div>
              {% endif %}
            </div>
            <!-- Live Process Log -->
            <div class="common-div right-div">
              <h4 for="log-output">Live Process Log (While Running)</h4>
              <hr>
              <div id="log-output" style="text-align: left; white-space: pre-wrap;"></div>
            </div>
          </div>
          <p><div id="html_automation_message"><b>NOTIFICATION: </b>{% if html_automation_message %}{{ html_automation_message }}{% else %}None{% endif %}</div></p>
          <p><em>WARNING: A buffer of at least 1 minute is required between automated processes, otherwise they may not run.</em></p>
        </form>
      </div>
    </div>
    <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loadingModalLabel">Processing</h5>
          </div>
          <div class="modal-body">
            Please wait while the process completes...
          </div>
        </div>
      </div>
    </div>
    
    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Process Box -->
<script>
  document.getElementById('process-form').addEventListener('submit', function(event) {
    const logOutput = document.getElementById("log-output");
    logOutput.innerHTML = ""; // Clear previous log content

    // Show the modal
    const loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'), {
      backdrop: 'static',
      keyboard: false
    });
    loadingModal.show();

    // Disable all navigation links
    document.querySelectorAll('a').forEach(element => {
      element.setAttribute('disabled', 'true');
      element.addEventListener('click', function(event) {
        event.preventDefault();
      });
    });

    setTimeout(() => {
      const eventSource = new EventSource("/stream_log");
      eventSource.onmessage = function(event) {
        logOutput.innerHTML = event.data + "<br>" + logOutput.innerHTML;
      };
      eventSource.onerror = function() {
        eventSource.close();
        // Re-enable all navigation links when the process is complete
        document.querySelectorAll('a').forEach(element => {
          element.removeAttribute('disabled');
        });
        loadingModal.hide();
      };
    }, 0); // Delay to ensure the process starts before streaming logs
  });
</script>
<!-- Anchor -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      const anchorId = "{{ html_anchor }}";
      if (anchorId) {
          window.location.hash = anchorId;
          setTimeout(() => {
              window.location = '#navbarBlur'; // Hard move to the navbarBlur element
          }, 100); // Adding a slight delay to ensure the hash has been applied
      }
  });
</script>
{% endblock javascripts %}
