{% extends "layouts/base.html" %}

{% block title %} Automation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row min-vh-80 h-100">
      <div class="col-12">
        <form method="POST" action="/tools_automation" id="process-form">
          <!-- Automation -->
          <p><em>WARNING: A buffer of at least 1 minute is required between automated processes, otherwise they may not run</em></p>
          <p><div id="html_automation_message">{{ html_automation_message }}</div></p>
          {% if html_slm_channels_dvr_integration %}
            <div class="settings-box" style="width: 30%; display: inline-block; border: 1px solid #ccc; padding: 10px; box-sizing: border-box; vertical-align: top; vertical-align: top; margin-bottom: 5px;">
              <div class="form-check form-switch ps-0 is-filled">
                <input type="checkbox" class="form-check-input ms-auto" id="reset_channels_passes" name="reset_channels_passes" {% if html_reset_channels_passes == "On" %}checked{% endif %}>
                <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="reset_channels_passes">Reset Channels DVR Passes</label>
              </div>
              <div>
                <p><em>By priority order, pauses and resumes all active passes in Channels DVR to ensure that the highest priority ones are being used for scheduled recordings.</em></p>
              </div>
              <div>
                <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="reset_channels_passes_time">Start at:</label>
                <input type="time" id="reset_channels_passes_time" name="reset_channels_passes_time" value="{{ html_reset_channels_passes_time }}" class="ms-3">
              </div>
              <div style="margin-top: 10px;">
                <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="reset_channels_passes_frequency">And run:</label>
                <select name="reset_channels_passes_frequency" id="reset_channels_passes_frequency" style="margin-left: 15px;">
                  {% for html_automation_frequency in html_automation_frequencies %}
                    <option value="{{ html_automation_frequency }}" {% if html_automation_frequency == html_reset_channels_passes_frequency %}selected{% endif %} style="width: auto; min-width: 100%;">{{ html_automation_frequency }}</option>
                  {% endfor %}
                </select>
              </div>
              <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                <button type="submit" name="action" value="reset_channels_passes_save" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Save</button>
                <button type="submit" name="action" value="reset_channels_passes_cancel" class="btn bg-gradient-primary my-2 mb-2" style="flex: 1; margin-right: 5px;">Cancel</button>
              </div>
              <div style="display: flex; justify-content: space-between; margin-top: -25px;">
                <button type="submit" name="action" value="reset_channels_passes_run" class="btn bg-gradient-primary my-4 mb-2" style="flex: 1; margin-right: 5px;">Run</button>
              </div>
            </div>
          {% endif %}
          <hr>
        </form>
        <h4 for="log-output">Live Process Log (While Running)</h4>
        <pre style="white-space: pre; overflow-x: auto; border: 1px solid #ccc; padding: 10px; height: 400px; overflow-y: scroll;">
          <div id="log-output" style="text-align: left; white-space: pre-wrap;"></div>
        </pre>
      </div>
    </div>
    <div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loadingModalLabel">Processing</h5>
          </div>
          <div class="modal-body">
            Please wait while the process completes...
          </div>
        </div>
      </div>
    </div>
    
    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<!-- Process Box -->
<script>
  document.getElementById('process-form').addEventListener('submit', function(event) {
    const logOutput = document.getElementById("log-output");
    logOutput.innerHTML = ""; // Clear previous log content

    // Show the modal
    const loadingModal = new bootstrap.Modal(document.getElementById('loadingModal'), {
      backdrop: 'static',
      keyboard: false
    });
    loadingModal.show();

    // Disable all navigation links
    document.querySelectorAll('a').forEach(element => {
      element.setAttribute('disabled', 'true');
      element.addEventListener('click', function(event) {
        event.preventDefault();
      });
    });

    setTimeout(() => {
      const eventSource = new EventSource("/stream_log");
      eventSource.onmessage = function(event) {
        logOutput.innerHTML = event.data + "<br>" + logOutput.innerHTML;
      };
      eventSource.onerror = function() {
        eventSource.close();
        // Re-enable all navigation links when the process is complete
        document.querySelectorAll('a').forEach(element => {
          element.removeAttribute('disabled');
        });
        loadingModal.hide();
      };
    }, 0); // Delay to ensure the process starts before streaming logs
  });
</script>
{% endblock javascripts %}
