<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark" id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" style="display: flex; align-items: center;">
      <img src="/static/assets/img/slm_navicon.png" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold text-white" style="margin-top: 7px;">&nbsp;&nbsp;&nbsp;&nbsp;Navigation</span>
    </a>
  </div>  
  <hr class="horizontal light mt-0 mb-2">
  <div class="collapse navbar-collapse w-auto max-height-vh-100" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white {% if 'index' in segment %} active bg-gradient-primary {% endif %}" 
            href="/home">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">home</i>
          </div>
          <span class="nav-link-text ms-1">Home</span>
        </a>
      </li>
      {% if html_slm_stream_link_file_manager %}
        <li class="nav-item">
          <a class="nav-link text-white" 
              data-bs-toggle="collapse" href="#collapseStreamLinkFileManager" role="button" aria-expanded="false" aria-controls="collapseStreamLinkFileManager">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">connected_tv</i>
            </div>
            <span class="nav-link-text ms-1">Stream Links & Files</span>
          </a>
          <div class="collapse {% if 'addprograms' in segment or 'modifyprograms' in segment %}show{% endif %}" id="collapseStreamLinkFileManager">
            <ul class="navbar-nav ms-3">
              <li class="nav-item">
                <a class="nav-link text-white {% if 'addprograms' in segment %} active bg-gradient-primary {% endif %}" 
                    href="/addprograms">
                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">add_box</i>
                  </div>
                  <span class="nav-link-text ms-1">Add Programs</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white {% if 'modifyprograms' in segment %} active bg-gradient-primary {% endif %}" 
                    href="/modifyprograms">
                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">edit</i>
                  </div>
                  <span class="nav-link-text ms-1">Modify Programs</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      {% endif %}
      {% if html_slm_playlist_manager %}
      <li class="nav-item">
        <a class="nav-link text-white" 
            data-bs-toggle="collapse" href="#collapsePlaylistManager" role="button" aria-expanded="false" aria-controls="collapsePlaylistManager">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">playlist_play</i>
          </div>
          <span class="nav-link-text ms-1">Playlists</span>
        </a>
        <div class="collapse {% if 'plm_main' in segment or 'plm_modify_assigned_stations' in segment or 'plm_parent_stations' in segment or 'plm_manage' in segment %}show{% endif %}" id="collapsePlaylistManager">
          <ul class="navbar-nav ms-3">
            <li class="nav-item">
              <a class="nav-link text-white {% if 'plm_main' in segment %} active bg-gradient-primary {% endif %}" 
                  href="/playlists/plm_main">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">playlist_add_check</i>
                </div>
                <span class="nav-link-text ms-1">Main</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white {% if 'plm_modify_assigned_stations' in segment %} active bg-gradient-primary {% endif %}" 
                  href="/playlists/plm_modify_assigned_stations">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">assignment</i>
                </div>
                <span class="nav-link-text ms-1">Assigned Stations</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white {% if 'plm_parent_stations' in segment %} active bg-gradient-primary {% endif %}" 
                  href="/playlists/plm_parent_stations">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">escalator_warning</i>
                </div>
                <span class="nav-link-text ms-1">Parent Stations</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white {% if 'plm_manage' in segment %} active bg-gradient-primary {% endif %}" 
                  href="/playlists/plm_manage">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">subscriptions</i>
                </div>
                <span class="nav-link-text ms-1">Manage Playlists</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      {% endif %}
      {% if html_slm_media_tools_manager %}
        <li class="nav-item">
          <a class="nav-link text-white" 
              data-bs-toggle="collapse" href="#collapseTools" role="button" aria-expanded="false" aria-controls="collapseTools">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">construction</i>
            </div>
            <span class="nav-link-text ms-1">Tools</span>
          </a>
          <div class="collapse {% if 'reports_queries' in segment or 'tools_gracenotesearch' in segment or 'tools_csvexplorer' in segment or 'tools_automation' in segment %}show{% endif %}" id="collapseTools">
            <ul class="navbar-nav ms-3">
              <li class="nav-item">
                <a class="nav-link text-white {% if 'reports_queries' in segment %} active bg-gradient-primary {% endif %}" 
                    href="/reports_queries">
                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">poll</i>
                  </div>
                  <span class="nav-link-text ms-1">Reports & Queries</span>
                </a>
              </li>
              {% if html_slm_channels_dvr_integration %}
                <li class="nav-item">
                  <a class="nav-link text-white {% if 'tools_gracenotesearch' in segment %} active bg-gradient-primary {% endif %}" 
                      href="/tools_gracenotesearch">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="material-icons opacity-10">dvr</i>
                    </div>
                    <span class="nav-link-text ms-1">Gracenote Search</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white {% if 'tools_csvexplorer' in segment %} active bg-gradient-primary {% endif %}" 
                      href="/tools_csvexplorer">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="material-icons opacity-10">api</i>
                    </div>
                    <span class="nav-link-text ms-1">CSV Explorer</span>
                  </a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link text-white {% if 'tools_automation' in segment %} active bg-gradient-primary {% endif %}" 
                    href="/tools_automation">
                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">account_tree</i>
                  </div>
                  <span class="nav-link-text ms-1">Automation</span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link text-white" 
            data-bs-toggle="collapse" href="#collapseControls" role="button" aria-expanded="false" aria-controls="collapseControls">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">developer_board</i>
          </div>
          <span class="nav-link-text ms-1">Controls</span>
        </a>
        <div class="collapse {% if 'runprocess' in segment or 'files' in segment or 'logs' in segment or 'settings' in segment %}show{% endif %}" id="collapseControls">
          <ul class="navbar-nav ms-3">
            <li class="nav-item">
              <a class="nav-link text-white {% if 'runprocess' in segment %} active bg-gradient-primary {% endif %}" 
                  href="/runprocess">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">play_circle</i>
                </div>
                <span class="nav-link-text ms-1">Run Processes</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white {% if 'files' in segment %} active bg-gradient-primary {% endif %}" 
                  href="/files">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">folder_open</i>
                </div>
                <span class="nav-link-text ms-1">Files</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white {% if 'logs' in segment %} active bg-gradient-primary {% endif %}" 
                  href="/logs">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">receipt_long</i>
                </div>
                <span class="nav-link-text ms-1">Logs</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white {% if 'settings' in segment %} active bg-gradient-primary {% endif %}" 
                  href="/settings">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">settings</i>
                </div>
                <span class="nav-link-text ms-1">Settings</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white {% if 'about' in segment %} active bg-gradient-primary {% endif %}" 
            href="/about">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">info</i>
          </div>
          <span class="nav-link-text ms-1">About</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidenav-footer position-absolute w-100 bottom-0 ">
    <div class="mx-3">
      <a class="btn bg-gradient-primary mt-4 w-100" 
          target="_blank" 
          href="https://community.getchannels.com/t/42369" type="button">Help & Resources</a>
    </div>
  </div>
 </aside>